<input type="hidden" id="mode" name="mode" value="command">
<input type="hidden" id="command" name="command" value="menu">
<input type="hidden" id="subcmd" name="subcmd" value="">

<div class="cmd_tag_container">
	<div type="button" id="common_cmd_tag" class="cmd_tag choosed" onclick="tag_choose('common')"><img src="img/tag_common.png"> 基本</div>
	<div type="button" id="item_cmd_tag" class="cmd_tag" onclick="tag_choose('item')"><img src="img/tag_item.png"> 道具</div>
	<div type="button" id="special_cmd_tag" class="cmd_tag" onclick="tag_choose('special')"><img src="img/tag_special.png"> 特殊</div>
</div>
<hr class="cmd_tag">
<div id="common_cmd_subpage" class="cmd_subpage">
	<!--探索移动按钮-->
	<!--{if (defined('MOD_EXPLORE'))}-->
	{template MOD_EXPLORE_EXPLORE}
	<!--{/if}-->
	<!--视野-->
	<!--{if (defined('MOD_SEARCHMEMORY'))}-->
	{template MOD_SEARCHMEMORY_SMEMORYLIST}
	<!--{/if}-->
	
	<!--道具按钮-->
	<div class="cmd_row">
		<!--{loop $item_hotkey_id_list $ii $ihotkey}-->
			<div class="cmd_positioner itm_cmd">
				<!--{if ${'itms'.$ii}}-->
					<!--{eval $tmp_itmname = \itemmain\parse_itmname_words(${'itm'.$ii}, 1, 13);}-->
					<div class="itm_cmd_info">
						<div class="itm_name">
						<!--{if $tmp_itmname==${'itm'.$ii}}-->
							${'itm'.$ii}
						<!--{else}-->
							{$tmp_itmname}
						<!--{/if}-->
						</div>
						<div class="grey">$tpldata['itme'.$ii.'_words'] / $tpldata['itms'.$ii.'_words']</div>
					</div>
					<input type="button" id="{$ihotkey}" class="cmd_button itm_cmd_button glow_buttons white" 
						value="<!--{if !empty(${'itmk'.$ii}) && in_array(${'itmk'.$ii}[0], array('W','D','A'))}-->装备<!--{else}-->使用<!--{/if}-->" 
						title="<!--{eval if($tmp_itmname!=${'itm'.$ii}) echo ${'itm'.$ii}.'<br>';echo $tpldata['itm'.$ii.'_itmuse_desc'];}-->" 
						onclick="$('mode').value='command';$('command').value='itm{$ii}';postCmd('gamecmd','command.php',this);">
				<!--{else}-->
					<input type="button" class="cmd_button itm_cmd_button glow_buttons grey forbidden" value="无道具">
				<!--{/if}-->
			</div>
			<!--{if $ii%3==0}--><br><!--{/if}-->
		<!--{/loop}-->
	</div>
	
	<div class="cmd_row">
		<!--{if defined('MOD_ITEMSHOP')}-->
		{template MOD_ITEMSHOP_ITEMSHOP_CMD}
		<!--{/if}-->
		<!--{if defined('MOD_CLUBBASE')}-->
		{template MOD_CLUBBASE_SKILLPAGE_PROFILE}
		<!--{/if}-->
	</div>
	
	
</div>
<div id="item_cmd_subpage" class="cmd_subpage" style="display:none">
	<!--{if defined('MOD_ITEMMAIN')}-->
	{template MOD_ITEMMAIN_ITMCOMMAND}
	<!--{/if}-->
</div>
<div id="special_cmd_subpage" class="cmd_subpage" style="display:none">
	<!--{if defined('MOD_REST')}-->
	{template MOD_REST_REST_CMD}
	<!--{/if}-->
	<!--{if defined('MOD_TEAM')}-->
	{template MOD_TEAM_TEAM_COMMAND}
	<!--{/if}-->
	<!--{if defined('MOD_SONG')}-->
	{template MOD_SONG_SONG_PROFILE}
	<!--{/if}-->
	<div class="cmd_row">
		<!--{if defined('MOD_CLUBBASE')}-->
		{template MOD_CLUBBASE_PROFILESKILLPAGE}
		<!--{/if}-->
	</div>
</div>
