<div style="margin-left:5px;">
<!--{eval $count_plsinfo = count($plsinfo);$i = 0;}-->
<!--{loop $plsinfo $plsi $plsn}-->
	<!--{if !\map\check_can_enter($plsi)}-->
		<input type="button" class="move_to_button glow_buttons darkgrey forbidden" value="{$plsn}">
	<!--{elseif $pls == $plsi}-->
		<input type="button" class="move_to_button glow_buttons yellow forbidden" value="{$plsn}">
	<!--{else}-->
		<input type="button" class="move_to_button glow_buttons white" value="{$plsn}" 
		onclick="$('command').value='move';$('moveto').value='{$plsi}';postCmd('gamecmd','command.php',this);">
	<!--{/if}-->
<!--{/loop}-->
</div>
<div class="glow_buttons red" style="text-align:center;line-height:35px;width:335px;height:35px;margin:5px 0 0 5px;" onclick="bubblebox_hide_all();">返回</div>