<div style="position:relative;height:325px;">
	<div class="profile_box" style="width:475px; height:65px;">
		<div class="profile_row">
			<div class="profile_bar" style="width:118px">
				<!--{if defined('MOD_WEATHER')}-->
					{template MOD_WEATHER_PROFILE_WEATHER}
				<!--{/if}-->
			</div>
			<div class="profile_bar" style="width:203px">
				<span class="typename">地点</span><span class="main_cont">$plsinfo[$pls]</span>
			</div>
			<div class="profile_bar" style="width:128px">
				<!--{if ($gamestate == 40 ||($gametype == 17 && \skillbase\skill_getvalue(1000,'step')>=206))}--><span class="yellow b">{lang combo}</span> <!--{/if}--><!--{if $gamestate == 50 }--><span class="red b">{lang duel}</span> <!--{/if}--> 
				<span class="typename">剩余</span><span class="main_cont">{$alivenum}人</span>
			</div>
		</div>
		<div class="profile_row">
			<div class="profile_bar" style="width:118px">
				{template MOD_MAP_PROFILE_AREAINFO}
			</div>
			<div class="profile_bar" style="width:338px">
				<span class="typename">下次禁区</span><span class="main_cont">{$uip['next_area']}</span>
			</div>
		</div>
	</div>
	
	<div class="profile_box" style="width:235px; height:296px; left:485px;">
		<div class="profile_row">
			<div class="profile_bar right_panel">
				<span class="main_cont">$uip['cardname_show'] $name</span>
			</div>
		</div>
		<div class="profile_row">
			<!--头像和CD显示-->
			<div class="profile_bar right_panel" style="width:140px;height:80px;">
				<img src="img/$iconImg" border="0" style="width:140;height:80;<!--{if $hp==0}-->filter: grayscale(100%)<!--{/if}-->">
			</div>
			<div class="profile_bar right_panel" style="width:76px">
				<span class="main_cont">{$sexinfo[$gd]}{$sNo}号</span>
			</div>
			<div class="profile_bar right_panel" style="position:absolute;top:30px;left:147px;width:76px;height:50px">
				<span class="typename">队伍</span><br><span class="main_cont">$teamID</span>
			</div>
		</div>
		<div class="profile_row">
			<div class="profile_bar right_panel state_panel" style="height:168px;position:relative;">
				<div style="display:inline-block;position:absolute;z-index:5;left:5px;top:5px;width:100px;height:165px;">
					<!--{if defined('MOD_WOUND')}-->
						{template MOD_WOUND_WOUND_PICTURE}
					<!--{/if}-->
					<div>
					<!--{if $hp <= 0}-->
						<img src="img/dead.gif" style="width:94;height:40">
					<!--{elseif $hp <= $mhp*0.2}-->
						<img src="img/danger.gif" style="width:95;height:37">
					<!--{elseif $hp <= $mhp*0.5 || $inf!=''}-->
						<img src="img/caution.gif" style="width:95;height:36">
					<!--{else}-->
						<img src="img/fine.gif" style="width:81;height:38">
					<!--{/if}-->
					</div>
				</div>
				<div style="display:inline-block;position:relative;margin-left:100px;width:55px;height:165px;">
					<img src="img/state1.gif" style="position:absolute;top:0;left:0;z-index:0;">
					<div style="position:absolute;top:0;left:0;z-index:2;">
						$newspimg
					</div>
					<!--{if $sp > 0}-->
					<div style="position:absolute;top:0;left:0;z-index:1;">
						$splt
					</div>
					<!--{/if}-->
				</div>
				<div style="display:inline-block;position:relative;width:55px;height:165px;">
					<img src="img/state2.gif" style="position:absolute;top:0;left:0;z-index:0;">
					<div style="position:absolute;top:0;left:0;z-index:2;">
						$newhpimg
					</div>
					<!--{if $hp > 0}-->
					<div style="position:absolute;top:0;left:0;z-index:1;">
						$hplt
					</div>
					<!--{/if}-->
				</div>
			</div>
		</div>
	</div>
	<div class="profile_box" style="width:475px; height:221px; top:75px;">
		<div class="profile_row">
			<div class="profile_bar">
				<span class="typename">等级</span><span class="main_cont" title="经验值 $exp / $upexp 升级阈值">Lv. $lvl</span>
			</div>
			<div class="profile_bar">
				<!--{if defined('MOD_GTYPE1') && $gametype==1}-->
					{template MOD_GTYPE1_SHOWHACKLEVEL}
				<!--{else}-->
					<span class="typename">击杀数</span><span class="main_cont" title="击杀玩家数 + 击杀NPC数">$killnum <span class="grey">+</span> $npckillnum</span>
				<!--{/if}-->
			</div>
			<div class="profile_bar">
				<!--{if defined('MOD_APM')}-->
				{template MOD_APM_PROFILE}
				<!--{/if}-->
			</div>
		</div>
		<div class="profile_row">
			<div class="profile_bar">
				<span class="typename">金钱</span><span class="main_cont"><!--{if $money>20}--><span class="gold b">$money</span><!--{else}-->$money<!--{/if}--></span>
			</div>
			<div class="profile_bar">
				<span class="typename">怒气</span><span class="main_cont"><!--{if $rage >= 30}--><span class="yellow b">$rage</span><!--{else}-->$rage<!--{/if}--></span>
			</div>
			<div class="profile_bar">
				<span class="typename">技能点</span><span class="main_cont"><!--{if $skillpoint>0}--><span class="lime b">$skillpoint</span><!--{else}-->$skillpoint<!--{/if}--></span>
			</div>
		</div>
		<div class="profile_row">
			<div class="profile_bar">
				<span class="typename">攻击</span><span class="main_cont" title="攻击力 $uip['att_words']">{$uip['total_att']}</span>
			</div>
			<div class="profile_bar">
				<span class="typename">防御</span><span class="main_cont" title="防御力 $uip['def_words']">{$uip['total_def']}</span>
			</div>
			<div class="profile_bar">
				<!--{eval $dummy = \player\create_dummy_playerdata();$dummy['type'] = 1;$tmp_active_rate = \enemy\get_final_active_obbs($sdata,$dummy);$tmp_active_words = $sdata['active_words'];
				$dummy['pose'] = 4;$tmp_active_rate_2 = \enemy\get_final_active_obbs($sdata,$dummy);$tmp_active_words_2 = $sdata['active_words'];
				$dummy['pose'] = 2;$tmp_active_rate_3 = \enemy\get_final_active_obbs($sdata,$dummy);$tmp_active_words_3 = $sdata['active_words'];}-->
				<span class="typename">先手</span><span class="main_cont" title="先手率(VS通常NPC) $tmp_active_rate = $tmp_active_words<br>先手率(VS偷袭NPC) $tmp_active_rate_2 = $tmp_active_words_2<br>先手率(VS强袭NPC) $tmp_active_rate_3 = $tmp_active_words_3<br>面对玩家时，先手率基础值-5%">{$tmp_active_rate}%</span>
			</div>
		</div>
		<div class="profile_row">
			<div class="profile_bar">
				<span class="typename">生命</span><span class="main_cont"><span class="$hpcolor">$hp / $mhp</span></span>
			</div>
			<div class="profile_bar">
				<span class="typename">体力</span><span class="main_cont"><span class="$spcolor">$sp / $msp</span></span>
			</div>
			<div class="profile_bar">
				<span class="typename">歌魂</span><span class="main_cont"><span class="<!--{if $ss <= $mss*0.2}-->grey b<!--{elseif $ss <= $mss*0.5}-->yellow b<!--{else}-->cyan b<!--{/if}-->">$ss / $mss</span></span>
			</div>
		</div>
		<div class="profile_row">
			<div class="profile_bar">
				<span class="typename">称号</span><span class="main_cont">
					<!--{if defined('MOD_CLUBBASE')}-->
						{template MOD_CLUBBASE_CLUB_PROFILE}
					<!--{/if}-->
				</span>
			</div>
			<div class="profile_bar">
				<span class="typename">基础姿态</span><span class="main_cont">
					<!--{if defined('MOD_POSE')}-->
						{template MOD_POSE_POSE_PROFILE_CMD}
					<!--{/if}-->
				</span>
			</div>
			<div class="profile_bar">
				<span class="typename">应战策略</span><span class="main_cont">
					<!--{if defined('MOD_TACTIC')}-->
						{template MOD_TACTIC_TACTIC_PROFILE_CMD}
					<!--{/if}-->
				</span>
			</div>
		</div>
		<hr>
		<!--{if defined('MOD_WEAPON')}-->
			{template MOD_WEAPON_PROFILE_WEPSKILL}
		<!--{/if}-->
		
	</div>
	<!--<div class="profile_box" style="width:235px; height:160px; left:485px; top:75px;">
		
	</div>-->
</div>

<div style="position:relative">
<table border="0" width="720" height="100%" cellspacing="0" cellpadding="0"  valign="middle">
	
	<tr>
		<td>
  		<TABLE id="packs" border="0" cellSpacing=0 cellPadding=0 height=140 width=720>
  			<tr>
      		<td>
		      	<!--{if defined('MOD_ITEMMAIN')}-->
				{template MOD_ITEMMAIN_PROFILE_EQUIPMENTS}
				<!--{/if}-->
			</td>
			<td>
				<!--{if defined('MOD_ITEMMAIN')}-->
				{template MOD_ITEMMAIN_PROFILE_BACKPACK}
				<!--{/if}-->
      		</td>
      	</tr>
			</TABLE>
		</td>
	</tr>
</table>
<!--{if defined('MOD_SKILL504') && \skillbase\skill_query(504)}-->
<!--{eval \skill504\skill504_get_popko_html();}-->
<!--{/if}-->
</div>
