<!--{eval eval(import_module('sys','rest'));}-->
<!--{eval \rest\init_rest_timing();}-->
<input type="hidden" id="mode" name="mode" value="rest">
<input type="hidden" id="command" name="command" value="rest">
<div class="cmd_row" style="margin-top:10px;">
	<div class="glow_buttons grey fobidden" style="margin:0;width:336px;height:35px;">
		<span class="white" style="line-height:35px">{$restinfo[$state]}中……已经过<span class="yellow b" id="rest_timing">{$uip['timing']['rest_timing']['timing']}</span>秒</span>
	</div>
</div>
<div class="cmd_row">
	<div class="cmd_positioner explore_cmd">
		<input type="button" class="cmd_button explore_cmd glow_buttons white" id="z" value="$restinfo[$state]" 
			onclick="postCmd('gamecmd','command.php',this);">
	</div>
	<div class="cmd_positioner explore_cmd">
		<input type="button" class="cmd_button explore_cmd glow_buttons white" id="x" value="返回" 
		onclick="$('command').value='back';postCmd('gamecmd','command.php',this);">
	</div>
</div>
<!--{if CURSCRIPT == 'game'}-->
<script type="text/javascript">updateTime('rest_timing', {$uip['timing']['rest_timing']['timing']}, {$uip['timing']['rest_timing']['mode']}, 1000, 's');</script>
<!--{/if}--> 