*.swp
ideas.txt
nohup.out
include/modules/core/sys/config/server.config.php
include/modulemng/modulemng.config.php
gamedata/adminlog.php
gamedata/adminmsg.htm
gamedata/systemmsg.htm
gamedata/modules.list.temp.php
gamedata/modules.list.pass.php
templates/default/itemhelp.htm
templates/default/mixhelp.htm
gamedata/combatinfo.php
gamedata/newsinfo.php
php_errors.log
gamedata/gameinfo.php
a.txt
gamedata/sql/players - 副本.sql
test.php
*.bak