body {text-align: center; background-position: 50% 50%; background-image: url("../../img/PB.gif"); background-attachment: fixed; background-repeat: no-repeat; font: 12px Tahoma, Verdana;cursor: crosshair; margin: 0; background-color: #111; color:#ddd;}
a {font:normal normal bold 10pt "微软雅黑";text-decoration: none;color: #ddd; cursor: crosshair;line-height:16px}
a:hover {color: #98fb98;text-decoration:underline}
table {align:center;border: 0px;}
tr {font-size: 10pt; margin: 0px;}
td {font-size: 10pt; margin: 0px;}
th {font-size: 10pt; margin: 0px;}
span {font-family: "微软雅黑";font-size: 10pt;line-height:16px;}
p {font-family: "微软雅黑";line-height:16px;}
li {font:bold 10pt "微软雅黑";line-height:16px}
input {cursor: crosshair;}
.b {font-weight:bold;}
.title {font-family: "微软雅黑"; margin: 6px;color: #cceafa; width: 100%;filter:blur(add=1,direction=90,strength=12):glow(strength=5,color=gold); font-weight:900; text-decoration:underline;font-size: 30px;}
.subtitle {font-family: "微软雅黑"; margin: 6px;color: #cceafa; width: 100%;font-size: 24px;font-weight:400;}
.headerlink{}
.small {font-size: 9pt}
.ver a{font:10pt "Viner Hand ITC","隶书";color:#ff0000;}
.b1 {background-color:rgba(98,135,163,0.6); *BACKGROUND: rgb(98,135,163); *filter:alpha(opacity=60); BORDER: #000 0px none; TEXT-ALIGN: center; COLOR: #fff; border-right: #111 1px solid; border-bottom: #111 1px solid;font:bold 10pt "微软雅黑";}
.b2 {background-color:rgba(98,135,163,0.6); *BACKGROUND: rgb(98,135,163); *filter:alpha(opacity=80); BORDER: #000 0px none; TEXT-ALIGN: center; COLOR: #fff; border-right: #111 1px solid;font:10pt "微软雅黑";}
.b3 {background-color:rgba(17,17,17,0.5); *BACKGROUND:rgb(17,17,17); *filter:alpha(opacity=50); BORDER: #000 0px none; color: #fff; text-align: center; border-right: #111 1px solid;font:10pt "微软雅黑";}
.b4 {BORDER: #000 0px none; color: #fff; text-align: center;font: 10pt "微软雅黑";}
.b5 {BORDER: #000 0px none; color: #fff; text-align: center;font: 10pt "微软雅黑";}
.b6 {background-color:rgba(0,99,0,0.65); *BACKGROUND:rgb(0,99,0); *filter:alpha(opacity=65); BORDER: #000 0px none; color: #fff; text-align: center; border-right: #111 1px solid;font:10pt "微软雅黑";}
.b7 {background-color:rgba(99,0,0,0.65); *BACKGROUND:rgb(99,0,0); *filter:alpha(opacity=65); BORDER: #000 0px none; color: #fff; text-align: center; border-right: #111 1px solid;font:10pt "微软雅黑";}
.b8 {background-color:rgba(17,17,17,0.5); *BACKGROUND:rgb(17,17,17); *filter:alpha(opacity=50); BORDER: #000 0px none; color: #fff; text-align: center;font:10pt "微软雅黑";}
.map {background-color:rgba(17,17,17,0.5); *BACKGROUND:rgb(17,17,17); *filter:alpha(opacity=50);BORDER: #111 1px solid;text-align: center;font: bold 10pt "微软雅黑";}
.map2 {BORDER: #111 1px solid;text-align: center;font: bold 10pt "微软雅黑";}
.maptdred {background-color:rgba(255,0,0,0.25); *BACKGROUND:#f00; *filter:alpha(opacity=25);BORDER: #111 1px solid;text-align: center;font: bold 10pt "微软雅黑";}
.maptdyellow {background-color:rgba(255,255,0,0.25); *BACKGROUND:#ff0; *filter:alpha(opacity=25);BORDER: #111 1px solid;text-align: center;font: bold 10pt "微软雅黑";}
.maptdlime {background-color:rgba(0,255,0,0.2); *BACKGROUND:#0f0; *filter:alpha(opacity=20);BORDER: #111 1px solid;text-align: center;font: bold 10pt "微软雅黑";}
.mapspanred{color:#f00;position:relative;font-size: 9pt;line-height:16px}
.mapspanlime{color:#0f0;position:relative;font-size: 9pt;line-height:16px}
.mapspanyellow{color:#ff0;position:relative;font-size: 9pt;line-height:16px}

.b1 span{position:relative;}
.b2 span{position:relative;}
.b3 span{position:relative;}
.b1 div{position:relative;}
.b2 div{position:relative;}
.b3 div{position:relative;}

table.admin {
	border:0;
	padding:0;
	BACKGROUND: #000;
}

table.admin th {	
	BACKGROUND: #3A4273;
	color: #FFFFFF;
	font: bold 10pt "微软雅黑";
	TEXT-ALIGN: center;
}

table.admin td {
	BACKGROUND: #E3E3EA;
	color: #3A4273;
	font: normal 10pt "微软雅黑";
	TEXT-ALIGN: left;
}

table.admin td.tdtitle {
	BACKGROUND: #E3E3EA;
	color: #3A4273;
	font: bold 12pt "微软雅黑";
	TEXT-ALIGN: center;
}

.Disabled{opacity:0.7;}

.clit {color: #feea23; font:18pt "微软雅黑"; }
.black{color:#000000; font-size:10pt;font-family:"微软雅黑";}
.yellow{color:#ffff00; font: bold 10pt "微软雅黑";}
.orange{color:#ff9900; font-size:10pt;font-family:"微软雅黑";}
.gold{color:rgb(255,215,0); font-size:10pt;font-family:"微软雅黑";}
.clan{color: #00ffff;font: bold 10pt "微软雅黑";}
.lightblue{color: #00ffff;font-size:10pt;font-family:"微软雅黑";}
.blue{color: #0000ff;font: bold 10pt "微软雅黑";}
.red{color: #ff0000;font: bold 10pt "微软雅黑";}
.green{color: #008000;font: bold 10pt "微软雅黑";}
.lime{color: #00ff00;font: bold 10pt "微软雅黑";}
.purple{color: #9900cc;font: bold 10pt "微软雅黑";}
.brickred{color:#fa8072;font-size:10pt;font-family:"微软雅黑";}
.seagreen{color:#4eee94;font: 10pt "微软雅黑";}
.evergreen{color:#98fb98;font: bold 10pt "微软雅黑";}
.white{color:#ffffff;font: bold 10pt "微软雅黑";}
.evergreen2{color:#98fb98;font:18pt "微软雅黑";}
.dmg {color:#ff0000;font: bold 10pt "微软雅黑";}
.grey{color:#999; font: bold 10pt "微软雅黑";}
.linen{color:rgb(200,192,184); font: bold 10pt "微软雅黑";}s
.L5{color: #ff0000;font: bold 10pt "微软雅黑";background:url("../../img/backround4.gif") repeat-x;}

#main {
white-space:nowrap;
vertical-align:middle;
}
.battle td{
text-align: center;
}
#chatlist{
MARGIN: 0px;
height:120px;
width:100%;
word-break:break-all;
overflow:auto;
position:relative;
}
#sendchat{
MARGIN: 0px;
padding:0px;
border:0px; 
height:35px;
width:100%;
}
#chatmsg{
width:500px;
border-right: #ddc 2px solid;
border-top: #666 2px solid;
border-left: #666 2px solid;
border-bottom: #ddc 2px solid;
}
#log{
	line-height:15px
}
.footerline {
height: 1px;
background-image: url("../../img/footer_line.gif");
}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix {display: inline-table;} /* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */ 

#gamecmd input.cmdbutton{
	width:80px;height:25px;margin:2;
}


input.bigbutton{
	width:120px;height:25px;margin:2;
}

.auto-style1 {
	border-width: 0px;
}

div.skill_unacquired
{
	position:relative; left:0px; top:0px; 
	background-color:#ffffff; 
	height:100%; width:100%; 
	filter:alpha(opacity=18); -moz-opacity:0.18; opacity:0.18; -khtml-opacity: 0.18;
}
div.skill_unacquired_transparent
{
	position:relative; left:0px; top:0px; 
	height:100%; width:100%; 
}
div.skill_unacquired_hint
{
	position:absolute; left:0px; top:0px; height:100%; width:100%;
}
div.skill_unacquired_hint_transparent
{
	position:absolute; left:0px; top:0px; height:100%; width:100%;
	background-color:#000000; 
	filter:alpha(opacity=0.1); -moz-opacity:0.1; opacity:0.1; -khtml-opacity: 0.1;
}
.lockcard
{
	background-color: #ffffff;
	opacity: 0.3;
}

#progressbar-border
{
	width:100%;
	height:15px;
	background-color: #000000;
	border:1px solid #ffffff;
	overflow:hidden;
}

#progressbar-inner3
{
	width:0%;
	height:15px;
	background: #3333ff; 
}
#progressbar-text3
{
	position:relative;
	left: 135px;
	color: #ffffff;
	top: -16px; 
}

.Pulse{
	-webkit-animation-name: brightPulse; -webkit-animation-duration: 2s;-webkit-animation-iteration-count: infinite; 
}

.TransPulse{
	-webkit-animation-name: brightTransPulse; -webkit-animation-duration: 2s;-webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes brightPulse{
	from {  -webkit-box-shadow: 0 0 12px #666; }
  50% { background-color: #fa5; -webkit-box-shadow: 0 0 24px 2px #fa5; }
  to {  -webkit-box-shadow: 0 0 12px #666; }
}

@-webkit-keyframes brightTransPulse{
	from {  -webkit-box-shadow: 0 0 12px #666; }
  50% {  -webkit-box-shadow: 0 0 24px 2px #fa5; }
  to {  -webkit-box-shadow: 0 0 12px #666; }
}