<tr>
	<td>
		<span class="subtitle" align="left">$v</span>
		<!--{if isset($ach_available_period[$k]) && $ach_available_period[$k][0] > 0}-->
			开始时间：<!--{eval echo gmstrftime('%Y-%m-%d', $ach_available_period[$k][0]);}-->
		<!--{/if}-->
		&nbsp;&nbsp;&nbsp;
		<!--{if isset($ach_available_period[$k]) && $ach_available_period[$k][1] > 0}-->
			结束时间：<!--{eval echo gmstrftime('%Y-%m-%d', $ach_available_period[$k][1]);}-->
			<!--{if $ach_available_period[$k][1] < $now}-->
				 <span class="red b">已结束</span>
			<!--{/if}-->
		<!--{/if}-->
		<!--{if $v=='日常任务'}-->
		<!--{if $curuser}--><!--{if !$ff}--><span class="yellow b">下次可获取每日任务时间：{$ftd}</span><!--{else}--><button type="button" class="b_button bc_white" onclick="window.location.href='user_profile.php?action=refdaily';this.disabled=true">点击获得新的每日任务</button><!--{/if}--><!--{/if}-->
		<br>
		<!--{/if}-->
		<div>
			<!--{eval $showarr = \achievement_base\show_achievements_single_type($u_acharr,$k);}-->
			<!--{loop $showarr $si $sv}-->
				<!--{if $si % $ach_show_num_per_row == 0}-->
				<div>
				<!--{/if}-->
					<div class="<!--{if $sv}-->ach_box<!--{else}-->ach_box_empty<!--{/if}-->" align="left" valign="top">
						<div>$sv</div>
					</div>
				<!--{if $si % $ach_show_num_per_row == $ach_show_num_per_row - 1}-->
				</div>
				<!--{/if}-->
			<!--{/loop}-->
		</div>
		</td>
	</tr>