<!--{if $command=='check'}-->
<form method="post" name="pcmng" onsubmit="admin.php">
	<input type="hidden" name="mode" value="pcmng">
	<input type="hidden" id="command" name="command" value="list">
	<input type="hidden" name="start" value="$start">
	<input type="hidden" name="checkmode" value="$checkmode">	
	<input type="hidden" name="checkinfo" value="$checkinfo">
	<input type="hidden" name="name" value="{$pc['name']}">
	<input type="hidden" name="pid" value="{$pc['pid']}">
	
	<input type="hidden" name="itm0" value="{$pc['itm0']}">
	<input type="hidden" name="itme0" value="{$pc['itme0']}">
	<input type="hidden" name="itmk0" value="{$pc['itmk0']}">
	<input type="hidden" name="itms0" value="{$pc['itms0']}">
	<input type="hidden" name="itmsk0" value="{$pc['itmsk0']}">
	<table class="admin">
		<tr>		
			<th>属性名</th>
			<th>属性值</th>
			<th>装备属性</th>
			<th>装备数值</th>
			<th>包裹属性</th>
			<th>包裹数值</th>
		</tr>
		<tr>		
			<td>姓名</td>
			<td>{$pc['name']}</td>
			<td>武器</td>
			<td><input size="20" type="text" name="wep" value="{$pc['wep']}" maxlength="30"></td>
			<td>包裹1</td>
			<td><input size="20" type="text" name="itm1" value="{$pc['itm1']}" maxlength="30"></td>
		</tr>
		<tr>		
			<td>性别</td>
			<td><input size="20" type="text" name="gd" value="{$pc['gd']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="wepk" value="{$pc['wepk']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="itmk1" value="{$pc['itmk1']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>学号</td>
			<td><input size="20" type="text" name="sNo" value="{$pc['sNo']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="wepe" value="{$pc['wepe']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="itme1" value="{$pc['itme1']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>头像</td>
			<td><input size="20" type="text" name="icon" value="{$pc['icon']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="weps" value="{$pc['weps']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="itms1" value="{$pc['itms1']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>社团</td>
			<td><input size="20" type="text" name="club" value="{$pc['club']}" maxlength="20"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="wepsk" value="{$pc['wepsk']}" maxlength="255"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="itmsk1" value="{$pc['itmsk1']}" maxlength="255"></td>
		</tr>
		<tr>
			<td>生命</td>
			<td><input size="20" type="text" name="hp" value="{$pc['hp']}" maxlength="20"></td>
			<td>防具(体)</td>
			<td><input size="20" type="text" name="arb" value="{$pc['arb']}" maxlength="30"></td>
			<td>包裹2</td>
			<td><input size="20" type="text" name="itm2" value="{$pc['itm2']}" maxlength="30"></td>
		</tr>
		<tr>
			<td>最大生命</td>
			<td><input size="20" type="text" name="mhp" value="{$pc['mhp']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="arbk" value="{$pc['arbk']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="itmk2" value="{$pc['itmk2']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>体力</td>
			<td><input size="20" type="text" name="sp" value="{$pc['sp']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="arbe" value="{$pc['arbe']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="itme2" value="{$pc['itme2']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>最大体力</td>
			<td><input size="20" type="text" name="msp" value="{$pc['msp']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="arbs" value="{$pc['arbs']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="itms2" value="{$pc['itms2']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>基础攻击</td>
			<td><input size="20" type="text" name="att" value="{$pc['att']}" maxlength="20"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="arbsk" value="{$pc['arbsk']}" maxlength="255"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="itmsk2" value="{$pc['itmsk2']}" maxlength="255"></td>
		</tr>
		<tr>
			<td>基础防御</td>
			<td><input size="20" type="text" name="def" value="{$pc['def']}" maxlength="20"></td>
			<td>防具(头)</td>
			<td><input size="20" type="text" name="arh" value="{$pc['arh']}" maxlength="30"></td>
			<td>包裹3</td>
			<td><input size="20" type="text" name="itm3" value="{$pc['itm3']}" maxlength="30"></td>
		</tr>
		<tr>
			<td>位置</td>
			<td><input size="20" type="text" name="pls" value="{$pc['pls']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="arhk" value="{$pc['arhk']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="itmk3" value="{$pc['itmk3']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>等级</td>
			<td><input size="20" type="text" name="lvl" value="{$pc['lvl']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="arhe" value="{$pc['arhe']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="itme3" value="{$pc['itme3']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>经验</td>
			<td><input size="20" type="text" name="exp" value="{$pc['exp']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="arhs" value="{$pc['arhs']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="itms3" value="{$pc['itms3']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>钱</td>
			<td><input size="20" type="text" name="money" value="{$pc['money']}" maxlength="20"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="arhsk" value="{$pc['arhsk']}" maxlength="255"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="itmsk3" value="{$pc['itmsk3']}" maxlength="255"></td>
		</tr>
		<tr>
			<td>对手</td>
			<td><input size="20" type="text" name="bid" value="{$pc['bid']}" maxlength="20"></td>
			<td>防具(腕)</td>
			<td><input size="20" type="text" name="ara" value="{$pc['ara']}" maxlength="30"></td>
			<td>包裹4</td>
			<td><input size="20" type="text" name="itm4" value="{$pc['itm4']}" maxlength="30"></td>
		</tr>
		<tr>
			<td>受伤</td>
			<td><input size="20" type="text" name="inf" value="{$pc['inf']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="arak" value="{$pc['arak']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="itmk4" value="{$pc['itmk4']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>怒气</td>
			<td><input size="20" type="text" name="rage" value="{$pc['rage']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="arae" value="{$pc['arae']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="itme4" value="{$pc['itme4']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>基础姿态</td>
			<td><input size="20" type="text" name="pose" value="{$pc['pose']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="aras" value="{$pc['aras']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="itms4" value="{$pc['itms4']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>应战策略</td>
			<td><input size="20" type="text" name="tactic" value="{$pc['tactic']}" maxlength="20"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="arask" value="{$pc['arask']}" maxlength="255"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="itmsk4" value="{$pc['itmsk4']}" maxlength="255"></td>
		</tr>
		<tr>
			<td>杀人数</td>
			<td><input size="20" type="text" name="killnum" value="{$pc['killnum']}" maxlength="20"></td>
			<td>防具(足)</td>
			<td><input size="20" type="text" name="arf" value="{$pc['arf']}" maxlength="30"></td>
			<td>包裹5</td>
			<td><input size="20" type="text" name="itm5" value="{$pc['itm5']}" maxlength="30"></td>
		</tr>
		<tr>
			<td>殴熟</td>
			<td><input size="20" type="text" name="wp" value="{$pc['wp']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="arfk" value="{$pc['arfk']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="itmk5" value="{$pc['itmk5']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>斩熟</td>
			<td><input size="20" type="text" name="wk" value="{$pc['wk']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="arfe" value="{$pc['arfe']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="itme5" value="{$pc['itme5']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>枪熟</td>
			<td><input size="20" type="text" name="wg" value="{$pc['wg']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="arfs" value="{$pc['arfs']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="itms5" value="{$pc['itms5']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>投熟</td>
			<td><input size="20" type="text" name="wc" value="{$pc['wc']}" maxlength="20"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="arfsk" value="{$pc['arfsk']}" maxlength="255"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="itmsk5" value="{$pc['itmsk5']}" maxlength="255"></td>
		</tr>
		<tr>
			<td>爆熟</td>
			<td><input size="20" type="text" name="wd" value="{$pc['wd']}" maxlength="20"></td>
			<td>饰品</td>
			<td><input size="20" type="text" name="art" value="{$pc['art']}" maxlength="30"></td>
			<td>包裹6</td>
			<td><input size="20" type="text" name="itm6" value="{$pc['itm6']}" maxlength="30"></td>
		</tr>
		<tr>
			<td>灵熟</td>
			<td><input size="20" type="text" name="wf" value="{$pc['wf']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="artk" value="{$pc['artk']}" maxlength="20"></td>
			<td>类型</td>
			<td><input size="20" type="text" name="itmk6" value="{$pc['itmk6']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>队伍名称</td>
			<td><input size="20" type="text" name="teamID" value="{$pc['teamID']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="arte" value="{$pc['arte']}" maxlength="20"></td>
			<td>效果</td>
			<td><input size="20" type="text" name="itme6" value="{$pc['itme6']}" maxlength="20"></td>
		</tr>
		<tr>
			<td>队伍密码</td>
			<td><input size="20" type="text" name="teamPass" value="{$pc['teamPass']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="arts" value="{$pc['arts']}" maxlength="20"></td>
			<td>耐久</td>
			<td><input size="20" type="text" name="itms6" value="{$pc['itms6']}" maxlength="20"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="artsk" value="{$pc['artsk']}" maxlength="255"></td>
			<td>子类型</td>
			<td><input size="20" type="text" name="itmsk6" value="{$pc['itmsk6']}" maxlength="255"></td>
		</tr>
		<tr>
			<td>技能</td>
			<td>
				<textarea cols="20" rows="4" style="overflow:auto" name="skillv">{$pc['skillv']}</textarea>
			</td>
			<td>技能参数</td>
			<td>
				<textarea cols="20" rows="4" style="overflow:auto" name="skillparav">{$pc['skillparav']}</textarea>
			</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<input type="submit" value="修改玩家数值" onclick="$('command').value = 'submitedit'">
</form> 
<form method="post" name="pcmng" onsubmit="admin.php">
	<input type="hidden" name="mode" value="pcmng">
	<input type="hidden" name="command" value="list">
	<input type="submit" value="返回玩家管理">
</form>
<!--{else}-->
<form method="post" name="pcmng" onsubmit="admin.php">
	<input type="hidden" name="mode" value="pcmng">
	<input type="hidden" id="command" name="command" value="find">
	<input type="hidden" name="start" value="$start">
	<input type="hidden" name="pagemode" value="">
	<table class="admin">
		<tr>
			<th colspan=2>查找玩家</th>
		</tr>
		<tr>
			<td>条件：
				<select name="checkmode">
					<option value="name" <!--{if $checkmode == 'name'}-->selected<!--{/if}-->>玩家名
					<option value="teamID" <!--{if $checkmode == 'teamID'}-->selected<!--{/if}-->>队伍名称
					<option value="club" <!--{if $checkmode == 'club'}-->selected<!--{/if}-->>社团
				</select>类似
			</td>
			<td>
				<input size="30" type="text" name="checkinfo" id="checkinfo" value="$checkinfo" maxlength="30"><input type="submit" value="查找玩家" onclick="javascript:document.pcmng.pagemode.value='ref'">
			</td>
		</tr>
	</table>
	<br>
	<input type="submit" value="上一页" onclick="javascript:document.pcmng.pagemode.value='up';">
	<span class="yellow b">$resultinfo</span>
	<input type="submit" value="下一页" onclick="javascript:document.pcmng.pagemode.value='down';">
	<table class="admin">
		<tr>
			<th>选</th>
			<th>姓名</th>
			<th>性别</th>
			<th>学号</th>
			<th>等级</th>
			<th>位置</th>
			<th>队伍</th>
			<th>状态</th>
			<th>体力</th>
			<th>生命</th>
			<th>社团</th>
			<th>金钱</th>
			<th>熟练</th>
			<th>武器</th>
			<th>操作</th>
		</tr>
		<!--{if isset($pcdata)}-->
		<!--{loop $pcdata $n $pc}-->
		<tr>
			<td><input type="checkbox" id="pc_$n" name="pc_$n" value="{$pc['pid']}"></td>
			<td><span <!--{if $pc['hp']<=0 || $pc['state']>=10}-->class="red b"<!--{/if}-->>{$pc['name']}</span></td>
			<td>{$sexinfo[$pc['gd']]}</td>
			<td>{$pc['sNo']}</td>
			<td>{$pc['lvl']}</td>
			<td>{$plsinfo[$pc['pls']]}</td>
			<td>{$pc['teamID']}</td>
			<td><span <!--{if $pc['state']>=10}-->class="red b"<!--{/if}-->>{$stateinfo[$pc['state']]}</span></td>
			<td>{$pc['sp']}/{$pc['msp']}</td>
			<td>{$pc['hp']}/{$pc['mhp']}</td>
			<td>{$clubinfo[$pc['club']]}</td>
			<td>{$pc['money']}</td>
			<td>{$pc['wp']}/{$pc['wk']}/{$pc['wg']}/{$pc['wc']}/{$pc['wd']}/{$pc['wf']}</td>
			<td>{$pc['wep']}/{$pc['wepe']}/{$pc['weps']}</td>
			<td><input type="submit" value="查看/修改详细资料" onclick="$('command').value='edit_{$n}_{$pc['pid']}'"></td>
		</tr>
		<!--{/loop}-->
		<tr>
			<td colspan="2">
				<input type="checkbox" name="pc_all" onchange="for(i=0; i<=$n;i++){if(! $('pc_'+i).disabled){if(this.checked==true){$('pc_'+i).checked=true}else{$('pc_'+i).checked=false}}}">全选
			</td>
			<td colspan="13" style="text-align:center">
				<input type="submit" value="复活所选玩家" onclick="$('command').value='live'">
				<input type="submit" value="杀死所选玩家" onclick="$('command').value='kill'">
				<input type="submit" value="清除所选玩家" onclick="$('command').value='del'">
			</td>
		</tr>
		<!--{/if}-->
	</table>
	
</form>
<!--{/if}-->