<!--{if $urcmd == 'list'}-->
<form method="post" name="urpage" onsubmit="admin.php">
	<input type="hidden" name="mode" value="urlist">
	<input type="hidden" id="urcmd" name="urcmd" value="list">
	<!--{if $pagecmd=='check'}-->
		<input type="hidden" name="pagecmd" value="check">
		<input type="hidden" name="urorder" value="$urorder">
		<input type="hidden" name="urorder2" value="$urorder2">
	<!--{elseif $pagecmd=='find'}-->
		<input type="hidden" name="pagecmd" value="find">
		<input type="hidden" name="checkinfo" value="$checkinfo">
		<input type="hidden" name="checkmode" value="$checkmode">
	<!--{/if}-->
	<input type="hidden" name="start" value="$start">
	<input type="hidden" id="pagemode" name="pagemode" value="">
	<input type="submit" value="上一页" onclick="$('pagemode').value='up';">
	<span class="yellow b">$resultinfo</span>
	<input type="submit" value="下一页" onclick="$('pagemode').value='down';">
	<!--{if $urdata}-->
	<table class="admin">
		<tr>
			<th>选</th>
			<th>账号</th>
			<th>密码</th>
			<th>权限</th>
			<th>最近登陆</th>
			<th>最近游戏</th>
			<th>ip</th>
			<th>分数</th>
			<th>性别</th>
			<th>头像</th>
			<th>切糕</th>
			<th>口头禅</th>
			<th>杀人留言</th>
			<th>遗言</th>
			<th>卡片</th>
			<th>成就</th>
			<th>操作</th>
		</tr>
		<!--{if $urdata}-->
		<!--{loop $urdata $n $ur}-->
		<tr>
			<!--{if $ur['groupid']>=$mygroup && $ur['username'] != $cuser}-->
				<td><input type="checkbox" id="user_$n" name="user_$n" value="{$ur['uid']}" disabled="true"></td>
				<td>{$ur['username']}</td>
				<td><input type="text" name="pass_$n" size="8" maxlength="20" value="无法修改" disabled="true"></td>
				<td>{$urgroup[$ur['groupid']]}</td>
				<td><!--{eval echo !empty($ur['lastvisit']) ? date("Y-m-d H:i:s", $ur['lastvisit']) : '未登录';}--></td>
				<td><!--{if 's'==substr($ur['lastgame'],0,1)}-->房间第<!--{eval echo substr($ur['lastgame'],1);}-->局<!--{else}-->第{$ur['lastgame']}局<!--{/if}--></td>
				<td>{$ur['ip']}</td>
				<td>{$ur['credits']}</td>
				<td>
					<select name="gender_$n" disabled="true">
						<option value="0" <!--{if $ur['gender']==0}-->selected<!--{/if}-->>$ursex['0']
						<option value="m" <!--{if $ur['gender']=='m'}-->selected<!--{/if}-->>$ursex['m']
						<option value="f" <!--{if $ur['gender']=='f'}-->selected<!--{/if}-->>$ursex['f']
					</select>
				</td>
				<td><input type="text" name="icon_$n" size="2" maxlength="2" value="$ur['icon']" disabled="true"></td>
				<td><input type="text" name="gold_$n" size="5" maxlength="20" value="$ur['gold']" disabled="true"></td>
				<td><input type="text" name="motto_$n" size="8" maxlength="20" value="$ur['motto']" disabled="true"></td>
				<td><input type="text" name="killmsg_$n" size="8" maxlength="20" value="$ur['killmsg']" disabled="true"></td>
				<td><input type="text" name="lastword_$n" size="8" maxlength="20" value="$ur['lastword']" disabled="true"></td>
				<td>
					<input type="submit" value="不可修改" disabled="true">
				</td>
				<td>
					<input type="submit" value="不可修改" disabled="true">
				</td>
				<td>
					<input type="submit" value="修改" disabled="true">
				</td>
			<!--{else}-->
				<td><input type="checkbox" id="user_$n"  name="user_$n" value="{$ur['uid']}"></td>
				<td>{$ur['username']}</td>
				<td><input type="text" name="pass_$n" size="8" maxlength="20" value=""></td>
				<td>{$urgroup[$ur['groupid']]}</td>
				<td><!--{eval echo !empty($ur['lastvisit']) ? date("Y-m-d H:i:s", $ur['lastvisit']) : '未登录';}--></td>
				<td><!--{if 's'==substr($ur['lastgame'],0,1)}-->房间第<!--{eval echo substr($ur['lastgame'],1);}-->局<!--{else}-->第{$ur['lastgame']}局<!--{/if}--></td>
				<td>{$ur['ip']}</td>
				<td>{$ur['credits']}</td>
				<td>
					<select name="gender_$n">
						<option value="0" <!--{if $ur['gender']==0}-->selected<!--{/if}-->>$ursex['0']
						<option value="m" <!--{if $ur['gender']=='m'}-->selected<!--{/if}-->>$ursex['m']
						<option value="f" <!--{if $ur['gender']=='f'}-->selected<!--{/if}-->>$ursex['f']
					</select>
				</td>
				<td><input type="text" name="icon_$n" size="2" maxlength="2" value="$ur['icon']"></td>
				<td><input type="text" name="gold_$n" size="5" maxlength="20" value="$ur['gold']"></td>
				<td><input type="text" name="motto_$n" size="8" maxlength="60" value="$ur['motto']"></td>
				<td><input type="text" name="killmsg_$n" size="8" maxlength="60" value="$ur['killmsg']"></td>
				<td><input type="text" name="lastword_$n" size="8" maxlength="60" value="$ur['lastword']"></td>
				<td>
					<input type="button" id="card_data$n" value="展开列表" onclick="this.style.display='none';$('card_data_$n').style.display='block'">
					<textarea cols="20" rows="5" style="overflow:auto;display:none;" id="card_data_$n" name="card_data_$n">$ur['card_data']</textarea>
				</td>
				<td>
					<input type="button" id="achlist$n" value="展开列表" onclick="this.style.display='none';$('a_achievements_$n').style.display='block'">
					<textarea cols="20" rows="5" style="overflow:auto;display:none;" id="a_achievements_$n" name="a_achievements_$n">$ur['a_achievements']</textarea>
				</td>
				<td>
					<input type="submit" value="修改" onclick="$('urcmd').value='edit_{$n}_{$ur['uid']}'">
				</td>
			<!--{/if}-->
		</tr>
		<!--{/loop}-->
		<tr>
			<td colspan=2><input type="checkbox" name="user_all" onchange="for(i=0; i<=$n;i++){if(! $('user_'+i).disabled){if(this.checked==true){$('user_'+i).checked=true}else{$('user_'+i).checked=false}}}">全选</td>
			<td colspan=15 style="text-align:center;">
				<input type="submit" name="submit" value="封停选中玩家" onclick="$('urcmd').value='ban'">
				<input type="submit" name="submit" value="解封选中玩家" onclick="$('urcmd').value='unban'">
				<input type="submit" name="submit" value="删除选中玩家" onclick="$('urcmd').value='del'">
			</td>
		</tr>
		<tr>
			<td colspan=2></td>
			<td colspan=15 style="text-align:center;">
				标题：
				<input type="text" name="stitle" size="6" maxlength="20" value="发放奖励">&nbsp;&nbsp;&nbsp;
				正文：
				<input type="text" name="scontent" size="20" maxlength="30" value="您获得了奖励，请查收！">&nbsp;&nbsp;&nbsp;
				附件：
				<input type="text" name="senclosure" size="30" maxlength="200" value="getqiegao_0;getcard_0;getcardblink_0;">&nbsp;&nbsp;&nbsp;
				<input type="submit" name="submit" value="发送站内邮件" onclick="$('urcmd').value='sendmessage'">
			</td>
		</tr>
		<!--{/if}-->
	</table>
	
	<!--{/if}-->
</form>
<form method="post" name="backtolist" onsubmit="admin.php">
	<input type="hidden" name="mode" value="urlist">
	<input type="hidden" name="command" value="">
	<input type="submit" name="submit" value="返回玩家帐户管理">
</form>
<!--{else}-->
<form method="post" name="urlist" onsubmit="admin.php" enctype="multipart/form-data">
	<input type="hidden" name="mode" value="urlist">
	<input type="hidden" name="pagecmd" id="pagecmd" value="">
	<input type="hidden" name="urcmd" value="list">
	<table class="admin">
		<tr>
			<th>搜索指定帐户</th>
			<th>查看帐户列表</th>
		</tr>
		<tr>
			<td>
				条件：
				<select name="checkmode">
					<option value="username" selected>用户名
					<option value="ip">用户IP
				</select>
				类似
				<input size="30" type="text" name="checkinfo" id="checkinfo" maxlength="30" />
			</td>
			<td>
				按：
				<select name="urorder">
					<option value="groupid" selected>用户所属组
					<option value="lastgame">最新游戏
					<option value="uid">用户编号
				</select>
				<select name="urorder2">
					<option value="DESC" selected>降序排列
					<option value="ASC">升序排列
				</select>
			</td>
		</tr>
		<tr>
			<td style="text-align:center;"><input style="width:100px;height:30px;" type="submit" value="搜索" onclick="$('pagecmd').value='find';"></td>
			<td style="text-align:center;"><input style="width:100px;height:30px;" type="submit" value="查看" onclick="$('pagecmd').value='check';"></td>
		</tr>
		<tr>
			<td style="text-align:center;">
				<select name="recover_file">
					<option value="null">请选择</option>
					<!--{loop $user_backup_list $ubi $ubv}-->
					<option value="$ubv"><!--{eval echo strlen($ubv) > 12 ? substr($ubv,0,12).'..' : $ubv;}--> {$user_backup_date_list[$ubi]}</option>
					<!--{/loop}-->
				</select>
				<input style="width:130px;height:30px;" type="submit" value="恢复用户数据" onclick="$('pagecmd').value='recover';">
			</td>
				
			<td style="text-align:center;"><input style="width:150px;height:30px;" type="submit" value="下载用户数据备份" onclick="$('pagecmd').value='download';"></td>
		</tr>
	</table>

</form>
<!--{/if}-->