<TABLE border="1">
	<tr align="center" class="b1">
		<td class="b1"><span>名字&编号</span></td>
		<td width="140" class="b1"><span>头像</span></td>
		<!--{if defined('MOD_APM')}--><td class="b1"><span>APM</span></td><!--{/if}-->
		<!--{if defined('MOD_CARDBASE') && !in_array($gametype, Array(0,1))}--><td class="b1"><span>所用卡片</span></td><!--{/if}-->
		<td class="b1"><span>等级</span></td>
		<td class="b1" <!--{if $gametype==2}-->title="胜利点数最高的玩家将获得游戏胜利"<!--{/if}-->><span><!--{if $gametype==1}-->除错层数<!--{else}--><!--{if $gametype==2}-->胜利点数<!--{else}-->击杀玩家数<!--{/if}--><!--{/if}--></span></td>
		<!--{if $gametype==2}--><td class="b1" title="击杀玩家将获得相当于其15%赏金的胜利点数"><span>赏金</span></td><!--{/if}-->
		<!--{if $gametype!=1}--><td class="b1"><span>击杀NPC数</span></td><!--{/if}-->
		<!--{if $gamestate < 40 }--><td class="b1"><span>队伍名</span></td><!--{/if}-->
		<td width="300" class="b1"><span>口头禅</span></td>
	</tr>

	<!--{loop $alivedata $alive}-->
	<!--{eval if(!\player\check_alive_player_displayable($alive)) continue; }-->
	<!--{eval $alive['urlname']=htmlentities(urlencode($alive['name']));}-->
	<!--{eval list($alive['vapm'],$alive['aapm'])=\apm\calc_apm($alive);}-->
	<!--{eval $showpack = 1;}-->
	<tr class="b3">
		<td align="center" class="b3"><a style="cursor:pointer;" href="user_profile.php?playerID=$alive['urlname']"><span>$alive['dispname']<br>$alive['sexnsno']</span></a></td>
		<td align="center" class="b3"><span><IMG src="img/$alive['iconImg']" width="140" height="80" border="0" align="absmiddle"></span></td>
		<!--{if defined('MOD_APM')}--><td class="b3"><span>{$alive['vapm']}</span></td><!--{/if}-->
		<!--{if defined('MOD_CARDBASE') && !in_array($gametype, Array(0,1))}-->
			<!--{eval $nowcard=$alive['nowcardinfo'];$cardframe_id='cardframe_show_'.$alive['pid'];}-->
			<td class="b3">
				<span class="$card_rarecolor[$alive['nowcardrare']]" 
					<!--{if !empty($nowcard)}-->
					onmouseenter="$('$cardframe_id').style.display='block';" onmouseleave="$('$cardframe_id').style.display='none';" 
					<!--{/if}-->
				>
					$alive['cardname']
				</span>
				<!--{if !empty($nowcard)}-->
				<!--{eval $nowcard['blink']=$alive['nowcardblink'];}-->
				<div style="position:relative;">
					<div id="$cardframe_id" class="cardframe_show" style="display:none;position:absolute;z-index:10;left:80px;top:-50px;">
						{template MOD_CARDBASE_CARD_FRAME}
					</div>
				</div>
				<!--{/if}-->
			</td>
		<!--{/if}-->
		<td class="b3"><span>$alive['lvl']</span></td>
		<td class="b3" <!--{if $gametype==2}-->title="胜利点数最高的玩家将获得游戏胜利"<!--{/if}-->><span <!--{if $gametype==2}-->class="orange"<!--{/if}-->>$alive['killnum']</span></td>
		<!--{if $gametype==2}--><td class="b3" title="击杀玩家将获得相当于其15%赏金的胜利点数"><span>$alive['bounty']</span></td><!--{/if}-->
		<!--{if $gametype!=1}--><td class="b3"><span>$alive['npckillnum']</span></td><!--{/if}-->
		<!--{if $gamestate < 40 }--><td class="b3"><span><!--{if $alive['teamID']}-->$alive['teamID']<!--{else}-->无<!--{/if}--></span></td><!--{/if}-->
		<td class="b3"><span>$alive['motto']</span></td>
	</tr>

	<!--{/loop}-->

</table><BR>
【生存者数：<!--{eval echo \player\get_alivenum_for_display(); }-->人  死亡数：{$deathnum}人】<br><br>