{template header}
<br>

<div style="width:50%; margin:0 auto; text-align:left">
<font size="5" class="red">关于这次版本回退的说明</font><br><br>
<font size="3">
可能诸位已经注意到了，游戏版本从GE710L变为了GE600M，很多游戏特性都失去了，包括称号技能、怒气技能、帮助中的众多人性化内容等等。<br><br>
这次回退是出于迫不得已的技术原因。<br><br>
GE710L无疑是一个优秀的版本，但由于古老的BR大逃杀本身的落后架构，以及我们大逃杀开发组的开发模式中存在的一些问题，
在GE710L丰富有趣的游戏内容的背后，是大逃杀早已腐烂不堪的代码。（曾经下载过源码包而且看过combat.func.php的应该深有感触:D）<br><br>
开发组深感无力在这样的代码上继续开发，也一致同意代码腐败问题拖下去只会越来越严重。
为了给大逃杀一个更可持续的发展，<span class="yellow">开发组一致同意基于GE600版本重构代码，并基于这个版本进行后续开发。</span>
现在经过代码重构的大逃杀已经拥有了一个高度模块化的架构，希望这能给大逃杀带来更长远的发展。<br><br>
由于重构修改了大量代码逻辑，可能会产生一些bug，因此决定在完成GE600的重构后即在电波进行测试。
<span class="yellow">GE710L提供的新游戏特性会被慢慢补上，请玩家耐心等待。</span><br>
希望玩家配合测试，如发现任何问题或bug，请通过主群告诉我（lemon）或虚子或四面。<br><br>
<font size="2">P.S. 关于技能点生命获得修改为+2：减少的1点生命已经在升级时直接赠送了。</font>
</font>
</div>

<div id="fmsgbox1">
<div style="position:fixed; left:0px; top:0px; z-index:2; margin:auto auto; filter:alpha(opacity=20); opacity:0.2; min-width:100%; max-width:100%; min-height:100%; max-height:100%; background-color:#000000">
</div>
<div style="position:fixed; left:0px; top:0px; z-index:3; margin:auto auto; min-width:100%; max-width:100%; min-height:100%; max-height:100%;">
<div style="position:relative; top:50px; z-index:4; margin:0 auto; filter:alpha(opacity=20); opacity:0.2; min-width:540px; max-width:540px; min-height:540px; max-height:540px; background-color:#000000">
</div>
</div>
<div style="position:fixed; left:0px; top:0px; z-index:3; margin:auto auto; min-width:100%; max-width:100%; min-height:100%; max-height:100%;" onclick="$('fmsgbox1').style.display = 'none';">
<div style="position:relative; top:55px; min-width:530px; max-width:530px; min-height:530px; max-height:530px; z-index:5; margin:0 auto; filter:alpha(opacity=95); opacity:0.95; background-color:#000000" onclick="if (event.stopPropagation) event.stopPropagation(); else event.cancelBubble = true; ">
<div style="position:relative; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px; z-index:6; background-color:rgba(17,17,17,0.5); *BACKGROUND:rgb(17,17,17); *filter:alpha(opacity=50); BORDER: #000 0px none; color: #fff; text-align: center; border-right: #111 1px solid;font:10pt '微软雅黑' serif;">
<!--
<div style="position:absolute; right:12px; top:10px; width:8px; height:8px; z-index:7;">
<a onclick="postCmd('gamecmd','command.php');" style="text-decoration: none"><font size="5">×</font></a>
</div>
-->
<div style="position:relative; margin-left:8px; margin-top:0px; margin-right:0px; margin-bottom:8px; min-height:530px; max-height:530px; text-align:left; overflow-x:hidden; overflow-y:auto;">
<div class="scroll-pane" style="max-height:514px; width:518px; overflow-x:hidden; overflow-y:auto; margin-top:8px; position:relative;">
<div style="position:relative; height:auto; margin-left:0px; margin-top:0px; margin-right:0px; margin-bottom:0px; ">
<table border="0" cellpadding="0" cellspacing="0" width="509px">
<tbody><tr>
<td width="0"></td>
<td class="b1" width="40"><span>名称</span></td>
<td class="b1"><span></span></td>
</tr>
<tr><td width="0"><br></td><td class="b1" width="40">
<span>
生命
</span>
</td><td>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
消耗<span class="lime">1</span>技能点，
生命上限<span class="yellow">+2</span>点
</span></td>
<td class="b3" width="46">
<input style="width:46px" disabled="true" value="使用" type="button">
</td>
</tr></tbody></table>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
攻防
</span>
</td><td>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
消耗<span class="lime">1</span>技能点，基础攻击<span class="yellow">+4</span>点，基础防御<span class="yellow">+6</span>点
</span></td>
<td class="b3" width="46">
<input style="width:46px" disabled="true" value="使用" type="button">
</td>
</tr></tbody></table>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
治疗
</span>
</td><td>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
消耗<span class="lime">1</span>技能点，解除全部受伤与异常状态
</span></td>
<td class="b3" width="46">
<input style="width:46px" disabled="true" value="治疗" type="button">
</td>
</tr></tbody></table>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
格挡
</span>
</td><td>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
<span class="lime">当前级别0/6</span>&nbsp;
消耗<span class="lime">2</span>点技能点升至下一级
<br>
持殴系武器时，武器效果值的<span class="yellow">5%</span>计入防御力(最多2000点)<br>
</span></td>
<td class="b3" width="46">
<input style="width:46px" disabled="true" value="升级" type="button">
</td>
</tr></tbody></table>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
猛击
</span>
</td><td>
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
<span class="lime">当前级别0/2</span>&nbsp;
消耗<span class="lime">10</span>点技能点升至下一级
<br>
持殴系武器战斗时<span class="yellow">25%</span>几率触发，触发则物理伤害增加<span class="yellow">20%</span><br>
</span></td>
<td class="b3" width="46">
<input style="width:46px" disabled="true" value="升级" type="button">
</td>
</tr></tbody></table>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
偷袭
</span>
</td><td>
<div style="position:relative; height:100%; width:100%;" onmouseover="skill_unacquired_mouseover.call(this,event)" onmouseout="skill_unacquired_mouseout.call(this,event)">
<div class="skill_unacquired">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
<span class="yellow">战斗技</span>：本次攻击必定触发技能“<span class="yellow">猛击</span>”且不会被反击。<br>
持殴系武器方可发动，发动消耗<span class="yellow">30</span>点怒气。<br>
</span></td>
<td class="b3" width="46">
</td>
</tr></tbody></table>
</div>
<div class="skill_unacquired_hint">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td align="center" valign="center">
<span class="yellow">
3级时解锁
</span>
</td></tr></tbody></table></div></div>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
应变
</span>
</td><td>
<div style="position:relative; height:100%; width:100%;" onmouseover="skill_unacquired_mouseover.call(this,event)" onmouseout="skill_unacquired_mouseout.call(this,event)">
<div class="skill_unacquired_transparent">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><div style="margin-top:8px; margin-bottom:8px;">
<span style="text-align:left; display:inline-block;">
设你从“<span class="yellow">格挡</span>”技能中获得了<span class="yellow">x</span>点额外防御。<br>
你可以随意于下列三个状态间切换：<br>
<table>
<tbody><tr><td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(1) 防御力再次增加<span class="yellow">x</span>点，武器效果视为降低<span class="yellow">0.7x</span>点 
</td><td>
<input style="width:46px" onclick="$('mode').value='special';$('command').value='skill33_special';$('subcmd').value='upgrade';$('skillpara1').value='1';postCmd('gamecmd','command.php');this.disabled=true;" value="选择" type="button">
</td></tr>
<tr><td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span>
(2) 无效果 
</span>
</td><td>
<span class="lime">[当前选择]</span>
</td></tr>
<tr><td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
(3) 武器效果视为增加<span class="yellow">0.7x</span>点，防御力降低<span class="yellow">x</span>点  
</td><td>
<input style="width:46px" onclick="$('mode').value='special';$('command').value='skill33_special';$('subcmd').value='upgrade';$('skillpara1').value='3';postCmd('gamecmd','command.php');this.disabled=true;" value="选择" type="button">
</td></tr>
</tbody></table>
属性伤害不受这个技能影响。
</span>
</div></td>
<td class="b3" width="46">
</td>
</tr></tbody></table>
</div>
<div class="skill_unacquired_hint_transparent">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td align="center" valign="center">
<span class="yellow">
3级时解锁
</span>
</td></tr></tbody></table></div></div>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
灭气
</span>
</td><td>
<div style="position:relative; height:100%; width:100%;" onmouseover="skill_unacquired_mouseover.call(this,event)" onmouseout="skill_unacquired_mouseout.call(this,event)">
<div class="skill_unacquired">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
持殴系武器攻击后敌人体力减少<span class="yellow">伤害值的2/3</span>点<br>
被攻击时你额外获得<span class="yellow">1～2点</span>怒气
</span></td>
<td class="b3" width="46">

</td>
</tr></tbody></table>
</div>
<div class="skill_unacquired_hint">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td align="center" valign="center">
<span class="yellow">
6级时解锁
</span>
</td></tr></tbody></table></div></div>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
闷棍
</span>
</td><td>
<div style="position:relative; height:100%; width:100%;" onmouseover="skill_unacquired_mouseover.call(this,event)" onmouseout="skill_unacquired_mouseout.call(this,event)">
<div class="skill_unacquired">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
<span class="yellow">战斗技</span>：本次攻击必定触发技能“<span class="yellow">猛击</span>”，<br>并额外造成(<span class="yellow">敌方体力上限减当前体力</span>)点伤害。<br>
持殴系武器方可发动，发动消耗<span class="yellow">85</span>点怒气。<br>
</span></td>
<td class="b3" width="46">
</td>
</tr></tbody></table>
</div>
<div class="skill_unacquired_hint">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td align="center" valign="center">
<span class="yellow">
11级时解锁
</span>
</td></tr></tbody></table></div></div>
</td></tr><tr><td width="0"><br></td><td class="b1" width="40">
<span>
百战
</span>
</td><td>
<div style="position:relative; height:100%; width:100%;" onmouseover="skill_unacquired_mouseover.call(this,event)" onmouseout="skill_unacquired_mouseout.call(this,event)">
<div class="skill_unacquired">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td class="b3"><span style="margin-top:8px; margin-bottom:8px; display:block;">
选择任一单体减半防御属性，你视为具有它。<br>
当前选择是：<span class="yellow">
无
</span>
&nbsp;
变更选择为：
<select name="skill34_choice" id="skill34_choice" onchange="$('mode').value='special';$('command').value='skill34_special';$('subcmd').value='upgrade';$('skillpara1').value=$('skill34_choice').value;postCmd('gamecmd','command.php');this.disabled=true;">
<option value="P">防殴
</option><option value="K">防斩
</option><option value="G">防弹
</option><option value="C">防投
</option><option value="D">防爆
</option><option value="F">防符
</option><option value="q">防毒
</option><option value="U">防火
</option><option value="I">防冻
</option><option value="E">绝缘
</option><option value="W">隔音
</option></select>
&nbsp;
可随时改变
<br>
</span></td>
<td class="b3" width="46">
</td>
</tr></tbody></table>
</div>
<div class="skill_unacquired_hint">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr><td align="center" valign="center">
<span class="yellow">
将“格挡”或“猛击”升至满级解锁
</span>
</td></tr></tbody></table></div></div>
</td></tr></tbody></table>
<br>
<input class="cmdbutton" onclick="$('fmsgbox1').style.display = 'none';" value="返回主界面" type="button">
&nbsp;&nbsp;&nbsp; 提示:点击技能界面外任意位置也可以返回主界面
<br><br>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{template footer}