<!--{if defined('IN_REPLAY')}-->
<div style="position:relative; height:100%; width:100%;">
<div class="skill_unacquired">
<!--{/if}-->
<table id="chat" width="720" cellspacing="0" cellpadding="0" style="border:0;valign:top;table-layout:fixed;">
	<tr>
		<td height="20px" width="100%" class="b1"><span id="chattitle">聊天讯息</span></td>
	</tr>
	<tr>
		<td valign="top" class="b3" style="text-align: left" height="1px">
			<div id="chatlist" style="display:block" class="chatlist gscroll">
				<!--{if !defined('IN_REPLAY')}-->
				<!--{loop $chatdata['msg'] $msg}-->
				$msg
				<!--{/loop}-->
				<!--{/if}-->
			</div>
			<div id="newslist" style="display:none" class="newslist gscroll">
				<!--{if !defined('IN_REPLAY')}-->
				<!--{loop $chatdata['news'] $news}-->
				$news
				<!--{/loop}-->
				<!--{/if}-->
			</div>
		</td>
	</tr>
	<tr>
		<td class="b3" height="5"></td>
	</tr>
	<tr>
		<td class="b3" height="35">
			<div>
				<form type="post" id="sendchat" name="sendchat" action="chat.php" onsubmit="return false;" >
					<input type="hidden" id="cgamenum" name="cgamenum" value="$gamenum">
					<input type="hidden" id="croomid" name="croomid" value="$groomid">
					<input type="hidden" id="lastcid" name="lastcid" value="$chatdata['lastcid']">
					<input type="hidden" id="lastnid" name="lastnid" value="$chatdata['lastnid']">
					<input type="hidden" id="teamID" name="teamID" value="$teamID">
					<input type="hidden" id="cpls" name="cpls" value="$pls">
					<input type="hidden" id="chatpid" name="chatpid" value="$pid">
					<input type="hidden" id="sendmode" name="sendmode" value="ref">
					<input type="button" id="showchatfloatbox" style="height:24px;" value="表情/定型文" onmouseenter="
						$('chatfloatbox').style.display='block';" />
					<span id="chattype">
						<select name="chattype" style="height:24px;" id="chattype_sl">
							<option value="0">$chatinfo[0]</option>
							<!--{if $teamID}--><option value="1" selected>$chatinfo[1]</option><!--{/if}-->
						</select>
					</span>
					<input type="text" id="chatmsg" name="chatmsg" maxlength="60" style="width:400px;height:22px;" />
					<input type="submit" id="send" style="width:60px;height:24px;" onclick="
						$('sendmode').value='send';
						$('chatlist').style.display='block';
						$('newslist').style.display='none';
						$('chattitle').innerHTML='聊天讯息';
						chat('send',$chatrefresh);
						return false;" value="{lang send}" />
					
					<!--<input type="button" id="ref" style="height:24px;" onClick="if($('sendmode').value=='send'){$('sendmode').value='ref'};chat($('sendmode').value,$chatrefresh);return false;" value="{lang refresh}">-->
					<input type="button" id="switch" style="height:24px;" onclick="
						if($('sendmode').value=='news'){
							$('sendmode').value='ref';
							$('chatlist').style.display='block';
							$('newslist').style.display='none';
							$('chattitle').innerHTML='聊天讯息';
						}else{
							$('sendmode').value='news';
							$('chatlist').style.display='none';
							$('newslist').style.display='block';
							$('chattitle').innerHTML='进行状况';
						}
						chat($('sendmode').value,$chatrefresh);
						return false;" value="切换模式" />
				</form>
			<!--{if !defined('IN_REPLAY')}-->
			<script type="text/javascript">chat('ref',$chatrefresh);</script>
			<!--{/if}-->
			<div id="chatfloatbox" style="display:none; width:850px; height:360px; bottom: 5px; left:0px;" onmouseleave="this.style.display='none';">
				<div style="width:656px;height:100%;position: absolute;left:0px;top:0px;">
					<div>
					<!--{eval $i=0;}-->
					<!--{loop $emoticon_list $ei $ev}-->
						<img class="emoticon" src="img/emoticons/{$ev}" onclick="addtxt='[{$ei}]';if($('chatmsg').value.length+addtxt.length<=$('chatmsg').getAttribute('maxlength')) $('chatmsg').value+='[{$ei}]';">
						<!--{eval $i++; if($i%8==0) echo '</div><div>'; }-->
					<!--{/loop}-->
					</div>
				</div>
				<div style="width:194px;height:100%;position: absolute;right:0px;top:0px;">
					<!--{loop $on_premise_chat $ci $cv}-->
						<div style="margin:8px 0;">
							<a class="white b" onclick="$('chatmsg').value='[{$ci}]';$('send').click();$('chatfloatbox').style.display='none';">$cv</a>
						</div>
					<!--{/loop}-->
				</div>
			</div>
			</div>
		</td>
	</tr>
</table> 
<!--{if defined('IN_REPLAY')}-->
</div>
<div class="skill_unacquired_hint">
<table border="0" cellSpacing=0 cellPadding=0 height=100% width=100%>
<tr><td valign="center" align="center">
回放录像聊天记录暂未实现
</td></tr>
</table>
</div></div>
<!--{/if}-->
