<!--{loop $tmp_clublist $nowclub}-->
	<!--{eval $sdata = \player\create_dummy_playerdata();\clubbase\club_acquire($nowclub, $sdata);$acquired_list = $sdata['acquired_list'];$parameter_list=$sdata['parameter_list'];}-->
	{template MOD_CLUBBASE_SKILLPAGE}
<!--{/loop}-->
	

<table cellSpacing=0 cellPadding=0 width="700px">
	<tr>
		<td class="b1" height=20px>
		<span>称号名</span>
		</td>
		<td class="b1">
		<span>种类</span>
		</td>
		<td class="b1">
		<span>基本特性</span></td>
		<td class="b1">
		<span>技能</span>
		</td>
	</tr>
	<!--{loop $tmp_clublist $clubn}-->
		<tr>
			<td class="b2" height=24px>
				<span>$clubinfo[$clubn]</span>
			</td>
			<td class="b3">
				<!--{if $clublist[$clubn]['type']}-->
					<span>特殊</span>
				<!--{else}-->
					<span>一般</span>
				<!--{/if}-->
			</td>
			<td class="b3" style="padding:5px">
				<span>$clubdesc_h[$clubn]</span>
			</td>
			<td class="b3" width="125px">
				<span>
				<input class="bigbutton" onclick="bubblebox_show('club{$clubn}');" value="点我查看称号技能" type="button">
				</span>
			</td>
		</tr>
	<!--{/loop}-->
</table>
<!--jScrollPane支持-->
<!--<img type="hidden" src="img/blank.png" onload="jQuery(function() { jQuery('.scroll-pane').jScrollPane(); });">-->
<!--jScrollPane支持-->
<br>
<br>
<p>
※ 对涉及“眩晕敌人”技能的解释：眩晕状态与黑衣组织的“衰弱”、边缘行者的“EMP”类似，是一个时效性负面状态：它无法被解除，只能等待效果时间过去自行消失。<br>
眩晕期间，角色无法进行任何行动或战斗（包括反击敌人的攻击）。出于平衡原因，“死斗”模式下眩晕时长为面板数值的三分之一。<br>
<BR>
※ 宝石骑士技能中，每颗宝石/方块都会为装备增加一定效果值和耐久值（无限耐久装备只增加效果值）。如成功获得属性则获得少量经验，而未能成功获得属性则获得较多经验和一些怒气。
各类方块/宝石可以为装备添加的属性如下：</p><br>
<!--{eval eval(import_module('itemmain','skill23'));}-->
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=24px>
		<span>道具名称</span>
		</td>
		<td class="b1">
		<span>镶嵌至武器上的效果</span>
		</td>
		<td class="b1">
		<span>镶嵌至防具上的效果</span>
		</td>
	</tr>
	<!--{loop $bufflist23 $bl23k $bl23v}-->
	<tr>
		<td class="b2" height=24px>
		<span>$bl23k</span>
		</td>
		<td class="b3" style="max-width:300px;padding:5px">
		<span>
			<!--{loop $bl23v['W'] $bl23vs}-->
				{$bl23vs[0]}%{$itemspkinfo[$bl23vs[1]]} 
			<!--{/loop}-->
		</span>
		</td>
		<td class="b3" style="max-width:300px;padding:5px">
		<span>
			<!--{loop $bl23v['D'] $bl23vs}-->
				{$bl23vs[0]}%{$itemspkinfo[$bl23vs[1]]} 
			<!--{/loop}-->
		</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>