<input type="hidden" id="mode" name="mode" value="command">
<input type="hidden" id="command" name="command" value="menu">
<input type="hidden" id="subcmd" name="subcmd" value="">

现在想要做什么？<br /><br />

<!--{if (defined('MOD_EXPLORE'))}-->
{template MOD_EXPLORE_EXPLORE}
<!--{/if}-->
<!--{if (defined('MOD_SEARCHMEMORY'))}-->
{template MOD_SEARCHMEMORY_SMEMORYLIST}
<!--{/if}-->

<br />
	<!--{if $itms1}-->
		<div class="itmsingle">
			<input type="button" id="aa" class="cmdbutton" 
			<!--{if strpos($itmk1,'W')===0 || strpos($itmk1,'D')===0 || strpos($itmk1,'A')===0}-->value="[A]装备"<!--{else}-->value="[A]使用"<!--{/if}--> 
			title="{$tpldata['itm1_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm1';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm1_itmuse_desc']}"><span class="yellow">{$itm1}</span>/{$itme1}/{$itms1}</span>
		</div>
	<!--{/if}-->
	<!--{if $itms2}-->
		<div class="itmsingle">
			<input type="button" id="ss" class="cmdbutton" 
			<!--{if strpos($itmk2,'W')===0 || strpos($itmk2,'D')===0 || strpos($itmk2,'A')===0}-->value="[S]装备"<!--{else}-->value="[S]使用"<!--{/if}--> 
			title="{$tpldata['itm2_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm2';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm2_itmuse_desc']}"><span class="yellow">{$itm2}</span>/{$itme2}/{$itms2}</span>
		</div>
	<!--{/if}-->
	<!--{if $itms3}-->
		<div class="itmsingle">
			<input type="button" id="dd" class="cmdbutton" 
			<!--{if strpos($itmk3,'W')===0 || strpos($itmk3,'D')===0 || strpos($itmk3,'A')===0}-->value="[D]装备"<!--{else}-->value="[D]使用"<!--{/if}--> 
			title="{$tpldata['itm3_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm3';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm3_itmuse_desc']}"><span class="yellow">{$itm3}</span>/{$itme3}/{$itms3}</span>
		</div>
	<!--{/if}-->
	<!--{if $itms4}-->
		<div class="itmsingle">
			<input type="button" id="qq" class="cmdbutton" 
			<!--{if strpos($itmk4,'W')===0 || strpos($itmk4,'D')===0 || strpos($itmk4,'A')===0}-->value="[Q]装备"<!--{else}-->value="[Q]使用"<!--{/if}--> 
			title="{$tpldata['itm4_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm4';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm4_itmuse_desc']}"><span class="yellow">{$itm4}</span>/{$itme4}/{$itms4}</span>
		</div>
	<!--{/if}-->
	<!--{if $itms5}-->
		<div class="itmsingle">
			<input type="button" id="ww" class="cmdbutton" 
			<!--{if strpos($itmk5,'W')===0 || strpos($itmk5,'D')===0 || strpos($itmk5,'A')===0}-->value="[W]装备"<!--{else}-->value="[W]使用"<!--{/if}--> 
			title="{$tpldata['itm5_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm5';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm5_itmuse_desc']}"><span class="yellow">{$itm5}</span>/{$itme5}/{$itms5}</span>
		</div>
	<!--{/if}-->
	<!--{if $itms6}-->
		<div class="itmsingle">
			<input type="button" id="ee" class="cmdbutton" 
			<!--{if strpos($itmk6,'W')===0 || strpos($itmk6,'D')===0 || strpos($itmk6,'A')===0}-->value="[E]装备"<!--{else}-->value="[E]使用"<!--{/if}--> 
			title="{$tpldata['itm6_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm6';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm6_itmuse_desc']}"><span class="yellow">{$itm6}</span>/{$itme6}/{$itms6}</span>
		</div>
	<!--{/if}-->
<br>

<!--{if defined('MOD_ITEMMIX')}-->
{template MOD_ITEMMIX_ITEMMIX_CMD}
<!--{/if}-->
<!--{if defined('MOD_ITEMMAIN')}-->
{template MOD_ITEMMAIN_ITMCOMMAND}
<!--{/if}-->
<!--{if defined('MOD_REST')}-->
{template MOD_REST_REST_CMD}
<!--{/if}-->
<!--{if defined('MOD_TEAM')}-->
{template MOD_TEAM_TEAM_COMMAND}
<!--{/if}-->
<!--{if defined('MOD_ITEMSHOP')}-->
{template MOD_ITEMSHOP_ITEMSHOP_CMD}
<!--{/if}-->
<!--{if defined('MOD_CLUBBASE')}-->
{template MOD_CLUBBASE_SKILLPAGE_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_WEPCHANGE')}-->
{template MOD_WEPCHANGE_WEPCHANGE_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_DUALWEP')}-->
{template MOD_DUALWEP_DUALWEP_ATT_METHOD_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_SONG')}-->
{template MOD_SONG_SONG_PROFILE}
<!--{/if}-->
<br>
<!--{if defined('MOD_CLUBBASE')}-->
{template MOD_CLUBBASE_PROFILESKILLPAGE}
<!--{/if}-->
<br>