<input type="hidden" id="mode" name="mode" value="command">
<input type="hidden" id="command" name="command" value="menu">
<input type="hidden" id="subcmd" name="subcmd" value="">

现在想要做什么？<br /><br />

<!--{if (defined('MOD_EXPLORE'))}-->
{template MOD_EXPLORE_EXPLORE}
<!--{/if}-->
<!--{if (defined('MOD_SEARCHMEMORY'))}-->
{template MOD_SEARCHMEMORY_SMEMORYLIST}
<!--{/if}-->

<br />
<!--{eval $hotkeys=Array('','a','s','d','q','w','e');$hotkeysu=Array('','A','S','D','Q','W','E');$loopn = Array(1,2,3,4,5,6);}-->
<!--{loop $loopn $n}-->
	<!--{if !empty(${'itms'.$n})}-->
		<div class="itmsingle">
			<input type="button" id="{$hotkeys[$n]}{$hotkeys[$n]}" class="cmdbutton" 
			<!--{if \itemmain\is_equipable(${'itmk'.$n})}-->value="[{$hotkeysu[$n]}]装备"<!--{else}-->value="[{$hotkeysu[$n]}]使用"<!--{/if}--> 
			title="{$tpldata['itm'.$n.'_itmuse_desc']}"
			onclick="$('mode').value='command';$('command').value='itm{$n}';postCmd('gamecmd','command.php');this.disabled=true;"><span title="{$tpldata['itm'.$n.'_itmuse_desc']}"><span class="yellow b">{$tpldata['itm'.$n.'_words_noelli']}</span>/${'itme'.$n}/${'itms'.$n}</span>
		</div>
	<!--{/if}-->
<!--{/loop}-->
<br>

<!--{if defined('MOD_ITEMMIX')}-->
{template MOD_ITEMMIX_ITEMMIX_CMD}
<!--{/if}-->
<!--{if defined('MOD_ITEMMAIN')}-->
{template MOD_ITEMMAIN_ITMCOMMAND}
<!--{/if}-->
<!--{if defined('MOD_REST')}-->
{template MOD_REST_REST_CMD}
<!--{/if}-->
<!--{if defined('MOD_TEAM')}-->
{template MOD_TEAM_TEAM_COMMAND}
<!--{/if}-->
<!--{if defined('MOD_ITEMSHOP')}-->
{template MOD_ITEMSHOP_ITEMSHOP_CMD}
<!--{/if}-->
<!--{if defined('MOD_CLUBBASE')}-->
{template MOD_CLUBBASE_SKILLPAGE_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_WEPCHANGE')}-->
{template MOD_WEPCHANGE_WEPCHANGE_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_DUALWEP')}-->
{template MOD_DUALWEP_DUALWEP_ATT_METHOD_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_SONG')}-->
{template MOD_SONG_SONG_PROFILE}
<!--{/if}-->
<!--{if defined('MOD_ITEM_RECIPE')}-->
{template MOD_ITEM_RECIPE_RECIPE_PROFILE}
<!--{/if}-->
<br>
<!--{if defined('MOD_CLUBBASE')}-->
{template MOD_CLUBBASE_PROFILESKILLPAGE}
<!--{/if}-->
<br>