{template header}
<div class="subtitle" >大逃杀的历史 & 捐助页面
</div>
<div style="width:800px;text-align:left;margin:0 auto">
	<p>
		AC大逃杀（统称dts）是个有年头的游戏了。一言以蔽之，它是一个基于php的即时动作、文本为主、多人对战类的webgame。
	</p>
	<p>
		与其他以<span class="red b">『大逃杀』</span>为题材的游戏一样，dts的原型也是日本小说家<span b>高见广春</span>的小说<span class="red b">《Battle Royale》</span>，以及著名导演<span b>深作欣二</span>拍摄的同名电影。后者可能更为国内观众所熟知。
	</p>
	<p>
		事实上，把『大逃杀』改编为游戏这个主意，也并非AC大逃杀首创。早在2003年，日本爱好者<span class="yellow b">2Y</span>就编写了忠于原著的webgame<a class="red b" href="http://www.b-r-u.net">《BATTLE ROYALE ULTIMATE》</a>。BRU这一作品一开始采用perl语言、以CGI方式运行，后来移植到php并运行至今。它是大逃杀webgame公认的鼻祖级作品。
	</p>
	<p>
		在BRU发布后不久，<span class="yellow b">台湾大学资讯工程系（CSIE）</span>的一群网友就将BRU翻译成繁体中文并部署于服务器，形成了同样知名的<a class="red b" href="http://br.csie.org:8080">《NTU CSIE BATTLE ROYALE》</a>（简称CSIEBR）。这一作品也运行至今，不过仍运行在cgi平台上。
	</p>
	<p>
		在2006年，大陆网友<a class="yellow b" href="http://www.loongyou.com/">Azazil</a>（昵称初七）基于BRU及CSIEBR，以PHP语言改写了一份简体版的BATTLE ROYALE，是为<span class="red b">《BR大逃杀》</span>（又名《生存游戏》，英文简称《BRA》）。这一作品曾经在国内网络上广泛传播，可以说，只要你见到“深红色界面”的简体大逃杀webgame，基本就是这一作品或者其简单改版。
	</p>
	<p>
		2007年，大陆网友<a class="yellow b" href="http://soul573.com/">nemoma</a>（昵称冴月麟）在某香港ACG相关论坛上看到一款名为《叶键大逃杀》的BRA改版，对其进行了少量资源层修改后，在2008年推出了一款主要捏他KEY社社作品的<span class="red b">『团子大逃杀』</span>。dts对KEY系作品的捏他传统即来源于此。
	</p>
	<p>
		之后的2009年，nemoma从当时同样刚刚诞生的ACFUN那里获得了服务器和宣传的支援。部署于A站服务器、入口设在A站首页、以当时的ACG梗和A站小众文化为捏他的<span class="red b">《ACFUN大逃杀》</span>就此诞生。这个时候的dts处于1.x版本，与BRU、BRA相比，功能和界面上并无特殊之处，但在“二次元”一词都还未发明的那个纯真年代，吸引了一批单纯而热情的玩家加盟。dts的旅途，从这时真正开始了。
	</p>
	<p>
		2010年，<span class="yellow b">星莲船四面BOSS</span>（昵称四面、耀西子）加入大逃杀制作团队。之后数年，四面对dts的功能和界面进行了大量改动，其中最重要的是引入了道具属性这一游戏特色，从此dts不再是对BRU、BRA的简单改版，走上了自己的<ruby>创新<rt>mo gai</rt></ruby>之路。
	</p>
	<p>
		2011年，宅向微博站<a class="red b" href="http://dianbo.me">电波网</a>诞生，dts很快与之达成了合作，由电波网提供服务器部署dts。这一服务器断断续续运行至今，目前是dts代码最先进的一个服务器。
	</p>
	<p>
		2012年，绘师<span class="yellow b">黑色夺魂曲</span>加入大逃杀制作团队，对dts界面和角色图标美化方面做出了大量的贡献。
	</p>	
	<p>
		2012年，<span class="yellow b">虚子</span>加入大逃杀制作团队；2013年，<span class="yellow b">sillycross</span>（昵称lemon）加入大逃杀制作团队，他们为dts的改进贡献了大量的精力和心血。其中，2013年虚子和水月合作推出的GE600版本、2013年lemon加入的成就系统、2014年虚子加入的怒气技能系统、2015年lemon加入的称号技能系统，都对dts游戏发展起到了深远的影响。
	</p>
	<p>
		2013年，<span class="yellow b">別忘了我</span>加入大逃杀团队。其孜孜不倦地招揽、帮助新玩家，维护游戏秩序，组织讲师团体和游戏活动，并写出了超越一般“攻略”的游戏讲义，热情一直持续到今天，为dts玩家群体的维持和发展立下了汗马功劳。
	</p>
	<p>
		2015年，lemon在肝了数个通宵之后，成功地肝出了基于命名空间的、支持模块化代码的dts新内核，对dts代码的标准化起到了显著的促进作用。由于部署于电波服，后世的开发者将这一版本称为<span class="yellow b">『N.E.W.新电波』</span>。在其后的一两年中，lemon和虚子不断完善NEW代码，加入了房间制、卡片系统、天梯模式等重要甚至核心等级的功能。至此，dts可以说已经和其他基于BRU、BRA的大逃杀webgame完全分道扬镳。
	</p>
	<p>
		此外，Riatre、Martin Chloride、丸子、食物、卡若、兜兜、阮清寒、暗夜之猫、乱、飞雪、某神、水月、001、青蛙，还有其他许多开发者和玩家，都曾经帮助过dts的发展。不论你们目前是否还关注这个游戏，你们的贡献都不会被忘记。dts开发团队在此对你们致以衷心的感谢。
	</p>
	<p>
		迄今为止，dts已经磕磕碰碰走过了8个春秋。尽管前路漫漫，但既然我们已经走了这么远，又有什么理由驻足不前呢？在此，就用威尔斯的一句话作结吧——
	</p>
	<div class="subtitle" style="text-align:center">『为dts进入更伟大的阶段而战！』</div>
	<br><br><br><br><br><br><br><br><br><br><br>
	<p>
		另外，dts是一个非营利性的项目，但dts开发人员的努力也需要得到认可。以下是部分开发人员的捐助链接，如果你觉得舒适，请用支付宝为他们点赞（笑）。
	</p>
	
	<p><span class="evergreen b">『无名机关』捐助链接：<a class="evergreen b" href="https://afdian.net/@brdts">https://afdian.net/@brdts</a></span></p>
	<br><br>
</div>

{template footer}
