{template header}
<div class="subtitle" style="margin:10px 0">
    $message
</div>
<div>
    <!--{if trim($message) == $GLOBALS['_ERROR']['access_disabled']}-->
        <img style="width:512px;height:512px" src="img/ERROR_1.png" />
    <!--{else}-->
        <img style="width:512px;height:512px" src="img/ERROR_2.png" />
    <!--{/if}-->
</div>
<!--{if $errorinfo}-->file=$file<br \>line=$line<!--{/if}-->
<br>
<form method="post" name="backindex" action="index.php">
<input type="submit" name="enter" value="{lang backindex}">
</form>
{template footer}