<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$charset">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv='expires' content='0'>
<title> {lang title} </title>
<!--{if isset($extrahead)}-->$extrahead<!--{/if}-->

<link rel="stylesheet" type="text/css" id="css" href="gamedata/cache/style_1.20150620.css">
<script type="text/javascript" src="include/javascript/common.20150627.js"></script>
<script type="text/javascript" src="include/javascript/game.20150703.js"></script>
<!-- jScrollPanel Utility Start -->
<link type="text/css" href="include/javascript/jScrollPane/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<link type="text/css" href="include/javascript/jScrollPane/jquery.jscrollpane.lozenge.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="include/javascript/jScrollPane/jquery.min.js"></script>
<script type="text/javascript" src="include/javascript/jScrollPane/jquery.mousewheel.js"></script>
<script type="text/javascript" src="include/javascript/jScrollPane/mwheelIntent.js"></script>
<script type="text/javascript" src="include/javascript/jScrollPane/jquery.jscrollpane.js"></script>
<script type="text/javascript" id="sourcecode">
jQuery.noConflict();
</script>
<!-- jScrollPanel Utility End -->
</head>
<BODY <!--{if CURSCRIPT == 'never'}-->onkeydown="hotkey(event);"<!--{/if}-->>
<div class="title" >{lang title}</div>

<div class="headerlink" >
<a href="index.php">>>{lang index}</a>
<!--{if isset($cuser) && isset($cpass)}--><a href="user.php">>>{lang user}</a>
<!--{else}--><a href="register.php">>>{lang register}</a><!--{/if}-->
<a href="game.php">>>{lang game}</a>
<a href="map.php">>>{lang map}</a>
<a href="news.php">>>{lang news}</a>
<a href="alive.php">>>{lang alive}</a>
<a href="winner.php">>>{lang winner}</a>
<a href="rank.php">>>{lang rank}</a>
<a href="help.php">>>{lang help}</a>
<a href="admin.php">>>{lang admin}</a>
<a href="http://76573.org/" target="_blank">>>{lang report}</a>
<a href="$homepage" target="_blank">>>{lang homepage}</a>
<!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0027_Simplified Chinese.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->


</div>
<div id="fmsgbox-container"></div>
<div>