{template header}	

<div class="subtitle">{lang help}</div>


<HR>


<TABLE class=menutbl style="BORDER-COLLAPSE: collapse" cellSpacing=0
	cellPadding=0 align=center border=0>
	<TBODY>
		<TR>
			<TD colSpan=8 class="b3" height=30px>
			<span><B style="FONT-SIZE: 120%; color: #98fb98">“ACFUN大逃杀”游戏帮助目录</B></span>
			</TD>
		</TR>
		<TR>
			<TD class="b3" height=25px width=105px>
			<span><A href="help.php#基本概念">基本概念</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#参加游戏">参加游戏</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#游戏流程">游戏流程</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#禁区和连斗">禁区和连斗</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#游戏界面">游戏界面</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#指令说明">指令说明</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#战斗说明">战斗说明</A></span>
			</TD>
			<TD class="b3" width=105px>
			<span><A href="help.php#熟练度">熟练度</A></span>
			</TD>
		</TR>
		<TR>
			<TD class="b3" height=25px>
			<span><A href="help.php#基础姿态">基础姿态</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#应战策略">应战策略</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#道具说明">道具说明</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#武器">武器</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#属性">属性</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#受伤与状态">受伤与状态</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#毒药和陷阱">毒药和陷阱</A></span>
			</TD>
			<TD class="b3" height=25px>
			<span><A href="help.php#称号与技能">称号与技能</A></span>
			</TD>
		</TR>
		<TR>
			<TD class="b3" height=25px>
			<span><A href="help.php#道具合成">道具合成</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#特殊道具">特殊道具</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#天气">天气</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#物品掉落表">物品掉落表</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#NPC简介">NPC简介</A></span>
			</TD>
			<TD class="b3">
			<span><A href="help.php#玩家守则">玩家守则</A></span>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<HR>
<center>
<div class='help_body'>

<p><span class="subtitle2">写在前面的话</span></p>
<p>作为一款以文本为主要表现形式的webgame，虽然ACFUN大逃杀即将迎来她的第10个年头，但玩过它、或者涉猎过同类游戏的人依然十分稀少。<br>
也许你已经是BR原版的老玩家了；也许你虽然没怎么玩过BR大逃杀，但是对类似的网页游戏有所涉猎；当然更可能的情况是你以前并没有接触过这款网页游戏。<br>
虽然，当代游戏节奏越来越快，这样大段的帮助也许已经是时代眼泪了，但无论是刚接触本游戏的新手，还是已经对玩法有相当认识的老手，本帮助文档都希望能让你了解到有关这款游戏的更多的知识。</p>
<p>以下就是关于这款游戏的基本说明，包括游戏的操作方式、游戏过程、基本的道具资料以及NPC资料。<BR>
部分内容并未在此说明，则是为了保留一点神秘感，增加游戏的趣味性。</p>
<p>注意，以下帮助文档中的所有资料基于ACFUN大逃杀N.E.W.1.9.1版的资料，如果版本号更新则可能出现变动。<BR>
本文档最早原型为CSIEBR的帮助文档。感谢所有参与撰写帮助的玩家的协助。<BR>
<BR>
</p>

<p><a name="基本概念"><span class="subtitle2">■基本概念Q&A</span></a></p>
<DIV align="left" class=FAQ>下面以问与答的形式简述基本游戏概念。<BR>
<DL>
	<DT>问：ACFUN大逃杀是什么，怎么玩？
	<DD>答：ACFUN大逃杀是一个网页游戏（webgame），不需要安装客户端，基本操作通过鼠标/快捷键来进行。<br>
	<DT>问：怎么进入游戏？
	<DD>答：如果你尚未注册，需要先点击屏幕上方、标题下方的<a>&gt;&gt;账号注册</a>，并输入想要的用户名和密码来创建账号。<br>
	如果已经注册过，在首页登陆以后，单击<input type="button" value="进入游戏">按钮，或者屏幕上方的<a>&gt;&gt;进入游戏</a>链接皆可。<br>
	<dt>问：我能否中途离开游戏？
	<DD>答：如果要中途离开游戏，只要关闭浏览器即可；如果这局游戏未结束，而你想回到游戏，登陆账号进入游戏就可以继续。<br>
	<DD>请注意，就算你离开游戏，你的游戏角色仍留在在游戏中，有可能被别的玩家杀死、因停留在禁区被抹杀，或者被清除挂机系统给清除。<br>
	<DT>问：房间是什么？怎么进入房间？
	<DD>答：“房间”相当于标准游戏之外的副本，在首页点击<input type="button" value="新建一个房间">即可创建，或者选择已经存在的房间<input type="button" value="进入">或者<input type="button" value="旁观">。<br>
	进入已存在的房间需要再次点击<input type="button" value="进入游戏">才能加入。<br>
	<DT>问：游戏目标是什么？
	<DD>答：首先，<span class="yellow">保证自己的存活</span>；其次，设法通过<span class="yellow">最后幸存</span>、<span class="yellow">锁定解除</span>或其他胜利方式结束游戏，并成为那个胜利者。
	<DT>问：场上只有我一个人了，为什么还没有获胜？<BR>
	<DD>答：游戏开局时是<span class="yellow">开放激活</span>状态，此时任何玩家都能随时加入游戏，就算只剩1个人也不会立刻结束。<br>
	当游戏<span class="yellow">停止激活</span>（一般同时会进入<span class="yellow">连斗阶段</span>）之后，如果场上只有1位玩家幸存，那么这位玩家才会获得<span class="yellow">最后幸存</span>胜利。<br>
	<DT>问：为什么我刚入场没多久就死了？
	<DD>答：死亡的原因有很多种，常见的原因有：<span class="yellow">被高级NPC杀害，误食毒物，踩到了陷阱</span>，或是触发了某些区域的<span class="yellow">特殊即死事件</span>。<br>
	游戏中尽量保持<span class="yellow">生命值处于高位乃至全满</span>，能够减少上述情况的发生率。<BR>
	还有一种情况是，有其他玩家比你入场早或者发展比你快，到了<span class="yellow">足以秒杀你</span>的程度。这种情况需要你多积累一些游戏经验、提升生存能力。<BR>
	<DT>问：为什么那些玩家开局很快就能击杀我、击杀NPC？他们是不是充值了？
	<DD>答：这些玩家可能<span class="yellow">手速更快</span>，这样移动和探索的次数更多，获取道具资源和攻击NPC的机会就更多；<BR>
	而且他们可能<span class="yellow">对游戏更加熟悉</span>，选择了容易发育的武器路线、称号或者卡片。<BR>
	ACFUN大逃杀是一个开源免费运营的游戏，不存在充值系统，每位玩家的起点都是相同的。与新玩家相比，老玩家的优势在于游戏经验更为丰富，并且在更长的游戏时间里积累了更多的卡片等游戏资源。<BR>
	<DT>问：怎么移动和探索？
	<DD>答：在<select><option>■ 移动 ■ </option></select>下拉框</span>点选<span class="yellow">目的地</span>，就可以移动到该地点。<br>
	点击<input type="button" class="cmdbutton" value="[Z]探索">则会<span class="yellow">在原地进行探索。</span><br>
	移动和探索都会消耗一定体力，如果自己处于异常状态还可能损失一定生命，而且可能发现物品、遇到敌人、队友、尸体、陷阱或者意外事件。<br>
	<DT>问：怎么获得强力的武器和防具？
	<DD>答：<span class="yellow">移动</span>和<span class="yellow">探索</span>都可能发现物品，这时只要<input type="button" class="cmdbutton" value="[Z]拾取">就会将其放入包裹，如果包裹已满则会让你进行取舍；选择<input type="button" class="cmdbutton" value="[X]丢弃">则会将其放回原处。<BR>
	除了拾取以外，杀死其他玩家和NPC也能<span class="yellow">缴获装备道具</span>；使用缴获的金钱能够<span class="yellow">在商店购买装备道具</span>；此外，<span class="yellow">进行道具合成</span>也是中后期获取强力装备道具的手段。<br>
	<DT>问：怎样杀死其他玩家和NPC？被杀死的玩家会怎样？
	<DD>答：<span class="yellow">移动</span>和<span class="yellow">探索</span>都有一定概率遭遇敌人。<br>
	如果对方发现了你，那么强制进入战斗；<br>
	如果对方没有发现你，那么你可以酌情点击<input type="button" class="cmdbutton" value="[Z]攻击">或者<input type="button" class="cmdbutton" value="[X]逃跑">。<br>
	战斗时依据双方攻击、防御以及熟练度，会互相造成损伤。<br>
	战斗中如果对方生命减为0，那么对方死亡，你可以在尸体上<span class="yellow">掠夺一件物品或者拿走金钱</span>。<br>
	如果游戏没有进入连斗状态，原地还有可能再遇到这具尸体，并再拿物品；当然其他玩家也可能捷足先登。<br>
	被杀死的玩家在同一局游戏中无法再行动，但是下一局游戏这位玩家依然可以重新入场。<br>
	<DT>问：NPC会不会主动攻击我？
	<DD>答：在游戏机制里，战斗都是由玩家触发的。只有玩家移动或者探索时，才有可能遇见NPC、进入战斗。<BR>
	如果玩家不探索/移动，是不会被NPC攻击的，可以利用这一点避免伤亡。但是，玩家就算不动，也还是有可能被其他玩家主动攻击的。<BR>
	<DT>问：怎么赚钱？钱能干什么？
	<DD>答：开局会发放非常少量的金钱；NPC身上有大量金钱，<span class="yellow">杀死玩家或者NPC</span>就能拿到他身上携带的金钱。<br>
	一些<span class="yellow">特殊事件</span>或者<span class="yellow">特殊道具</span>也能获得金钱。但是，并不能通过贩卖来获取金钱（这是一个你死我活的游戏）。<br>
	钱可以在<span class="yellow">商店</span>购买装备或者道具。<br>
	<span class="yellow">商店</span>位于“无月之影”、“光坂高校”或者“花菱商厦”，在这些区域点击<input type="button" class="cmdbutton" value="[C]商店">即可进入商店页面。
	<DT>问：体力耗尽了！生命值快归零了！怎样回复体力和生命？
	<DD>答：回复体力和生命通常有3种办法：<span class="yellow">吃补给品、睡眠/治疗/静养、使用「治疗」技能。</span><BR>
	1. 开局会发面包和矿泉水，分别能回复生命和体力。游戏中也可拾取、缴获大量补给品，不过可能带毒导致损失生命。<BR>
	2. 如果补给耗尽，点击<input type="button" class="cmdbutton" value="睡眠">可以进入睡眠状态，逐渐回复体力；点击<input type="button" class="cmdbutton" value="治疗">则是回复生命。<BR>
	3. 选择称号后可以获得<span class="yellow">「治疗」技能</span>，点击<input type="button" class="cmdbutton" value="[V]技能表">并在技能表界面<input type="button" value="治疗">，即可立刻回复500点生命和体力，但是需要消耗1个技能点<BR>
	此外，等级提升时也能回复少量体力；一些特殊技能和道具也能回复体力或者生命。<BR>
	<DT>问：受伤了怎么办？进入异常状态了怎么办？
	<DD>答：受伤跟异常状态都不会自动解除。<BR>
	受伤时直接<span class="yellow">点击状态图标的受伤部位</span>，即可消耗一定体力包扎伤口。<BR>
	解除异常状态则有3种办法：其一是寻找或购买相应的药剂并服用；其二是到特定地图通过“静养”指令解除；其三是通过<span class="yellow">「治疗」</span>等技能直接解除。<BR>
	<DT>问：能组队吗？怎么组队？组队有什么好处？
	<DD>答：在游戏进入“连斗”阶段之前都可以组队<BR>
	想创立队伍请点击<input type="button" class="cmdbutton" value="组建队伍">，相应地还能<input type="button" class="cmdbutton" value="加入队伍">和<input type="button" class="cmdbutton" value="退出队伍"><BR>
	队友不会相互攻击（但是雾天可能误伤）；遇到队友时，可以将道具赠送给队友，但是不能赠送钱。<BR>
	如果是组队对抗的房间，队友之间还能即时赠送物品和呼叫支援。<BR>
	需要注意的是，进入“连斗”之后队伍功能失效，此时玩家只能自相残杀。<BR>
	<DT>问：称号是什么？
	<DD>答：<span class="yellow">内定称号</span>相当于“职业”，不同称号能让玩家获得不同的优势。<BR>
	一般情况下，玩家开局能从若干称号中任选一个。选择后，会立刻获得一定的加成和技能，之后一般就不能再更换称号了。<BR>
	根据游戏目的和场上情况选择合适的称号是生存和获胜的必修课。<BR>
	<DT>问：技能是什么？
	<DD>答：<span class="yellow">技能</span>让玩家具有一定的特殊能力。<BR>
	技能可以通过选取称号、使用技能书或者使用特定卡片入场来获得。<BR>
	活用技能也是生存和获胜的必由之路。<BR>
	<DT>问：卡片是什么？
	<DD>答：在进入游戏之前选择不同的<span class="yellow">卡片</span>，能让玩家以不同的初始状态进入游戏。<BR>
	只有<span class="yellow">卡片模式</span>和部分房间模式允许玩家自选入场卡片。<BR>
	卡片可以靠<span class="yellow">游戏中使用卡片包、抽卡、完成成就</span>等方式获得。<BR>
	卡片具有罕贵度，<span class="gold b">S卡</span>最为稀有和强大，之后<span class="clan">A卡</span>、<span class="brickred b">B卡</span>、<span class="white">C卡</span>和<span class="grey b">M卡</span>稀有度和强度依次下降。<BR>
	合适的卡片能够让玩家一开局就获得优势，不过总体而言，胜负的决定因素还是在于人的技术而不是卡片强度。<br>
	</DD>
</DL>
</DIV>
<br>
<p><a name="参加游戏"><span class="subtitle2">1.参加游戏</span></a></p>

<p>
	要加入游戏，首先必须<span class="yellow">登录账号</span>。<br>
	<br>
	1. 如果你尚未注册过账号，需要先点击屏幕上方、标题下方的<a>&gt;&gt;账号注册</a>，并输入想要的用户名和密码来创建账号。<br>
	用户名必须是未注册过的，并且不可包含敏感词汇。不同服务器的账号是互不通用的。<br>
	注册完毕后会自动登录账号。<br>	
	2. 如果已经注册过，在首页输入用户名和密码进行登陆。<br>
	<br>
	登录以后，你可以自由选择参与<span class="yellow">标准局</span>或者<span class="yellow">房间局</span><br>
	若要参加标准游戏，登陆后直接单击<input type="button" value="进入游戏">，或者屏幕上方的<a>&gt;&gt;进入游戏</a>链接就可以了<br>
	<img src="img/help/help_1.1.gif"><br>
	这样首先会进入<span class="yellow">入场手续</span>页面，在这个页面可以即时修改自己选用的头像、性别和口头禅等，还可以修改用于入场的卡片。
	<img src="img/help/help_1.2.gif" style="width:900px"><br>
	选好以后，点击<input type="button" value="提交">就可以进入游戏了。<br>
	<br>
	若要参加房间游戏，登陆后在画面右侧的<span class="yellow">房间列表</span>中选择已经存在的房间<input type="button" value="进入">或者<input type="button" value="旁观">。<br>
	<img src="img/help/help_1.3.gif"><br>
	进入房间以后，还需要再次点击左侧的<input type="button" value="进入游戏">才能到达<span class="yellow">入场手续</span>页面。<br>
	也可以创建新房间。点击<input type="button" value="新建一个房间">即可进入创建新房间的页面。<br>
	<img src="img/help/help_1.4.gif"><br>
	一般而言，在选好房间模式并点击<span class="yellow">准备</span>按钮之后，就会自动进入新房间的游戏中。<br>
</p>


<br>

<p><a name="游戏流程"><span class="subtitle2">2.游戏流程</span></a></p>

<p>
<span class="lime">【胜利条件】</span>：<br>
“ACFUN大逃杀”的故事背景简而言之，是玩家们被锁死在虚拟幻境中，被迫互相残杀来争取唯一的生存名额。<br>
因此，简要地说，<span class="yellow">杀光其他所有玩家，最后独存</span>的那个人，就是本局游戏的胜利者，将迎来<span class="yellow">「最后幸存」</span>结局。<br>
如果玩家设法杀死位于<span class="yellow">无月之影</span>的BOSS，并使用从BOSS身上拾取的特殊道具<span class="yellow">「游戏解除钥匙」</span>，也可以带领剩余玩家逃离“ACFUN大逃杀”的世界，迎来<span class="yellow">「锁定解除」</span>结局。<br>
若玩家以某种方式找到<span class="yellow">奇怪的按钮</span>，使用后则有一定概率引来电子病毒核弹炸毁整个虚拟世界，也即<span class="yellow">「核爆全灭」</span>结局。<br>
此外，还存在面向PVE的<span class="yellow">「幻境解离」</span>结局，其流程较为复杂，推荐有一定基础的玩家挑战。<br>
另外，房间和某些限时开放的特殊局也有自己的游戏结局。<br><br>

<span class="lime">【游戏路线】</span>：<br>
进入游戏 →→ 通过战斗提升等级和熟练 →→ 杀死NPC和玩家存钱买补给、武器、强化道具  →→ 连斗以后与其他玩家决斗并获胜 →→ <span class="yellow">『最后幸存』</span><br>
进入游戏 →→ 选择合适的姿势和策略 →→ 回避战斗并等待其他玩家自相残杀或被NPC杀死  →→ 躲藏在安全地点等待高等级玩家因禁区停留、踩高伤陷阱、撞BOSS或者其他RP死法而死亡 →→ <span class="yellow">『最后幸存』</span><br>
进入游戏 →→ 通过战斗提升等级和熟练 →→ 杀死NPC和玩家存钱买补给、武器、强化道具  →→ 用移动PC解除禁区 →→ 杀死位于无月之影的BOSS NPC →→ <span class="yellow">『锁定解除』</span><br>
这里只列出最常见的游戏路线，其他路线或者其他游戏模式的打法也请玩家自行探索。<br>
</p>


<p><a name="禁区和连斗"><span class="subtitle2">3.禁区和连斗</span></a></p>
<!--{eval eval(import_module('sys','map','gameflow_combo'));}-->
<img src="img/help/help_3.1.gif"><br>
<!--{eval $plsnum1=sizeof($plsinfo);}-->
<p>ACFUN大逃杀地图中共有{$plsnum1}个区域。<br>
<span class="yellow">无月之影</span>是玩家的出生地，也是默认的禁区，离开之后就不能返回。<br>
此外，每隔一定的时间，就会有一些地区变为<span class="yellow">禁区</span>。禁区的间隔时间因模式而异，通常为30分钟增加1次禁区，极速模式为10分钟增加1次禁区。<br>
在禁区增加的那一刻，<span class="yellow">滞留在禁区</span>的玩家都会被强行杀死。变为禁区的区域将<span class="yellow">不能进入</span>。<br>
不过，在连斗前将应战策略改为<span class="yellow">“重视躲避”</span>，则可以<span class="yellow">自动回避禁区</span>。<br>
NPC不会被禁区杀死。此外，多数NPC也会自动回避禁区。<br>
<br>
玩家可以使用道具<span class="yellow">“移动PC”</span>，来<span class="yellow">临时解除禁区</span>。如果解除了禁区，一直到下一次增加禁区的时刻为止，玩家可以任意进入这些区域，不过已经移走的NPC不会返回。<br>
如玩家想挑战游戏BOSS，也必须先解除禁区，才能到无月之影与BOSS决战。<br>
<br>
<!--{eval $combonum1=$deathlimit_by_gtype[0]+20;}-->
当禁区数量增加到一定程度（一般是游戏<span class="yellow">第{$arealimit}次增加禁区</span>的时刻），游戏会<span class="yellow">停止激活</span>，新玩家不能再任意加入游戏了。<br>
如果<span class="yellow">停止激活时存活玩家数少于{$combolimit}人</span>，或者在游戏中死亡的玩家和NPC<span class="yellow">总数超过{$combonum1}人的阈值</span>，都将使游戏进入<span class="yellow">“连斗阶段”</span>。如果加入游戏的玩家数目较多，死亡人数阈值会有一定上浮。<br>
进入连斗以后，<span class="yellow">所有尸体消失且无法再摸到尸体</span>，<span class="yellow">所有队伍解散</span>，<span class="yellow">躲避姿态也无法回避禁区</span>，剩下的人必须决一死战。<br>
而且，禁区还会继续增加。如果全部地区都变为禁区，那么所有的参与者都会死亡，这局游戏将没有胜利者。</p>
<p>此外，在游戏进入连斗以后，如果玩家使用从<span class="yellow">杏仁豆腐</span>处缴获的<span class="yellow">“杏仁豆腐的ID卡”</span>，则会使游戏进入<span class="red">“死斗模式”</span>。<br>
进入死斗模式以后，玩家将不会再遇到任何NPC。如果想要快速消灭剩下的玩家，死斗模式不失为一种选择。</p><br>
<p><a name="游戏界面"><span class="subtitle2">4.游戏界面</span></a></p>
<p>
	<span class="lime">下面这是一般游戏进行中的画面。</span><br>
	画面顶端这样一行链接对应的含义如下：<br>
<span class="yellow">『首页』</span> 回到首页，可以登录登出、更换房间，也可以看当前游戏的进行时间，激活、生存、死亡人数。<br>
<span class="yellow">『站内邮件』</span> 用于查看和收取游戏站内信，成就奖励、卡片获得都要收取站内信的附件才算真正完成。<br>
<span class="yellow">『账号资料』</span> 查看自己账号的<span class="yellow">个人资料和成就完成状况</span>，<br>
还可以选择主卡片、查看自己的卡册、花费切糕进行抽卡，或是获取日常任务<br>
<span class="yellow">『进入游戏』</span> 从其他页面进入游戏界面，如果网速不快导致“提交”按钮卡住了也能通过这个链接刷新当前页面。<br>
<span class="yellow">『战场地图』</span> 显示大逃杀战场的简易地图，除了可以看禁区以外暂时没什么用。<br>
<span class="yellow">『进行状况』</span> 显示游戏的进行状况以及最新的50条聊天记录，不参加游戏的旁观者也可以从这个页面观看游戏进度。<br>
此外，这一页面还能察看<span class="yellow">禁区解除与否、当前以及未来3次的禁区状况</span>，请多加留意。<br>
<span class="yellow">『当前幸存』</span> 按杀人数和等级顺序显示当前存活的玩家情况，可以用于掌握其他玩家的游戏进展。<br>
<span class="yellow">『历史优胜』</span> 可以查看服务器上储存的<span class="yellow">历次游戏获胜者、该局进行状况以及录像</span>。<br>
<span class="yellow">『玩家排行』</span> 查看本服务器的玩家排行榜。点击玩家名可以查看该玩家的详细信息和他的卡册。<br>
<span class="yellow">『游戏帮助』</span> 即是本帮助文档所在的页面。<br>
<span class="yellow">『游戏管理』</span> GM可以由此进入管理界面。<br>
<span class="yellow">『官方讨论区』</span> 通往本游戏的官方论坛。<br>
<span class="yellow">『官方网站』</span> 通往本游戏的设定站。<br>
</p>
<img src="img/help/help_4.1.gif" style="width:900px"><br>
<div class="FAQ">
<dl>
	<dt>『玩家状态数据』
		<dd>显示玩家的等级、内定称号、攻防数据、熟练度、受伤状况等等各种数值，以及身上装备和包裹道具的界面。<br>
		其中“体力”、“生命”以及“受伤状况”也以图像的形式显示，这三个数值与玩家息息相关，请多加留意。<br>
		此外，<span class="yellow">基础姿态</span>和<span class="yellow">应战策略</span>的切换、<span class="yellow">内定称号</span>的选择、<span class="yellow">武器装备</span>的卸下，以及一些<span class="yellow">主动技能</span>的触发也是在这个区域进行。
	<dt>『聊天及进行状况』
		<dd>默认显示聊天信息。点击<input type="button" value="切换模式">可以切换到进行状况显示。<br>
		<span class="yellow">聊天信息：</span><br>
		玩家可以听到公共频道所有人的聊天信息，也可以发送聊天信息。<br>
		如果玩家加入了队伍，还可以在队伍频道聊天，此时信息只有队友能收到。<br>
		当玩家或者NPC死亡时，也会以红字在聊天框留下遗言，同时会显示死亡的地点。<br>
		游戏开始、结束、增加禁区时，会以黄字在聊天框发送提示。<br>
		<span class="yellow">进行状况：</span><br>
		这里会即时显示游戏开始、结束、增加禁区、天气变化、玩家杀死玩家或者NPC、合成道具、发动技能、造成伤害等等的讯息。<br>
		经常关注聊天框的信息有助于掌握战场态势。<br>
	<dt>『反馈区』
		<dd>玩家操作的结果一般以文字的形式显示在这里。
	<dt>『指令区』</span> 
		<dd>玩家各指令的用途参见下方的<span class="yellow">“指令说明”</span>。
</dl>
</div>
<br>

<p><a name="指令说明"><span class="subtitle2">5.指令说明</span></a></p>
<div class="FAQ">
<dl>
	<dt>『移动与探索』
		<dd>
			<span class="yellow">『移动』</span> 消耗15点体力，离开现在的区域而移动到别的区域。<br>
			<span class="yellow">『探索』</span> 消耗15点体力，探索现在的区域。快捷键为Z。<br>
			移动和探索都可能发现物品、遇到敌人、队友、尸体，或者遇上突发事件。<br>
	<dt>『包裹道具使用』
		<dd>
			使用或者装备对应道具，具体效果根据道具的类型而定。可拥有的道具上限是6个。<br>
			从包裹1号到6号的快捷键分别是A、S、D、Q、W、E。
	<dt>『道具特殊操作』
		<dd>
			<span class="yellow">『装备卸下』</span> 位于状态数据区，可以卸下装备的武器和防具并放到包裹里。<br>
			<span class="yellow">『道具合成』</span> 将2-6个不同道具合成为一个新道具。常见的合成公式请参考后文<br>
			<span class="yellow">『包裹管理』</span>
			可以将完全相同的道具合并，以节约包裹空间。注意，将有毒的食物和无毒的食物合并，会使全部食物带毒。此外，还可以将两个道具互换位置。<br>
			<span class="yellow">『道具丢弃』</span> 选择装备或者包裹道具并丢掉。该道具不会消失，而是丢在当前的地区，自己可以通过<span class="yellow">『视野』</span>立刻捡回来，别的玩家也能捡到。<br>
	<dt>『回复操作』
		<!--{eval eval(import_module('rest'));}-->
		<!--{eval $rest_sleep_val = round((1/$rest_sleep_time)*10000)/10000;$rest_heal_val = round((1/$rest_heal_time)*10000)/10000;}-->
		<dd>
			<span class="yellow">『睡眠』</span> 每秒回复体力上限的{$rest_sleep_val}%的体力。<br>
			<span class="yellow">『治疗』</span> 每秒回复生命上限的{$rest_heal_val}%的体力。<br>
			<span class="yellow">『静养』</span> 按上述速度同时恢复生命和体力，同时有一定概率解除异常状态，静养时间越长，解除概率越高。<br>
			<!--{eval $rest_pls=implode(',',$rest_hospital_list);$rest_pls = str_replace(',','、',$rest_pls);}-->
			静养只能在<span class="yellow">$rest_pls</span>内进行。
	<dt>『队伍』
		<!--{eval eval(import_module('team'));}-->
		<dd>队友不能互相攻击，可以互相赠送道具，可以队内聊天。<br>
		不过，在<span class="yellow">起雾、浓雾和暴风雪</span>天气下，由于进入战斗时无法识别对方，可能会误伤队友。<br>
		进入连斗后，所有的队伍都将被取消，并且不能再组建或者加入队伍。<br>

		<span class="yellow">『创建队伍』</span> 消耗{$team_sp}点体力，组建一个新的队伍，队伍必须有名称和密码。<br>
		<span class="yellow">『加入队伍』</span> 消耗{$teamj_sp}点体力，加入一个已经存在的队伍，需要填写队伍名称和密码。每支队伍最多能有{$teamlimit}人。<br>
		<span class="yellow">『脱离队伍』</span> 脱离目前已经加入的队伍。
	<dt>『商店』
		<!--{eval eval(import_module('itemshop'));}-->
		<!--{eval $shop_pls=implode(',',$shops);$shop_pls = str_replace(',','、',$shop_pls);}-->
		<dd>
			在<span class="yellow">$shop_pls</span>内可以访问商店。商店的快捷键是C。<br>
			在商店内可以购买回复品、异常治疗药剂、各系武器、防具、武器强化道具、陷阱，以及一些意味不明的杂物。<br>
	<dt>『技能表』
		<dd>
			可以打开技能表，使用或者学习技能。具体技能讲解见后文。
</dl>
</div>
<p><a name="战斗说明"><span class="subtitle2">6.战斗说明</span></a></p>

<p>战斗分为两种：<span class="yellow">自己引发的战斗</span>和<span class="yellow">其他玩家引发的战斗</span>。<BR>
玩家自己移动或者探索时，遇见了其它的玩家便会发生战斗，这种战斗是由玩家自己引发的。<BR>
玩家有一定的概率先发现对手，此时可以向对方<span class="yellow">喊话</span>，选择<input type="button" class="cmdbutton" value="[Z]攻击">或者<input type="button" class="cmdbutton" value="[X]逃跑">，还可以<span class="yellow">发动战斗技能</span>。<BR>
如果选择攻击，则能先制攻击对手。具体的攻击方式依据你所持武器或者发动的战斗技能而有区别。而如果选择逃走，则必然回避战斗。<BR>
相反的，如果玩家被对方先发现，就是对方先发动攻击，此时无法回避战斗。<BR>
<BR>
此外，其他玩家也会行动。当一名玩家主动行动而遇到另一名玩家时，主动行动的玩家是战斗的引发者，可以看到详细的作战讯息。<BR>
另一名玩家不属于战斗的引发者，只能看到简要的战斗报告。</p>
<p><span class="lime">下面就是先发现对手时的战斗界面。左边的主界面显示双方的能力值和状态，右边则是指令区。</span></p>
<img  src="img/help/help_6.1.gif" style="width:900">
<p>如果选择用武器进行攻击，则会根据自己的攻击力和熟练度，以及对方的防御力来计算攻击伤害。<BR>
如果玩家的攻击造成对方的生命值归零，那么对方就被玩家<span class="yellow">杀死</span>了。<BR>
同样的，如果敌人的攻击造成玩家的生命值归零，那么玩家就被敌方杀害，在这局游戏中就无法再进行任何行动了。<BR>
玩家杀死对手后（无论是否是主动发起方），可以从对方的武器、防具、包裹道具或者金钱中，<span class="yellow">选择一个缴获</span>。<BR>
</p>
<br>

<p><a name="熟练度"><span class="subtitle2">7.熟练度</span></a></p>

<p>武器的伤害值跟该武器类型的<span class="yellow">“熟练度”</span>息息相关。<BR>
玩家刚进入游戏时，熟练度低下，可能用武器只能造成1-2点的伤害。<BR>
但是到后期，熟练度升高以后，可能用同样的武器都能将敌人秒杀。<BR>
战斗时，只要<span class="yellow">对敌人进行攻击</span>，无论命中与否，武器类型对应的熟练度都会上升。<BR>
如果逃跑，自然得不到熟练度。<BR>
比较特别的是，<span class="yellow">合成物品</span>和<span class="yellow">设置陷阱</span>也可以增加爆系武器的熟练度。<BR>
阅读<span class="yellow">“技能书”</span>或者使用特定的<span class="yellow">“能力药”</span>也可以提高熟练度。<BR>
此外，使用“装有H173的注射器”进行自杀时，有微小概率会进入<span class="yellow">L5状态</span>，此时全系熟练度都会大幅度上升。
</p>
<BR>

<p><a name="基础姿态"><span class="subtitle2">8.基础姿态</span></a></p>

<p>玩家的<span class="yellow">“基础姿态”</span>可以影响攻击、防御、遇敌率等一系列重要数值，因此请务必根据战场局势，选择合适的姿态。<br>
基础姿态对攻击力的加成只在主动攻击时有效。<br>
注意：角色发现率、道具发现率同时影响玩家“去找角色还是去找道具”以及“是否能找到这个角色/道具”的双重概率。</p>
</div>
<table cellSpacing=0 cellPadding=0 width="1200px">
	<TBODY>
		<TR>
			<TD class="b1" height=25px>
				<span> 基础姿态 </span>
			</TD>
			<TD class="b1">
				<span> 说明 </span>
			</TD>
			<TD class="b1">
				<span> 攻击力 </span>
			</TD>
			<TD class="b1">
				<span> 防御力 </span>
			</TD>
			<TD class="b1">
				<span> 角色发现率 </span>
			</TD>
			<TD class="b1">
				<span> 道具发现率 </span>
			</TD>
			<TD class="b1">
				<span> 隐蔽率 </span>
			</TD>
			<TD class="b1">
				<span> 先制攻击率 </span>
			</TD>
			<TD class="b1">
				<span> 备注 </span>
			</TD>
		</TR>
		<!--{loop $poseinfo $pi $pn}-->
			<!--{if $pose_player_usable[$pi]}-->
				<TR>
					<TD class="b2" height=25px>
						<span>$pn</span>
					</TD>
					<TD class="b3">
						<span>$posedesc[$pi]</span>
					</TD>
					<!--{eval $tmp_pose_loop = array($pose_attack_modifier[$pi], $pose_defend_modifier[$pi], $pose_findman_obbs[$pi], $pose_itemfind_obbs[$pi], $pose_hide_obbs[$pi], $pose_active_obbs[$pi]);}-->
					<!--{loop $tmp_pose_loop $tmp_pose_var}-->
						<TD class="b3">
							<span class=
							<!--{if $tmp_pose_var > 0}-->
								"clan"
							<!--{elseif $tmp_pose_var < 0}-->
								"red"
							<!--{else}-->
								"white"
							<!--{/if}-->
							><!--{if $tmp_pose_var > 0}-->+{$tmp_pose_var}%<!--{else}-->{$tmp_pose_var}%<!--{/if}--></span>
						</TD>
					<!--{/loop}-->
					<TD class="b3">
						<span>$poseremark[$pi]</span>
					</TD>
			<!--{/if}-->
		<!--{/loop}-->
	</TBODY>
</TABLE>
<div class='help_body'>
<BR>
<BR>
<br>

<p><a name="应战策略"><span class="subtitle2">9.应战策略</span></a></p>

<p>玩家的<span class="yellow">“迎战策略”</span>可以被敌人先制攻击时的各项参数，同时还有一系列额外的效果。<br>
应战策略对攻击力的加成只在反击时有效。<br>
注意：角色发现率同时影响玩家“去找角色还是去找道具”以及“是否能找到这个角色/道具”的双重概率。</p>
</div>

<table cellSpacing=0 cellPadding=0 width="1000px">
	<TBODY>
		<TR>
			<TD class="b1" height=20px>
				<span>应战策略</span>
			</TD>
			<TD class="b1">
				<span>说明</span>
			</TD>
			<TD class="b1">
				<span>攻击力</span>
			</TD>
			<TD class="b1">
				<span>防御力</span>
			</TD>
			<TD class="b1">
				<span>角色发现率</span>
			</TD>
			<TD class="b1">
				<span>隐蔽率</span>
			</TD>
			<TD class="b1">
				<span> 备注 </span>
			</TD>
		</TR>
		<!--{loop $tacinfo $ti $tn}-->
			<!--{if $tactic_player_usable[$ti]}-->
				<TR>
				<TD class="b2" height=25px>
					<span>$tn</span>
				</TD>
				<TD class="b3">
					<span>$tacticdesc[$ti]</span>
				</TD>
				<!--{eval $tmp_tactic_loop = array($tactic_attack_modifier[$ti], $tactic_defend_modifier[$ti], $tactic_meetman_obbs[$ti], $tactic_hide_obbs[$ti]);}-->
				<!--{loop $tmp_tactic_loop $tmp_tactic_var}-->
					<TD class="b3">
						<span class=
						<!--{if $tmp_tactic_var > 0}-->
							"clan"
						<!--{elseif $tmp_tactic_var < 0}-->
							"red"
						<!--{else}-->
							"white"
						<!--{/if}-->
						><!--{if $tmp_tactic_var > 0}-->+{$tmp_tactic_var}%<!--{else}-->{$tmp_tactic_var}%<!--{/if}--></span>
					</TD>
				<!--{/loop}-->
				<TD class="b3">
					<span>$tacticremark[$ti]</span>
				</TD>
			<!--{/if}-->
		<!--{/loop}-->
	</TBODY>
</TABLE>
<div class='help_body'>
<BR>
<BR>
<br>



<p><a name="道具说明"><span class="subtitle2">10.道具说明</span></a></p>
<p>道具有以下几种类型：<br>
<span class="yellow">『生命恢复』</span> 使用后按道具的效果值恢复生命。<br>
<span class="yellow">『体力恢复』</span> 使用后按道具的效果值恢复体力。<br>
<span class="yellow">『命体恢复』</span> 使用后同时恢复生命和体力。<br>
小提示：所有的恢复类道具，都有可能含毒。如果使用了带毒的恢复类道具，不仅不能恢复生命或者体力，还会损失一定的生命，并且进入“中毒”状态。<br>
<br>
<span class="yellow">『药剂』</span>
根据药剂类型的不同，使用后能够去除异常状态。如果不在异常状态，服用药剂完全无效。<br>
<span class="yellow">『技能书』</span>
使用后，能够按一定比例增加玩家的熟练度。如果玩家熟练度较高，技能书的效果会降低，甚至倒扣熟练度。<br>
<span class="yellow">『能力药』</span>
使用后，能够按一定比例增加玩家的各项能力。如果玩家各项能力较高，能力药的效果会降低，甚至倒扣能力值。<br>
<br>
<span class="yellow">『武器』</span>
使用后装备在手上，增加攻击力。武器分为殴，斩，射，投，爆，灵六系，不同的武器有不同的特性，详情见下文。<br>
<span class="yellow">『防具』</span>
使用后装备在身体上，增加防御力，并保护该部位不会受伤。分为体，头，腕，足四个部位。<br>
<span class="yellow">『饰品』</span> 使用后佩戴在身体上，部分饰物有特殊用途。<br>
<br>
<span class="yellow">『合成专用』</span> 用来合成更高级道具的物品，单独携带是没有任何作用的。<br>
<span class="yellow">『陷阱』</span> 使用后会在当前地区设下陷阱。<br>
<span class="yellow">『天气控制』</span> 使用后将改变当前天气。<br>
<span class="yellow">『特殊』</span> 有特殊用途的道具，详情见“特殊道具”部分</p>


<p><a name="武器"><span class="subtitle2">11.武器</span></a></p>

<p>武器分为<span class="yellow">殴、斩、射、投、爆、灵</span>六系。不同的武器之间的特性差异很大，详情见下表。</p>
</div>
<table cellSpacing=0 cellPadding=0 height=300px width=1250px>
	<tr>
		<td class="b1" height=20px width=160px>
		<span>武器种类</span>
		</td>
		<td class="b1" width=75px>
		<span>所需熟练度</span>
		</td>
		<td class="b1" width=50px>
		<span>射程</span>
		</td>
		<td class="b1" width=60px>
		<span>伤害成长</span>
		</td>
		<td class="b1" width=60px>
		<span>初始命中</span>
		</td>
		<td class="b1" width=60px>
		<span>后期命中</span>
		</td>
		<td class="b1" width=60px>
		<span>致伤率</span>
		</td>
		<td class="b1" width=60px>
		<span>反击率</span>
		</td>
		<td class="b1" width=300px>
		<span>优势</span>
		</td>
		<td class="b1" width=300px>
		<span>劣势</span>
		</td>
	</tr>
	<!--{eval eval(import_module('weapon','itemmain','wound'));}-->
	<!--{eval $wep_adv_desc = array('P'=>'空手也能造成可观伤害；<br>能够用钉子加强棍棒类钝器', 
	'K'=>'伤害正向浮动大；<br>能够用磨刀石加强武器；',
	'G'=>'射程远；<br>反击率高，故对NPC输出较高',
	'J'=>'射程最远；<br>有与武器效果值和敌方生命上限相关的固定伤害值，伤害输出优秀',
	'C'=>'后期命中率最高；<br>命中率成长最快',
	'B'=>'熟练度越高射程越高；<br>箭矢的攻击属性也能生效',
	'D'=>'伏击型武器，不会被反击；<br>伤害输出优秀，且难以防御',
	'F'=>'有等于武器效果值的固定伤害值；<br>命中率高；<br>大部分合成武器耐久无限'
	);}-->
	<!--{eval $wep_wea_desc = array('P'=>'各数值平庸', 
	'K'=>'伤害负向浮动也大；<br>武器容易损坏',
	'G'=>'有子弹数量和种类限制；<br>反制装备较多；<br>基础攻击力不能充分发挥作用；<br>攻击时会发出枪声',
	'J'=>'反击率低；被他人袭击时会遭受额外伤害；<br>反制装备较多；装备本身和子弹均难以获得；<br>射熟低时命中率极端低下；<br>不可以发动大部分战斗技能<br>攻击时会发出枪声',
	'C'=>'致伤率最低；<br>伤害输出不佳',
	'B'=>'反击率低；<br>有箭矢数量限制；<br>每次攻击都需要上箭',
	'D'=>'伏击型武器，无法反击他人；<br>命中率低下；<br>大部分武器耐久较低<br>攻击时会发出爆炸声',
	'F'=>'射程最近；<br>伤害成长率最慢；<br>攻击时需要消耗体力；<br>有容易获得的反制装备'
	);}-->
	<!--{loop Array('P','K','G','J','C','B','D','F') $val}-->
	<tr>
		<td class="b3" height=60px>
		<span><!--{eval echo $iteminfo['W'.$val]}--></span>
		</td>
		<td class="b3">
		<span><!--{eval echo $skilltypeinfo[$skillinfo[$val]].'熟'}--></span>
		</td>
		<td class="b3">
			<!--{if $rangeinfo[$val] > 5}-->
				<span class="clan">$rangeinfo[$val]</span>
			<!--{elseif $rangeinfo[$val] > 3}-->
				<span class="lime">$rangeinfo[$val]</span>
			<!--{elseif $rangeinfo[$val] > 1}-->
				<span class="yellow">$rangeinfo[$val]</span>
			<!--{elseif $rangeinfo[$val] > 0}-->
				<span class="red">$rangeinfo[$val]</span>
			<!--{else}-->
				<span class="evergreen">伏击</span>
			<!--{/if}-->
		</td>
		<td class="b3">
			<!--{if $skill_dmg[$val] > 0.65}-->
				<span class="clan">$skill_dmg[$val]</span>
			<!--{elseif $skill_dmg[$val] > 0.5}-->
				<span class="lime">$skill_dmg[$val]</span>
			<!--{elseif $skill_dmg[$val] > 0.35}-->
				<span class="yellow">$skill_dmg[$val]</span>
			<!--{else}-->
				<span class="red">$skill_dmg[$val]</span>
			<!--{/if}-->
		</td>
		<td class="b3">
			<!--{if $hitrate_obbs[$val] > 70}-->
				<span class="clan">$hitrate_obbs[$val]</span>
			<!--{elseif $hitrate_obbs[$val] > 60}-->
				<span class="lime">$hitrate_obbs[$val]</span>
			<!--{elseif $hitrate_obbs[$val] > 50}-->
				<span class="yellow">$hitrate_obbs[$val]</span>
			<!--{else}-->
				<span class="red">$hitrate_obbs[$val]</span>
			<!--{/if}-->
		</td>
		<td class="b3">
			<!--{if $hitrate_max_obbs[$val] > 90}-->
				<span class="clan">$hitrate_max_obbs[$val]</span>
			<!--{elseif $hitrate_max_obbs[$val] > 85}-->
				<span class="lime">$hitrate_max_obbs[$val]</span>
			<!--{elseif $hitrate_max_obbs[$val] > 80}-->
				<span class="yellow">$hitrate_max_obbs[$val]</span>
			<!--{else}-->
				<span class="red">$hitrate_max_obbs[$val]</span>
			<!--{/if}-->
		</td>
		<td class="b3">
			<!--{if $wep_infobbs[$val] > 75}-->
				<span class="clan">$wep_infobbs[$val]</span>
			<!--{elseif $wep_infobbs[$val] > 50}-->
				<span class="lime">$wep_infobbs[$val]</span>
			<!--{elseif $wep_infobbs[$val] > 25}-->
				<span class="yellow">$wep_infobbs[$val]</span>
			<!--{else}-->
				<span class="red">$wep_infobbs[$val]</span>
			<!--{/if}-->
		</td>
		<td class="b3">
			<!--{if $counter_obbs[$val] > 60}-->
				<span class="clan">$counter_obbs[$val]</span>
			<!--{elseif $counter_obbs[$val] > 40}-->
				<span class="lime">$counter_obbs[$val]</span>
			<!--{elseif $counter_obbs[$val] > 20}-->
				<span class="yellow">$counter_obbs[$val]</span>
			<!--{else}-->
				<span class="red">$counter_obbs[$val]</span>
			<!--{/if}-->
		</td>
		<td class="b3">
			<span class="clan">$wep_adv_desc[$val]</span>
		</td>
		<td class="b3">
			<span class="yellow">$wep_wea_desc[$val]</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>
<div class='help_body'>
<p>※“伏击”指不能反击任何系的攻击，但是其他系也不能反击自己的主动攻击。</p>
<br>
<br>
<BR>

<p>殴、斩系武器，命中对手之后，有一定机率造成武器<span class="yellow">“损坏”</span>。<BR>
如果武器的耐久值不是“无限”，那么耐久将会下降。耐久降为0后，武器会损毁，之后就必须赤手空拳了。<BR>
如果武器的耐久值是“无限”，那么武器的攻击效果将会下降，效果降为0时武器同样会损毁。<BR>
无限耐久的殴、斩系武器比有限耐久的殴、斩系武器更容易损坏，请注意取舍。<BR>
<BR>
射系武器有<span class="yellow">“子弹”</span>的设定，当武器耐久非“无限”时才能作为枪械进行射击。<BR>
如果射系武器子弹用尽，在游戏中耐久值将显示为“无限”。此时射系武器只能直接作为钝器攻击，攻击力会飞速下降。<BR>
根据射系武器所拥有的属性的不同，需要的子弹类型也不同，请注意收集。<BR>
带“电击”或者“音波”属性的射系武器，需要能量弹药；<BR>
带“火焰”或者“冰冻”属性的射系武器，需要气体弹药；<BR>
除此之外，连续攻击的射系武器属于“机枪”，需要机枪子弹。这些类型之外的射系武器属于手枪，用手枪子弹就可以装填。<BR>
此外，还存在属性为“一发”的枪械，这种枪械不能装填弹药，弹药用尽就永远无法作为枪械攻击。<BR>
根据子弹类型的不同，弹夹上限也不同。<BR>
装填子弹的方法是装备射系武器并「使用」子弹。<BR>
<BR>
投系，爆系和灵系的武器，属于<span class="yellow">消耗品</span>，每攻击一次数量都会减少。当然也存在可以无限攻击的这三类武器。<BR>
<BR>
部分道具如“磨刀石”、“钉”、“武器师安雅的奖赏”等，都能<span class="yellow">强化武器</span>，使用方法是装备武器然后使用特殊道具即可。具体情况见“特殊道具”。
</p>
<BR>
<p><a name="属性"><span class="subtitle2">12.属性</span></a></p>

<p>属性是ACFUN大逃杀在原版大逃杀基础上独创的系统，能极大丰富游戏的玩法。<BR>
属性分为武器属性和装备属性。具体的属性说明见下表。</p>

<p><span class="yellow">攻击属性</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
			<span>属性名称</span>
		</td>
		<td class="b1">
			<span>属性效果</span>
		</td>
		<td class="b1">
			<span>备注</span>
		</td>
	</tr>
	<!--{loop array('S','r','d','p','u','i','e','w','f','k','t','n','y','N','L','V') $tmp_attr}-->
	<tr>
		<td class="b2" height=20px>
			<span>$itemspkinfo[$tmp_attr]</span>
		</td>
		<td class="b3" style="padding:6 0">
			<span>$itemspkdesc[$tmp_attr]</span>
		</td>
		<td class="b3" style="padding:6 0">
			<span>$itemspkremark[$tmp_attr]</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>
<br>
<br>

<p><span class="clan">防御属性</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
			<span>属性名称</span>
		</td>
		<td class="b1">
			<span>属性效果</span>
		</td>
		<td class="b1">
			<span>备注</span>
		</td>

	</tr>
	<!--{loop array('A','a','B','b','R','P','K','G','C','D','F','q','U','I','E','W','c','H','h','M','m','l','g') $tmp_attr}-->
	<tr>
		<td class="b2" height=20px>
			<span>$itemspkinfo[$tmp_attr]</span>
		</td>
		<td class="b3" style="padding:6 0">
			<span>$itemspkdesc[$tmp_attr]</span>
		</td>
		<td class="b3" style="padding:6 0">
			<span>$itemspkremark[$tmp_attr]</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>
<br>
<br>

<p><span class="yellow">杂项属性</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
			<span>属性名称</span>
		</td>
		<td class="b1">
			<span>属性效果</span>
		</td>
		<td class="b1">
			<span>备注</span>
		</td>
	</tr>
	<!--{loop array('s','^001','^002','J','O','o','Z','x','z') $tmp_attr}-->
	<tr>
		<td class="b2" height=20px>
			<span>$itemspkinfo[$tmp_attr]</span>
		</td>
		<td class="b3" style="padding:6 0">
			<span>$itemspkdesc[$tmp_attr]</span>
		</td>
		<td class="b3" style="padding:6 0">
			<span>$itemspkremark[$tmp_attr]</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>
<br>
<br>

<p><a name="受伤与状态"><span class="subtitle2">13.受伤与异常状态</span></a></p>

<p>战斗中，玩家自己或者敌人都有一定几率发出“致伤攻击”。<BR>
致伤攻击会随机选择被攻击者的一个身体部位。<BR>
如果该部位装备有防具，则会减少该防具的耐久。如果防具耐久下降到0，那么防具将会损坏。<BR>
如果该部位未装备防具，那么被攻击者的那个部位则会“受伤”。<BR>
此外，部分武器带有“属性攻击”，有一定几率导致异常状态。<BR>
受伤部位和异常状态种类不同，被攻击者受到的影响也不同。详细情况见下表。</p>

<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
		<span>异常状态名</span>
		</td>
		<td class="b1">
		<span>移动和探索影响</span>
		</td>
		<td class="b1">
		<span>战斗影响</span>
		</td>
		<td class="b1">
		<span>解除方法</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="red">胸部受伤</span>
		</td>
		<td class="b3">
		<span>睡眠、治疗、静养效果<span class="yellow">↓↓</span></span>
		</td>
		<td class="b3">
		<span>防御力<span class="yellow">↓↓</span></span>
		</td>
		<td class="b3">
		<span>包扎伤口</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="red">头部受伤</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
		<td class="b3">
		<span>命中率<span class="yellow">↓↓</span></span>
		</td>
		<td class="b3">
		<span>包扎伤口</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="red">腕部受伤</span>
		</td>
		<td class="b3">
		<span>探索体力消耗<span class="yellow">↑↑</span></span>
		</td>
		<td class="b3">
		<span>攻击力<span class="yellow">↓↓</span></span>
		</td>
		<td class="b3">
		<span>包扎伤口</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="red">足部受伤</span>
		</td>
		<td class="b3">
		<span>移动体力消耗<span class="yellow">↑↑</span></span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
		<td class="b3">
		<span>包扎伤口</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="purple">中毒</span>
		</td>
		<td class="b3">
		<div class="nttx">移动生命<span class="red">↓↓</span>；探索生命<span
			class="red">↓</span></div>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
		<td class="b3">
		<span>解毒剂</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="red">烧伤</span>
		</td>
		<td class="b3">
		<div class="nttx">移动生命<span class="red">↓↓</span>；探索生命<span
			class="red">↓</span></div>
		</td>
		<td class="b3">
		<span>攻击力<span class="yellow">↓↓↓</span></span>
		</td>
		<td class="b3">
		<span>烧伤药剂</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="clan">冻结</span>
		</td>
		<td class="b3">
		<span>移动和探索体力消耗<span class="yellow">↑↑↑</span></span>
		</td>
		<td class="b3">
		<span>攻击力、防御力、命中率、先制攻击率<span class="yellow">↓</span></span>
		</td>
		<td class="b3">
		<span>解冻药水</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="yellow">身体麻痹</span>
		</td>
		<td class="b3">
		<span>移动和探索体力消耗<span class="yellow">↑</span></span>
		</td>
		<td class="b3">
		<div class="nttx">命中率<span class="yellow">↓</span>；先制攻击率和反击率<span
			class="yellow">↓↓↓↓</span></div>
		</td>
		<td class="b3">
		<span>麻痹药剂</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span class="grey">混乱</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
		<td class="b3">
		<div class="nttx">防御力<span class="yellow">↓↓↓</span>；先制攻击率和反击率<span
			class="yellow">↓↓</span></div>
		</td>
		<td class="b3">
		<span>清醒药剂</span>
		</td>
	</tr>

</table>
<br>
<br>
<BR>
<p><a name="毒药和陷阱"><span class="subtitle2">14.毒药和陷阱</span></a></p>

<p>陷阱类道具：「使用」之后可以在所在的区域设下陷阱，设置的同时可以增加经验值和爆系熟练度。陷阱也可能被其他玩家回避。如果未触发陷阱，玩家还能拾取该陷阱。<BR>
毒药：「使用」后可对大部份回复物品下毒。<BR>
自己设的陷阱可能会被自己触发，自己下毒的食物可能会被自己捡到并且误食，所以在设下陷阱或是下毒的时候要谨慎。<BR>
陷阱类道具会造成不超过道具效果值的伤害，下毒的食物会造成与食物效果值一样的伤害。</p>
<BR>
<p><a name="称号与技能"><span class="subtitle2">15.称号与技能</span></a></p>

<br>
<p>
内定称号分为“一般”和“特殊”两种类型。<BR>
玩家进入游戏时，会随机分配到三个内定称号，其中1个“一般”类型称号和2个“特殊”类型称号，玩家可从中任选一个作为自己的称号。<BR>
不同的内定称号有不同的特性与技能，各种技能涉及的两个重要资源便是“<span class="lime">技能点</span>”与“<span class="yellow">怒气</span>”。<br>
“<span class="lime">技能点</span>”在升级时获得，每升1级获得1点技能点；技能点是对各类技能进行升级强化的资源。<br>
而“<span class="yellow">怒气</span>”在战斗中获得：当你遭到敌人攻击时，你会获得一定怒气。敌人比你的等级高出越多，你获得的怒气也越多。怒气可以用于释放出各种不同的战斗技能。<br>
各个称号的特性与技能请参见下表：</p>
<BR>

<!--{eval eval(import_module('clubbase'));}-->
<!--{loop $clublist $nowclub $clubdescr}-->
<!--{eval \clubbase\club_acquire($nowclub);}-->
{template MOD_CLUBBASE_SKILLPAGE}
<!--{eval \clubbase\club_lost();}-->
<!--{/loop}-->
	

<table cellSpacing=0 cellPadding=0 width="700px">
	<tr>
		<td class="b1" height=20px>
		<span>称号名</span>
		</td>
		<td class="b1">
		<span>种类</span>
		</td>
		<td class="b1">
		<span>基本特性</span></td>
		<td class="b1">
		<span>技能</span>
		</td>
	</tr>
	<!--{loop Array(1,2,3,4,5,9,6,7,8,10,11,13,14,18,19,20,21,24) $clubn}-->
		<tr>
			<td class="b2" height=24px>
				<span>$clubinfo[$clubn]</span>
			</td>
			<td class="b3">
				<!--{if $clublist[$clubn]['type']}-->
					<span>特殊</span>
				<!--{else}-->
					<span>一般</span>
				<!--{/if}-->
			</td>
			<td class="b3" style="padding:5px">
				<span>$clubdesc_h[$clubn]</span>
			</td>
			<td class="b3" width="125px">
				<span>
				<input class="cmdbutton" onclick="bubblebox_show('club{$clubn}');" value="点我查看称号技能" type="button">
				</span>
			</td>
		</tr>
	<!--{/loop}-->
</table>
<!--jScrollPane支持-->
<!--<img type="hidden" src="img/blank.png" onload="jQuery(function() { jQuery('.scroll-pane').jScrollPane(); });">-->
<!--jScrollPane支持-->
<br>
<br>
<p>
※ 对涉及“眩晕敌人”技能的解释：眩晕状态与黑衣组织的“衰弱”、锡安成员的“EMP”类似，是一个时效性负面状态：它无法被解除，只能等待效果时间过去自行消失。<br>
眩晕期间，角色无法进行任何行动或战斗（包括反击敌人的攻击）。出于平衡原因，“死斗”模式下眩晕时长为面板数值的三分之一。<br>
<BR>
※ 宝石骑士技能中，每颗宝石/方块都会为装备增加一定效果值和耐久值（无限耐久装备只增加效果值）。如成功获得属性则获得少量经验，而未能成功获得属性则获得较多经验和一些怒气。
各类方块/宝石可以为装备添加的属性如下：</p><br>
<!--{eval eval(import_module('itemmain','skill23'));}-->
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=24px>
		<span>道具名称</span>
		</td>
		<td class="b1">
		<span>镶嵌至武器上的效果</span>
		</td>
		<td class="b1">
		<span>镶嵌至防具上的效果</span>
		</td>
	</tr>
	<!--{loop $bufflist23 $bl23k $bl23v}-->
	<tr>
		<td class="b2" height=24px>
		<span>$bl23k</span>
		</td>
		<td class="b3" style="max-width:300px;padding:5px">
		<span>
			<!--{loop $bl23v['W'] $bl23vs}-->
				{$bl23vs[0]}%{$itemspkinfo[$bl23vs[1]]} 
			<!--{/loop}-->
		</span>
		</td>
		<td class="b3" style="max-width:300px;padding:5px">
		<span>
			<!--{loop $bl23v['D'] $bl23vs}-->
				{$bl23vs[0]}%{$itemspkinfo[$bl23vs[1]]} 
			<!--{/loop}-->
		</span>
		</td>
	</tr>
	<!--{/loop}-->
</table>

<br><br>
<p><a name="道具合成"><span class="subtitle2">16.道具合成</span></a></p>

<p>可以将某些物品合成为另一种物品，只要名称正确即可合成。合成道具成功则可增加爆熟。</p>
<p>合成成功时，如果所用的材料是武器或者防具，则会将整个材料耗尽；其他情况下，材料的耐久会减1。</p>
<br>
<br>
</div>
{template tmp_mixhelp}
<div class='help_body'>
<br>
<p><span class="lime">同调合成与超量合成说明：</span></p>
<p><font size=2>
游戏王系道具（名字后面带有‘★ 数字’的道具，也包含少量例外）可以参与同调合成。<br>
合成时，会对‘★’后面的数字求和，合成结果就是星数为这个总和值的道具。如果有多种，你可以<span class="yellow">从中任选一个作为结果</span>。<br>
总之，<span class="yellow">同调合成就是算星数的和</span>。 只要<span class="yellow">参与合成的道具都具有星数</span>，且<span class="yellow">有且仅有1个道具有“调整”属性</span>，也存在对应星数的合成结果，就能成功合成。<br>
例如：卡片汽车 D ★2 + 水灵使-艾莉娅 ★3 + 盟军 次时代鸟人 ★3（这个道具有调整属性） => 星尘龙 ★8<br>
或者：救世龙 ★1（这个道具有调整属性） + 凭依装着-希塔 ★4 + 光灵使-莱娜 ★3 => 星尘龙 ★8<br>
</p>
</div>
{template tmp_mixhelp_sync}
<div class='help_body'>
<br>
<p>
道具属性中带有<span class="yellow">“超量素材”属性</span>的道具，或者<span class="yellow">名字里带★数字，且没有“-仮”字样的道具</span>可以进行超量合成。装备<span class="yellow">具有“多重”属性且具有星数的投系武器</span>，点击“武器模式”按钮，即可将武器转化为超量素材。注意，多数转化是不可逆的！<br>
超量合成要求所有参与合成的道具都是超量素材，且<span class="yellow">星数相同</span>。 参与合成的超量素材的星数和个数决定了合成结果，与同调一样，如果有多个，你可以<span class="yellow">从中任选一个</span>。<br>
</p>
</div>
{template tmp_mixhelp_overlay}
<div class='help_body'>
<p><a name="特殊道具"><span class="subtitle2">17.特殊道具</span></a></p>

<p>在此列出游戏中部分特殊道具的用途。</p>
<p><span class="yellow">强化道具用途</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
		<span>道具名称</span>
		</td>
		<td class="b1">
		<span>道具用途</span>
		</td>

		<td class="b1">
		<span>取得方式</span>
		</td>
		<td class="b1">
		<span>备注</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>钉</span>
		</td>
		<td class="b3">
		<span>为武器名字带有“棍棒”的钝器增加攻击力</span>
		</td>
		<td class="b3">
		<span>商店出售；地图拾取</span>
		</td>
		<td class="b3">
		<span>有可能失败导致武器攻击力反而下降</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>钢钉</span>
		</td>
		<td class="b3">
		<span>为武器名字带有“棍棒”的钝器增加攻击力，效果更好</span>
		</td>
		<td class="b3">
		<span>1禁起商店出售</span>
		</td>
		<td class="b3">
		<span>有可能失败导致武器攻击力反而下降</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>磨刀石</span>
		</td>
		<td class="b3">
		<span>为锐器增加攻击力</span>
		</td>
		<td class="b3">
		<span>商店出售；地图拾取</span>
		</td>
		<td class="b3">
		<span>有可能失败导致武器攻击力反而下降</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>贤者之磨刀石</span>
		</td>
		<td class="b3">
		<span>为锐器增加攻击力，效果更好</span>
		</td>
		<td class="b3">
		<span>1禁起商店出售</span>
		</td>
		<td class="b3">
		<span>有可能失败导致武器攻击力反而下降</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>武器师安雅的奖赏</span>
		</td>
		<td class="b3">
		<span>增加武器攻击力/耐久/转换武器的类型</span>
		</td>
		<td class="b3">
		<span>合成</span>
		</td>
		<td class="b3">
		<span>使用时产生哪种效果是随机决定的</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>『祝福宝石』</span>
		</td>
		<td class="b3">
		<span>可以强化“菁英”属性道具的效果值</span>
		</td>
		<td class="b3">
		<span>商店出售</span>
		</td>
		<td class="b3">
		<span>强化效果与已进行强化的次数有关，但次数过高容易失败</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>『灵魂宝石』</span>
		</td>
		<td class="b3">
		<span>可以强化“菁英”属性道具的效果值，成功率比祝福宝石更高</span>
		</td>
		<td class="b3">
		<span>1禁起商店出售</span>
		</td>
		<td class="b3">
		<span>强化效果与已进行强化的次数有关，但次数过高容易失败</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>针线包</span>
		</td>
		<td class="b3">
		<span>增加身体防具的防御效果</span>
		</td>
		<td class="b3">
		<span>商店出售</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>消音器</span>
		</td>
		<td class="b3">
		<span>为远程武器添加消音属性</span>
		</td>
		<td class="b3">
		<span>地图拾取</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
	</tr>
</table>
<br>
※ 以下是关于『祝福宝石』和『灵魂宝石』的具体说明：每个道具的前3次强化都是必定成功的，使用『祝福宝石』或『灵魂宝石』没有任何区别。<br>
第4次强化如果使用『灵魂宝石』，则只需一颗且必定成功；但如果使用『祝福宝石』，则需要消耗2颗或3颗：2颗成功率为1/3，3颗必定成功。<br>
第5次及之后的强化只能使用『灵魂宝石』进行，第5次强化成功率为1/2，随后的强化成功率会更低。
<br>
<br>

<p><span class="lime">电子装备用途</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
		<span>道具名称</span>
		</td>
		<td class="b1">
		<span>道具用途</span>
		</td>

		<td class="b1">
		<span>取得方式</span>
		</td>
		<td class="b1">
		<span>备注</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>生命探测器</span>
		</td>
		<td class="b3">
		<span>探测自己所在区域内的玩家和NPC数目</span>
		</td>
		<td class="b3">
		<span>一定几率初始携带；地图拾取</span>
		</td>
		<td class="b3">
		<span>消耗电池</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>广域生命探测器</span>
		</td>
		<td class="b3">
		<span>探测全游戏所有区域内的玩家和NPC数目</span>
		</td>
		<td class="b3">
		<span>合成</span>
		</td>
		<td class="b3">
		<span>消耗电池</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>探测器电池</span>
		</td>
		<td class="b3">
		<span>为生命探测器和广域生命探测器充电</span>
		</td>
		<td class="b3">
		<span>商店出售</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>移动PC</span>
		</td>
		<td class="b3">
		<span>入侵禁区控制系统以解除禁区限制</span>
		</td>
		<td class="b3">
		<span>合成</span>
		</td>
		<td class="b3">
		<span>成功率不高；可能导致道具损坏或者玩家死亡！</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>电池</span>
		</td>
		<td class="b3">
		<span>为移动PC充电</span>
		</td>
		<td class="b3">
		<span>商店出售；地图拾取</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
	</tr>
</table>
<br>
<br>

<p><span class="clan">剧情道具用途</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
		<span>道具名称</span>
		</td>
		<td class="b1">
		<span>道具用途</span>
		</td>

		<td class="b1">
		<span>取得方式</span>
		</td>
		<td class="b1">
		<span>备注</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>游戏解除钥匙</span>
		</td>
		<td class="b3">
		<span>使用后成为获胜者，进入“锁定解除”结局</span>
		</td>
		<td class="b3">
		<span>BOSS NPC掉落或者合成</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>奇怪的按钮</span>
		</td>
		<td class="b3">
		<span>使用后……</span>
		</td>
		<td class="b3">
		<span>地图拾取</span>
		</td>
		<td class="b3">
		<span>有一定概率导致玩家死亡！</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>杏仁豆腐的ID卡</span>
		</td>
		<td class="b3">
		<span>使用后会使游戏进入死斗模式</span>
		</td>
		<td class="b3">
		<span>杏仁豆腐NPC掉落</span>
		</td>
		<td class="b3">
		<span>如果游戏未进入连斗则无法使用</span>
		</td>
	</tr>
</table>
<br>
<br>


<p><span class="lime">其他特殊道具用途</span>：</p>
<table cellSpacing=0 cellPadding=0>
	<tr>
		<td class="b1" height=20px>
		<span>道具名称</span>
		</td>
		<td class="b1">
		<span>道具用途</span>
		</td>

		<td class="b1">
		<span>取得方式</span>
		</td>
		<td class="b1">
		<span>备注</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>装有H173的注射器</span>
		</td>
		<td class="b3">
		<span>使用后立刻自杀</span>
		</td>
		<td class="b3">
		<span>商店超低价格出售</span>
		</td>
		<td class="b3">
		<span>有微小概率自杀失败并且进入L5状态</span>
		</td>

	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>毒物说明书</span>
		</td>
		<td class="b3">
		<span>装备以后，下毒效果x1.5</span>
		</td>
		<td class="b3">
		<span>地图拾取</span>
		</td>
		<td class="b3">
		<span>不能和“黑衣组织”称号的能力效果叠加</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>妖精的羽翼</span>
		</td>
		<td class="b3">
		<span>装备以后，下毒的效果改为去除补给品中的有毒物质</span>
		</td>
		<td class="b3">
		<span>商店出售；NPC掉落</span>
		</td>
		<td class="b3">
		<span>装备后覆盖“黑衣组织”称号的能力效果。</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>御神签</span>
		</td>
		<td class="b3">
		<span>使用后随机增加或者减少少量能力值</span>
		</td>
		<td class="b3">
		<span>地图拾取</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
	</tr>

	<tr>
		<td class="b2" height=20px>
		<span>凸眼鱼</span>
		</td>
		<td class="b3">
		<span>使用后使地图上所有尸体消失</span>
		</td>
		<td class="b3">
		<span>商店出售</span>
		</td>
		<td class="b3">
		<span>无</span>
		</td>
	</tr>

	<tr>
		<td class="b2" height=20px>
		<span>■DeathNote■</span>
		</td>
		<td class="b3">
		<span>使用后，获得杀死任意一名玩家的能力。</span>
		</td>
		<td class="b3">
		<span>地图拾取；NPC掉落</span>
		</td>
		<td class="b3">
		<span>需要填写该玩家的正确资料</span>
		</td>
	</tr>
	<tr>
		<td class="b2" height=20px>
		<span>水果刀</span>
		</td>
		<td class="b3">
		<span>使用后，将根据当前的斩系熟练度，把身上携带的水果变为强化补给或者陷阱。</span>
		</td>
		<td class="b3">
		<span>地图拾取；商店出售</span>
		</td>
		<td class="b3">
		<span>每次使用水果刀有一定几率损坏</span>
		</td>
	</tr>
</table>
<br>
<br>



<p><a name="天气"><span class="subtitle2">18.天气状况</span></a></p>
<br>
<p>在禁区增加的同时，天气也会变化。<BR>
天气会影响游戏状况中的各种数据的变化，变化的程度请参考以下的表。<BR>
不过，天气对游戏状况的影响一般是微乎其微的。<br>
当天气能见度不好的时候，先制攻击时无法确定对方的身份。<BR>
这时贸然攻击可能会伤害自己的队友，请小心。<BR>
此外，如果使用道具“天候棒”，则会将天气强制改变成<span class="blue">“冰雹”</span>、<span
	class="red">“龙卷风”</span>、<span class="yellow">“瘴气”</span>和<span
	class="clan">“暴风雪”</span>的其中一种。<BR>
这些天气对游戏的具体影响请玩家自己体会。<BR>
</p>
<TABLE cellSpacing=0 cellPadding=0>
	<TBODY>
		<TR>
			<TD class="b1" height=20px>
			<span>天气</span>
			</TD>
			<TD class="b1">
			<span>攻击力</span>
			</TD>
			<TD class="b1">
			<span>防御力</span>
			</TD>
			<TD class="b1">
			<span>发现率</span>
			</TD>
			<TD class="b1">
			<span>先攻率</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『大晴』</span>
			</TD>
			<TD class="b3">
			<span class="clan">强</span>
			</TD>
			<TD class="b3">
			<span class="blue">极强</span>
			</TD>
			<TD class="b3">
			<span class="blue">极高</span>
			</TD>
			<TD class="b3">
			<span class="blue">极高</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『晴天』</span>
			</TD>
			<TD class="b3">
			<span class="clan">强</span>
			</TD>
			<TD class="b3">
			<span class="clan">强</span>
			</TD>
			<TD class="b3">
			<span class="clan">高</span>
			</TD>
			<TD class="b3">
			<span class="clan">高</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『多云』</span>
			</TD>
			<TD class="b3">
			<span class="lime">一般</span>
			</TD>
			<TD class="b3">
			<span class="lime">一般</span>
			</TD>
			<TD class="b3">
			<span class="lime">中</span>
			</TD>
			<TD class="b3">
			<span class="lime">中</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『小雨』</span>
			</TD>
			<TD class="b3">
			<span class="yellow">弱</span>
			</TD>
			<TD class="b3">
			<span class="lime">一般</span>
			</TD>
			<TD class="b3">
			<span class="lime">弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">低</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『暴雨』</span>
			</TD>
			<TD class="b3">
			<span class="yellow">弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">弱</span>
			</TD>
			<TD class="b3">
			<span class="lime">弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">低</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『雷雨』</span>
			</TD>
			<TD class="b3">
			<span class="yellow">很弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">弱</span>
			</TD>
			<TD class="b3">
			<span class="lime">弱</span>
			</TD>
			<TD class="b3">
			<span class="red">极低</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『台风』</span>
			</TD>
			<TD class="b3">
			<span class="red">极弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">很弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">很弱</span>
			</TD>
			<TD class="b3">
			<span class="red">极低</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『下雪』</span>
			</TD>
			<TD class="b3">
			<span class="lime">一般</span>
			</TD>
			<TD class="b3">
			<span class="lime">一般</span>
			</TD>
			<TD class="b3">
			<span class="clan">强</span>
			</TD>
			<TD class="b3">
			<span class="lime">中</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『起雾』</span>
			</TD>
			<TD class="b3">
			<span class="lime">一般</span>
			</TD>
			<TD class="b3">
			<span class="yellow">很弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">很弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">低</span>
			</TD>
		</TR>
		<TR>
			<TD class="b2" height=20px>
			<span>『浓雾』</span>
			</TD>
			<TD class="b3">
			<span class="clan">强</span>
			</TD>
			<TD class="b3">
			<span class="red">极弱</span>
			</TD>
			<TD class="b3">
			<span class="red">极弱</span>
			</TD>
			<TD class="b3">
			<span class="yellow">低</span>
			</TD>
		</TR>
	</TBODY>
</TABLE>
<BR>
<BR>
<BR>

<p><a name="物品掉落表"><span class="subtitle2">19.物品掉落表</span></a></p>
<br>
下面给出ACFUN大逃杀地图物品掉落表格，供玩家查询使用。<br> 
<span class="lime">如果你只是想查找合成表中的物品的掉落位置，只需将鼠标停留在合成表中该物品上，就会出现这个物品的获取方式了～</span><br>
<span class="yellow">物品掉落表比较巨大，因此请利用浏览器的查找功能（Ctrl+F）查找你所需的内容。 </span><br>
<a href="itemhelp.php"><u>>>点我查看掉落物品一览表<<</u></a><br>
<br>
<br>

<p><a name="NPC简介"><span class="subtitle2">20.NPC简介</span></a></p>
<br>
</div>
{template tmp_npchelp}
<div class='help_body'>
<BR>

<BR>
<p><a name="玩家守则"><span class="subtitle2">21.玩家守则</span></a></p>
<p><span class="evergreen">
1。请文明地进行游戏。使用不雅昵称或口出脏话，而且不听劝阻的人，不保证其继续游戏的权利。<br>
2。请放松地进行游戏，勿为游戏中的突发事件而走极端。<br>
3。如果发现游戏中的漏洞，请及时通知管理员。如果利用游戏漏洞谋取利益或者攻击游戏服务器，管理员将保留采取任何反制手段的权利。<br>
<br>
感谢能遵守以上三条的人的默默支持，祝你们都能享受到“ACFUN大逃杀”的游戏乐趣。</span></p>

</div>
</center>
<a href="updatelist.php">新版更新履历</a><br>



<form method="post" name="backindex" action="index.php"><input
	type="submit" name="enter" value="{lang backindex}"></form>
{template footer}