{template header}
<table align="center" style="text-align:center;border:0;padding:0;">
	<tr>
		<td><span class="yellow b">{lang gameversion}：</span></td>
		<td style="text-align:left;"><span class="evergreen b">$gameversion</span></td>
		<td style="text-align:center;padding:0 0 0 25px;"><span class="yellow b">{lang adminmsg}</span></td>
	</tr>
	<tr>
		<td><span class="yellow b">{lang now}：</span></td>
		
		<td style="text-align:left;"><span class="evergreen b">{lang gamedate}</span></td>
		<td rowspan="2" style="width:520px; height:100%; vertical-align:top;text-align:left;">
			<span class="evergreen b">$adminmsg</span>		
		</td>
	</tr>
	<tr>
		<td><span class="yellow b">{lang systemmsg}：</span></td>
		<td style="text-align:left;"><span class="evergreen b">$systemmsg</span></td>
	</tr>
	<tr>
		<td><span class="yellow b">{lang gameinfo}：</span></td>
		<td style="text-align:left;">
			<span class="evergreen b">
				<span class="evergreen2">
				<!--{if room_check_subroom($room_prefix)}-->
					<span class="yellow b"><!--{eval echo '房间&nbsp;'.room_prefix2id($room_prefix).'&nbsp;';}--></span>
				<!--{else}-->
					{lang numinfo}
				<!--{/if}-->
				<!--{if $gametype}-->
					$gtinfo[$gametype]
				<!--{/if}--> 
				<!--{if $gametype!=17}-->
				{$gstate[$gamestate]}
				<!--{/if}-->
				</span>
			</span>
		</td>
		<td rowspan="2" style="width:400px; vertical-align:top;text-align:left;">
		{template roomlist}
		</td>
	</tr>
	<tr>
		<td colspan="2" style="vertical-align:top;">
			<div>
				<!--{if $gamestate > 10 }-->
				本局游戏已经进行  <span id="timing"></span><script type="text/javascript">updateTime('timing',$timing,1,1000,'hh:mm:ss');</script><br> 
				<!--{if $hplayer}-->
				当前最高伤害 $hplayer ($hdamage)<br>
				<!--{/if}-->
				<!--{else}-->
					<!--{if $starttime > $now}-->
					下局游戏开始于  <span id="timing"></span><script type="text/javascript">updateTime('timing',$timing,0,1000,'hh:mm:ss');</script>   后<br>
					<!--{else}-->
					下局游戏开始时间  <span id="timing"></span>未定<br>
					<!--{/if}-->
					<!--{if $hplayer}-->
					上局最高伤害 $hplayer ($hdamage)<br>
					<!--{/if}-->
				<!--{/if}-->
			</div>
			<div>
				<!--{if !room_check_subroom($room_prefix)}-->
				上局结果：<span id="lastwin">$gwin[$winmode]</span>
				<!--{if $winner}-->
				，优胜者：<span id="lastwinner">$winner</span>
				<!--{/if}-->
				<!--{/if}-->
			</div>
			禁区间隔时间： $areaintv 分钟 ， $arealimit 禁后停止激活<br>
			每次增加禁区： $areaadd 个 ， 当前禁区数： $areanum<br>
			自动逃避禁区功能：<!--{if $areaesc && $gamestate < 40}--><span class="yellow b">开放</span><!--{else}--><span class="red b">关闭</span><!--{/if}--><br>
			<span class="red b">注意：进入连斗后，自动逃避功能自动关闭。</span><br><br>
			激活人数：<span id="validnum">$validnum</span>
			生存人数：<span id="alivenum">$alivenum</span>
			死亡总数：<span id="deathnum">$deathnum</span>
			<br />
			<!--{if $cuser}-->
				
				<br />{lang welcome}
				<form method="post" name="togame" action="game.php">
				<input type="hidden" name="mode" value="main">
				<input type="submit" name="enter" value="{lang enter}">
				</form>
				
				<form method="post" name="quitgame" action="game.php">
				<input type="hidden" name="mode" value="quit">
				<input type="submit" name="quit" value="{lang quit}">
				</form>
				<span class="evergreen2">第一次玩的，请先体验
					<a href="roomcmd.php?command=newroom&para1=7" class="red2">教程模式</a> ！
				</span>
			<!--{else}-->
				<form method="post" name="login" action="login.php">
				<input type="hidden" name="mode" value="main">
				{lang username}<input type="text" name="username" size="20" maxlength="20" value="$cuser">
				{lang password}<input type="password" name="password" size="20" maxlength="24" value="$cpass">
				<input type="submit" name="enter" value="{lang login}">
				</form>
			<!--{/if}-->
		</td>
	</tr>
</table>
<!--{if room_check_subroom($room_prefix)}-->

<!--{/if}-->
{template footer}