{template header}
<br>
<style type=text/css>
	h3{color:#98fb98;}
	#changelog p{color:rgb(204,234,250);font-size:12pt;font-weight:bold}
</style>
<div id="changelog" style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
	<h2>荣耀模式测试中机制</h2>
	<span>荣耀模式与大房间相比，会有许多测试中的新游戏机制。在此，整理荣耀模式测试中机制列表如下。<br>希望大家在荣耀模式游玩时，能够多尝试这些新的游戏要素，并在条件允许的情况下通过官方讨论区或玩家群给予反馈。你的声音可能会帮助这些机制进行改良或更快地转正到其他的游戏模式。感谢理解和支持！</span>

	<p>测试中机制列表：</p>
	<ul>
		<li>外甲：【外甲】类型道具除了可以像普通的防具一样使用外，还可以套在同位置的防具外面，提供叠加的防御数值和属性。外甲可以通过商店购买、道具合成、地图掉落、防具改造道具以及击杀部分高级NPC获得。</li>
		<li>防具改造：【防具改造】类型道具的功能为：使防具获得一定数值的升血属性，或改造成外甲，或者附加一些防御属性。现在荣耀模式商店0禁额外出售防具改造道具【R.M.『霜铸炎甲』】，售价4000。</li>
		<li>碎甲/碎刃属性：拥有【碎甲】属性并对敌方防具耐久造成减损时，会额外减扣相当于武器效果值的平方根加上防具耐久值的10%的数值。【碎刃】属性道具可通过道具合成或部分卡片获得。拥有【碎刃】属性并受到攻击时，会让攻击方的武器损耗增加，拥有该属性的装备效果和越高、攻击方武器越强，则损耗增加越多。目前荣耀模式【对天使作战用本部】1禁掉落的【扭曲力场】及全图1禁随机道具【AT力场】和【主角光环】增加了【碎刃】属性，除此之外，部分新游戏王卡包道具和道具合成的产物也带有该属性。</li>
		<li>变化属性：该属性不会显示在道具属性中，拥有这个属性的道具在使用时可在几种类别、名称或属性中选择一种，如荣耀模式地图掉落的【锅】可作为投掷武器、钝器或头部装备使用。部分荣耀模式的地图、商店、合成产物也带有该属性。</li>
		<li>余物属性：该属性不会显示在道具属性中，拥有这个属性的道具在使用后或者用完后会转变为指定的另一个道具，比如现在荣耀模式的【瓶装幽灵】作为素材合成完毕以后会额外掉落一个空瓶。部分荣耀模式的地图、商店、合成产物也带有该属性。</li>
		<li>储物属性：拥有这个属性的装备能像背包一样储存和取出道具，且储物内容是跟随装备的。现在荣耀模式的商店内出售【劲爆小包】（售价2000，身体外甲，耐10，容量5）作为测试。</li>
		<li>地图道具改动：荣耀模式的地图道具进行了简化，减少了杂物的数量，并维持或者增加了重要合成素材的数量，上调了某些不常用道具的数值。</li>
		<li>歌魂改动：荣耀模式中，开局获得50点歌魂上限，且升级时会获得歌魂上限并恢复一定量歌魂。添加了新属性【变奏】，可使歌唱的效果变为歌曲的隐藏效果（对于大部分歌为效果增强但变为时效效果）；新属性【激奏】，增强歌唱的效果，每1级提升20%。部分地图道具和道具合成添加了这两种属性，荣耀模式商店中的埃克法类别中添加了具有【变奏】属性的防具。 </li>
		<li>新游戏王卡包：现在荣耀模式商店0禁额外出售新种类的卡包《现代游戏王》，可开出新的游戏王道具，并额外出售多种类的连接认证，用于游戏王配方的合成；另外荣耀模式【全息幻象 银白愿天使 Annabelle】身上的卡牌包改为新版游戏王卡牌包。</li>
		<li>配方：【配方】类型道具的功能为：可根据配方上书写的道具条件，进行对应的合成。目前配方的获取方式包括地图拾取、商店购买（仅荣耀模式）、新游戏王卡包与卡片自带。现在不消耗自身的配方在正规合成一次之后就能学会，之后不需要配方也可以进行合成。连接合成为一类特别的配方合成，需要使用游戏王道具进行合成，且需要连接数总和（具有连接属性的游戏王道具可视为1连接数或等同于连接属性等级的连接数，否则视为1连接数）与配方要求的连接数相等，并且部分连接合成的游戏王道具在合成后还需要使用连接认证合成为真卡。
		</li>
		<li>防具强化：现在荣耀模式商店里的针线包替换成能批量强化任意防具的【自动叠甲装置】，并且性价比相对针线包提高。荣耀模式商店中的埃克法类别中添加了具有菁英属性的防具强化道具。</li>
		<li>扫雷设备：【扫雷设备】类型道具的功能现在改为：随机扫除当前地图的若干陷阱，效果值累计不高于设备本身的效果值。现在荣耀模式商店的☆混沌人肉探雷车★的效果值上升到8000，并额外出售【自动探雷车】，售价5000，效果值3000。</li>
		<li>状态药物：【状态药物】类型道具的功能为：使用后会获得一种强化状态或一个临时技能，一段时间后失去此技能。现在已经实装的状态药物有隐身药水（荣耀模式地图掉落以及礼品盒），以及荣耀模式地图掉落的琪露牛奶、【Brain Power】和油豆腐，均为全图随机，分别0禁刷新3个、1个、1个。部分卡片也能获得该类型的道具。</li>
		<li>随机技能道具：目前荣耀模式的【杏仁豆腐 某四面】会额外掉落一个名为【四面骰】的道具，使用后会将自己的所有技能替换为随机称号技能（生命、攻防、治愈等少数技能不会被替换）。</li>
	</ul>
</div>
{template footer}