{template header}
<br>
<style type=text/css>
	h3{color:#98fb98;}
	#changelog p{color:rgb(204,234,250);font-size:12pt;font-weight:bold}
</style>
<div id="changelog" style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
	<h2>荣耀模式测试中机制</h2>
	<span>荣耀模式与大房间相比，会有许多测试中的新游戏机制。在此，整理荣耀模式测试中机制列表如下。<br>希望大家在荣耀模式游玩时，能够多尝试这些新的游戏要素，并在条件允许的情况下通过官方讨论区或玩家群给予反馈。你的声音可能会帮助这些机制进行改良或更快地转正到其他的游戏模式。感谢理解和支持！</span>

	<p>测试中机制列表：</p>
	<ul>
		<li>随机技能道具：目前荣耀模式的【杏仁豆腐 某四面】会额外掉落一个名为【四面骰】的道具，使用后会将自己的所有技能替换为随机称号技能（生命、攻防、治愈等少数技能不会被替换）。</li>
		<li>NPC自动行动：目前荣耀模式的以下NPC会自动行动：
			<ul>
				<li>杏仁豆腐 冴月 麟：每隔3-5分钟行动一次，低怒气时会随机切换地图，高怒气时会追击上一次战斗过的玩家（即移动到该玩家所在地图），并会先制攻击所在地图的玩家（就算玩家没有进行探索和移动也可能被先制）。</li>
				<li>杏仁豆腐 某四面：每隔3-5分钟行动一次，会随机切换地图，高怒气时会躲避头名玩家（即从该玩家所在地图移开），并会先制攻击所在地图的玩家。</li>
				<li>真职人 便当盒及KHIBIKI《黑曲》：每隔1分钟左右行动一次，当怒气达到暴怒时会随机切换地图，切换后怒气清零。实际上就是使玩家可以通过把NPC怒气打满的方式把路障给打跑。</li>
				<li>一一五 i（二阶段）：小时候最害怕的一集。每隔1-2分钟行动一次，会追击头名玩家，并会先制攻击所在地图的玩家（有额外+20%的先攻率）。</li>
			</ul>
			NPC追击移动和额外的先制攻击都会扣除一定量的怒气；额外先制攻击的发动率和玩家探索时被该NPC先制的概率相同。</li>
		<li>商店射系武器页面增加一本《旋转引导扇区》技能书，可以学到【上膛】技能。</li>
		<li>称号【高速成长】、【肌肉兄贵】和【铁拳无敌】的类别改为普通称号，会在称号选择列表的前两行而不是后两行出现。此外，荣耀模式铁拳的出现概率从其他称号的40%上调到与其他称号相同。</li>
		<li>弹药类型简化：原本需要用手枪子弹或机枪子弹的枪械统一改用【实体子弹】，原本需要枪械电池或压缩气罐的枪械统一改用【能量弹药】。地图道具和商店出售的弹药类型相应修改，此外商店的实体子弹现在只有原本机枪子弹的数量，且耐久从20下降为10（相当于售价翻倍）；能量弹药现在只有原本压缩气罐的数量。</li>
		<li>不同地图的先制率影响调整：原本是按“地图热闹程度”判定玩家先制率高低，现在逻辑明确一点：无月之影、指挥中心、梦幻馆、常磐台中学的玩家先制率-5%，SCP和英灵殿则是-10%。</li>
		<li>不同地图的攻击力、防御力修正取消。</li>
		<li>现在在荣耀模式击杀NPC时，有小概率召唤出一个运载机器人，击破后会得到一些可能较有价值的道具。</li>
		<li>现在荣耀模式中，在RF高校、光坂高校和常磐台中学0禁会刷新1个容量为3的书包，类型为身体外甲，墓地会刷新1个容量为1的魔术礼帽，另外初始之树的带翅膀的书包加上了容量为2的【储物】属性。</li>
	</ul>
</div>
{template footer}