{template header}
<div class="subtitle" align="center">抽卡选择</div>
<center>
<div style="width:900px;">
<br>
<div align="left">
<div class="clearfix">
<span style="float:left;" ><img border="0" src="img/n_7.gif"></span>
<span class="evergreen b">“现在身份卡系统还没有专门的看板娘，<br>所以我先勉为其难的负责一下好了。<br><br>……我说，你们那算是什么表情？”</span>
</div></div>
<br>
<div style="width:600px;text-align:center;">当前的切糕数量：<span class="evergreen b">$cg</span><br></div>
<br>
<table>
	<tr height=75px>
		<td width=200px>
			<input type="button" class="b_button bc_white" style="width:198" value="普通抽卡({$kreq[0]}切糕)" 
onclick="window.location.href='kuji.php?type=0'" <!--{if $cg<$kreq[0]}-->disabled<!--{/if}-->><br />
		<div style="width:93%; text-align:center;">
			<span class="evergreen b">“这里可能抽到所有已经实装的身份卡。不知道该选什么的时候就选这里吧。”</span>
			<br>
		</div>
		</td>
		
		<td width=200px>
			<input type="button" class="b_button bc_white" style="width:198" value="定向八连抽({$kreq[3]}切糕)" 
onclick="window.location.href='kuji.php?type=3'" <!--{if $cg<$kreq[3]}-->disabled<!--{/if}-->><br />
		<div style="width:93%; text-align:center;">
			<span class="evergreen b">“这里可以指定一个卡集并且抽8次，其中会有4张来自所选的卡集。”</span>
			<br>
		</div>
		</td>
		<td width=200px>
			<input type="button" class="b_button bc_white" style="width:198" value="十一连({$kreq[1]}切糕)" 
onclick="window.location.href='kuji.php?type=1'" <!--{if $cg<$kreq[1]}-->disabled<!--{/if}-->><br />
		<div style="width:93%; text-align:center;">
			<span class="evergreen b">“好像各种卡牌游戏里都有11连呢，虽然大逃杀并不是一个卡牌游戏。”</span>
			<br>
		</div>
		</td>
	</tr>
</table>
<br>
<form method="post" name="backprofile" action="user_profile.php">
	<input type="submit" class="b_button bc_white" name="enter" value="返回账户页面">
</form>
</div>
</center>


{template footer}
