{template header}
<!--{eval eval(import_module('cardbase'));}-->
<div class="subtitle" align="center">抽卡</div>
<center>
<div style="width:1024px;">
<!--{if 0==$ktype || 2==$ktype}-->
<div style="width:950px; text-align:left">请随便选一张翻开吧。</div>
<ul style="width:1000px;list-style-type:none; ">
	<!--{loop Array(1,2,3,4) $i}-->
	<li style="float:left;margin:5px">
		<div style="
		cursor:pointer; 
		position:relative; -moz-border-radius:8px; 
		-webkit-border-radius:8px;
		border-radius:8px; height:320px; width:240px; overflow:hidden; 
		"
		title="点击翻开">
		<img src="img/cardback2.png" class="cardback" onclick="$('cardchoice').value=$i; document.flipcard.submit();"></img>
		</div>
	</li>
	<!--{/loop}-->
</ul>
<div style="clear:both;"></div>
	<br />
		<span class="yellow b">
		剩余切糕：<span class="evergreen b">$udata['gold']</span></span>
	<br />
<br />
</div>
</center>
点击卡片以抽卡
<br>
<form method="post" name="flipcard" action="kuji.php?type=$ktype">
	<input type="hidden" id="cardchoice" name="choice" value="">
</form>
<!--{elseif 3==$ktype}-->
<div style="width:950px; height:24px; text-align:left">请点击一个卡集来抽取。</div>
<br>
<form method="post" name="ktype3" action="kuji.php?type=$ktype">
	<input type="hidden" id="packchoice" name="packchoice" value="">
	<!--{eval $pl = \cardbase\pack_filter($packlist,1);}-->
	<div>
	<!--{eval $title_height = 40;}-->
	<!--{loop $pl $v}-->
		<!--{eval $packname = $v; }-->
		<!--{eval $pack_title = '<input type="submit" name="enter" class="b_button bc_white pack_title_button" value="'.$v.'" onclick="$(\'packchoice\').value=\''.$v.'\'; document.ktype3.submit();">';}-->
		{template MOD_CARDBASE_PACK_FRAME}
		<!--{/loop}-->
	</div>
	<br>
	<br>
</form>
<!--{/if}-->
<form method="post" name="backindex" action="kujilist.php">
	<input type="submit" name="enter" class="b_button bc_white" value="返回选择页面">
</form>

{template footer}

