{template header}
<!--{eval eval(import_module('cardbase'));$showpack=1;}-->
<div class="subtitle" align="center">抽卡结果</div>
<center>
<div style="width:1024px;">
<div style="width:950px; text-align:left">抽卡结果</div>
<ul style="width:1000px;list-style-type:none; ">
	<!--{loop $kres $k $r}-->
	<li style="float:left;margin:5px">
		
		<div style="
		<!--{if $ktype==0 || $ktype==2}-->
		cursor:pointer; 
		<!--{/if}-->
		position:relative;
		
		<!--{if isset($ishighlight[$k]) && $ishighlight[$k]}-->
		-moz-border-radius:12px; 
		-webkit-border-radius:12px;
		 box-shadow: 0 0 18px rgba(0,255,255, 1);
		-webkit-box-shadow: 0 0 18px rgba(0, 255,255, 1);
		-moz-box-shadow: 0 0 18px rgba(0, 255,255, 1);
		<!--{/if}-->
		"
		<!--{if $ktype==0 || $ktype==2}-->
		title="点击再抽一发"
		onclick="window.location.href='kuji.php?type=$ktype';"
		<!--{/if}-->>
		<!--{eval $nowcard=$cards[$r];$nownew=$isnew[$k]?1:0;}-->
		{template MOD_CARDBASE_CARD_FRAME}
		<!--{if isset($ishighlight[$k]) && !$ishighlight[$k]}-->
		<div style="position:absolute; top:0px; left:0px; background-color:#000000; 
		height:320px; width:240px; 
		filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5; -khtml-opacity: 0.5;">
		</div>
		<!--{/if}-->
		</div>
	</li>
	<!--{/loop}-->
</ul>
<div style="clear:both;"></div>
	<br />
		<span class="yellow">
		剩余切糕：<span class="evergreen">$udata['gold']</span></span>
	<br />
<br />
</div>
</div>
</center>
<!--{if $udata['gold']>=$kreq[$ktype]}-->
<!--{if $ktype==0 || $ktype==2}-->
点击任意卡片可以再抽一发
<br>
<!--{else}-->
<form method="post" name="kujiagain" action="kuji.php?type=$ktype">
	<input type="submit" name="enter" value="再抽一发">
</form>
<!--{/if}-->
<!--{/if}-->
<form method="post" name="backindex" action="kujilist.php">
	<input type="submit" name="enter" value="返回选择页面">
</form>
{template footer}

