<form method="post" name="message_cmd" onsubmit="messages.php">
<input type="hidden" id="mode" name="mode" value="show">
<div class="scroll-pane" style="max-width:1300px;max-height:640px;overflow:hidden;vertical-align:top">
	<!--{if empty($messages)}-->
	<span class="grey">一条信息都没有呢</span>
	<!--{else}-->
		<!--{eval $i=0;}-->
		<!--{loop $messages $mi $mv}-->
		<!--{if $i%4==0}--><div class="message_line"><!--{/if}-->
			<div class="message_ib">
				<div class="message_box" onclick="$('message_sl$mi').click();if($('message_sl$mi').checked) {$('message_sl$mi').value=1;$('sign$mi').style.display='block';} else {$('message_sl$mi').value=0;$('sign$mi').style.display='none';}">
					<div class="message_title_bar">
						<img id="sign$mi" class="message_sign" src="img/message_sl_sign.png">
						<input type="checkbox" name="sl$mi" id="message_sl$mi" style="display:none" class="message_sl" value="0" />
						<span class="message_title">$mv['title']</span> <div class="message_hint">$mv['hint']</div>
					</div>
					<hr class="message_hr">
					<div class="message_cont"><span>$mv['content']</span></div>
					<div class="message_encl"><span>$mv['encl_disp']</span></div>
					<hr class="message_hr">
					<div class="grey message_date"><span>$mv['time_disp']</span></div>
				</div>
			</div>
		<!--{if $i%4==3 || $i==count($messages)-1}--></div><!--{/if}-->
		<!--{eval $i++;}-->
		<!--{/loop}-->
	<!--{/if}-->
</div>
</form>
<img class="scroll-pane" type="hidden" src="img/blank.png" onload="jQuery(function() { jQuery('.scroll-pane').jScrollPane(); });">
<div>
<!--{if !empty($messages)}-->
	<input type="button" value="全选" onclick="jQuery('.message_sl').each(function(){this.click();});" />
	<input type="button" value="查收附件" onclick="$('mode').value='check';postCmd('message_cmd', 'messages.php');this.disabled=true;" />
	<input type="button" value="删除" onclick="$('mode').value='del';postCmd('message_cmd', 'messages.php');this.disabled=true;" />
<!--{/if}-->
</div>