<p>以下是可能获得的超量结果的列表。</p>
<p><span class="yellow">超量合成表</span>：</p><table>
	<tr>
		<td class="b1" height=20px><span>超量素材类型</span></td>
		<td class="b1"><span>数目</span></td>
		<td class="b1"><span>超量产物</span></td>
		<td class="b1"><span>用途</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王四星素材</span></td>
		<td class='b3'><span> × 2</span></td>
		<td class='b3'><span>星圣 欧米伽星云 ☆4</span></td>
		<td class='b3'><span>/投掷兵器/251/∞/陷阱探测+冻气</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王四星素材</span></td>
		<td class='b3'><span> × 2</span></td>
		<td class='b3'><span>机甲忍者 刃心 ☆4</span></td>
		<td class='b3'><span>/投掷兵器/130/∞/重击辅助+连击</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王四星素材</span></td>
		<td class='b3'><span> × 2</span></td>
		<td class='b3'><span>No39.希望皇 霍普 ☆4</span></td>
		<td class='b3'><span>/投掷兵器/240/∞/全系防御</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王四星素材</span></td>
		<td class='b3'><span> × 3</span></td>
		<td class='b3'><span>CNo.39 希望皇 霍普雷 ☆4</span></td>
		<td class='b3'><span>/投掷兵器/240/∞/贯穿+爆炸</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王四星素材</span></td>
		<td class='b3'><span> × 3</span></td>
		<td class='b3'><span>英豪冠军 草雉剑王</span></td>
		<td class='b3'><span>/锐器/150/200/贯穿+重击辅助</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王四星素材</span></td>
		<td class='b3'><span> × 5</span></td>
		<td class='b3'><span>No91.雷闪龙 ☆4</span></td>
		<td class='b3'><span>/投掷兵器/440/∞/全系防御+连击</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王五星素材</span></td>
		<td class='b3'><span> × 2</span></td>
		<td class='b3'><span>始祖守护者 提拉斯 ☆5 -仮</span></td>
		<td class='b3'><span>/投掷兵器/200/∞/--</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王七星素材</span></td>
		<td class='b3'><span> × 3</span></td>
		<td class='b3'><span>NO7.幸运条纹人 ☆7</span></td>
		<td class='b3'><span>/投掷兵器/300/∞/连击+重击辅助</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王九星素材</span></td>
		<td class='b3'><span> × 2</span></td>
		<td class='b3'><span>幻子力空母 进取神船号 ☆9</span></td>
		<td class='b3'><span>/投掷兵器/233/∞/电击+属性防御</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>游戏王十星素材</span></td>
		<td class='b3'><span> × 3</span></td>
		<td class='b3'><span>超次元机器人 银河破坏王 ☆10</span></td>
		<td class='b3'><span>/投掷兵器/800/∞/连击+爆炸+重击辅助+陷阱迎击</span></td>
	</tr></table>