{template header}
<br>

<div style="width:50%; margin:0 auto; text-align:left">
<font size="5">殴系称号技能初稿预览：</font><br><br>
<font size="2">
以下技能均手持殴系武器方能发动。<br>
<br>
※ 格挡 <span class="lime">被动</span> 你的武器效果值的百分之[参数1]计入防御力<br>
<table>
<tr>
<td>级别</td><td>0级</td><td>1级</td><td>2级</td><td>3级</td><td>4级</td><td>5级</td><td>6级</td>
</tr>
<tr>
<td>[参数1]</td><td>5</td><td>10</td><td>15</td><td>20</td><td>30</td><td>40</td><td>50</td>
</tr>
<tr>
<td>升级耗费</td><td>N/A</td><td>2</td><td>2</td><td>2</td><td>3</td><td>3</td><td>3</td>
</tr>
</table>
<br>
※ 猛击 <span class="lime">被动</span> 25%几率触发，触发则物理伤害增加百分之[参数1]<br>
<table><tr>
<td>级别</td><td>0级</td><td>1级</td><td>2级</td>
</tr>
<tr>
<td>[参数1]</td><td>20</td><td>50</td><td>80</td>
</tr>
<tr>
<td>升级耗费</td><td>N/A</td><td>10</td><td>10</td>
</tr></table>
<br>
※ 偷袭 (3级) <span class="yellow">战斗技</span> 本次攻击必定触发技能“猛击”且不会被反击。30怒气。<br>
<br>
※ 应变 (3级) <span class="yellow">主动</span> 设你从“格挡”技能中获得了x点额外防御。你可以随意于下列三个状态中切换：<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) 防御力再次增加x点，武器效果视为降低(0.7x)点<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) 无效果<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) 武器效果视为增加(0.7x)点，防御力降低x点<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;属性伤害不受这个技能影响。<br>
<br>
※ 灭气 (6级) <span class="lime">被动</span> 攻击后敌方体力减少(伤害值的2/3)点（注意NPC是没有体力条的），被攻击时额外获得1～2点怒气。<br>
<br>
※ 闷棍 (11级) <span class="yellow">战斗技</span> 本次攻击必定触发技能“猛击”，并附加（敌方最大体力-当前体力）点伤害。80怒气。<br>
<br>
※ 百战 (15级) <span class="yellow">主动</span> 你可以选择任意一个单体减半防御属性，你视为获得之（你可以随意改变选择）<br>
<br>
<font size="3">欢迎在主群讨论意见。实装可能得等一阵子我闲下来再说了……</font>
</font>
</font>
</div>


{template footer}