<ul><span class="evergreen"><B>6月27日(星期六)</B></span><br><li>13时00分00秒，增加禁区：常磐森林 初始之树 雏菊之丘 花菱商厦 <span class="yellow">【天气：多云】</span><br>
<li>12时38分46秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">lemon</span>使用<span class="red">☆Sig Sauer P230 9mm☆</span>殴打致死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>12时38分46秒，<span class="clan">lemon燃烧自己的生命得到了不可思议的力量！【1118】点的伤害值，没天理啊……AC搬运职人的HP足够么？</span><br>
<li>12时38分46秒，<span class="clan">lemon对AC搬运职人发动了技能<span class="yellow">「闷棍」</span></span><br>
<li>12时38分12秒，<span class="red">lemon遭到了黑幕的生化改造！</span><br>
<li>12时34分48秒，<span class="yellow">sc3</span>被<span class="yellow">lemon</span>使用<span class="red">☆Sig Sauer P230 9mm☆</span>殴打致死<span class="yellow">【参战者 sc3 什么都没说就死去了】</span><br>
<li>12时34分48秒，<span class="clan">lemon燃烧自己的生命得到了不可思议的力量！【2063】点的伤害值，没天理啊……sc3的HP足够么？</span><br>
<li>12时34分48秒，<span class="clan">lemon对sc3发动了技能<span class="yellow">「闷棍」</span></span><br>
<li>12时34分37秒，<span class="yellow">lemon回避了红暮设置的陷阱【最终机枪防线】</span><br>
<li>12时34分35秒，<span class="red">lemon中了红暮设置的陷阱【最终机枪防线】，受到了359点伤害！</span><br>
<li>12时34分33秒，<span class="red">lemon中了红暮设置的陷阱【最终机枪防线】，受到了394点伤害！</span><br>
<li>12时34分23秒，<span class="red">lemon遭到了黑幕的生化改造！</span><br>
<li>12时33分57秒，<span class="red">lemon中了红暮设置的陷阱【最终机枪防线】，受到了338点伤害！</span><br>
<li>12时33分33秒，<span class="lime">奇迹和魔法都是存在的！当前天气变成了大晴！</span><br>
<li>12时33分25秒，<span class="red">lemon中了红暮设置的陷阱【最终机枪防线】，受到了385点伤害！</span><br>
<li>12时33分16秒，<span class="red">lemon中了红暮设置的陷阱【最终机枪防线】，受到了276点伤害！</span><br>
<li>12时33分10秒，<span class="red">lemon中了红暮设置的陷阱【最终机枪防线】，受到了321点伤害！</span><br>
<li>12时33分06秒，<span class="yellow">sc3</span>被<span class="yellow">神北 小毬许愿复活</span><br>
<li>12时27分21秒，<span class="yellow">sc3</span>被<span class="yellow">lemon</span>使用<span class="red">☆Sig Sauer P230 9mm☆</span>殴打致死<span class="yellow">【参战者 sc3 什么都没说就死去了】</span><br>
<li>12时27分21秒，<span class="clan">lemon燃烧自己的生命得到了不可思议的力量！【2049】点的伤害值，没天理啊……sc3的HP足够么？</span><br>
<li>12时27分21秒，<span class="clan">lemon对sc3发动了技能<span class="yellow">「闷棍」</span></span><br>
<li>12时27分13秒，<span class="red">lemon遭到了黑幕的生化改造！</span><br>
<li>12时26分47秒，<span class="clan">lemon对sc3发动了技能<span class="yellow">「闷棍」</span></span><br>
<li>12时25分24秒，<span class="lime">奇迹和魔法都是存在的！全部禁区都被解除了！</span><br>
<li>12时24分23秒，<span class="red">lemon遭到了黑幕的生化改造！</span><br>
<li>12时24分08秒，<span class="red">lemon遭到了黑幕的生化改造！</span><br>
<li>12时23分00秒，<span class="red">sc3遭到了黑幕的生化改造！</span><br>
<li>12时22分24秒，<span class="yellow">管理员-sc3(男生2号)华丽地乱入了战场</span><br>
<li>12时22分06秒，<span class="yellow">管理员-lemon(男生1号)华丽地乱入了战场</span><br>
<li>12时21分59秒，<span class="red">第20715回ACFUN大逃杀开始了</span><br>
<li>12时21分59秒，<span class="lime">奇迹和魔法都是存在的！当前游戏立即开始了！</span><br>
</ul>