<ul><span class="evergreen"><B>7月6日(星期一)</B></span><br><li>05时43分20秒，<span class="red">第20815回ACFUN大逃杀结束了</span><br>
<li>05时43分20秒，<span class="yellow">优胜者——sc3！</span><br>
<li>05时42分27秒，<span class="red">游戏进入连斗阶段！</span><br>
<li>05时30分00秒，增加禁区：初始之树 风祭森林 永恒的世界 天使队移动格纳库 <span class="yellow">【天气：下雪】</span><br>
<li>05时23分33秒，<span class="yellow">AC专业喷子</span>被<span class="yellow">sc3</span>发动<span class="red">拳头</span>以灵力杀死<span class="yellow">【各路党派 AC专业喷子：“我觉得我还可以抢救一下……”】</span><br>
<li>05时23分33秒，<span class="clan">sc3超越自己的极限爆发出了震天动地的力量！在【5302】点的伤害后，AC专业喷子化作了一颗流星！</span><br>
<li>05时23分14秒，<span class="yellow">AC搬运职人</span>被<span class="yellow">sc3</span>发动<span class="red">拳头</span>以灵力杀死<span class="yellow">【各路党派 AC搬运职人：“我觉得我还可以抢救一下……”】</span><br>
<li>05时23分14秒，<span class="clan">sc3超越自己的极限爆发出了震天动地的力量！在【5201】点的伤害后，AC搬运职人化作了一颗流星！</span><br>
<li>05时22分53秒，<span class="red">sc3遭到了黑幕的生化改造！</span><br>
<li>05时00分00秒，增加禁区：雏菊之丘 索拉利斯 夏之镇 三体星 <span class="yellow">【天气：台风】</span><br>
<li>04时30分32秒，<span class="lime">sc3使用了驱云弹，天气变成了大晴！</span><br>
<li>04时22分58秒，<span class="yellow">管理员-sc3(男生1号)华丽地乱入了战场</span><br>
<li>04时22分55秒，<span class="red">第20815回ACFUN大逃杀开始了</span><br>
<li>04时22分55秒，<span class="lime">奇迹和魔法都是存在的！当前游戏立即开始了！</span><br>
</ul>