{template header}

<div class="subtitle"">
	{lang gamestart}
</div>
<p align="center"><a href="game.php">>>跳过剧情</a></p>
<!--{if 1==$gametype}-->
<p style="text-align:center">
等待接入虚拟世界的这几分钟总是很无聊。<br>
“听说林氏软件集团的董事长失踪了。”旁边的测试员悄悄说道。<br>
你惊讶地挑了挑眉毛。打脸总是来得这么快。<br>
“你不知道？”对面似乎来了兴致，“你看，最近你见过她出来主持工作吗？”<br>
难道这里管事的不是红暮？你开始觉得紧张。<br>
你并不是一个科班出身的测试员，你甚至一行代码都不会写，能拿到这份待遇优厚的工作纯粹是因为你懂得“下跳棋”。<br>
不过如果你连顶头上司都弄错了，这项工作大概凶多吉少。<br>
幸好，你们面前闪现的投影屏幕把对面的注意力吸引走了。
</p>
<p style="text-align:center">
	<img border="0" src="./img/avatar_rek/hook_mode.png" style="width:300px;height:281px;">
</p>
<p style="text-align:center">
“你们好。我是金龙通讯社的幻境技术总监——<span class="cyan b">薇娜·安妮茜</span>。”<br>
屏幕上的女子你并不认识，不过你觉得她应该是这次任务的头儿。<br>
“又是金龙通讯社，跟我签合同的可是林氏集团啊？”隔壁的测试员小声发牢骚。<br>
“我不太会应付这种场面……所以我就长话短说吧。”
</p>
<p style="text-align:center">
■ LIFE GAME: HOOK MODE ■<br>
<span class="red b" style="font-weight:700;font-size:20pt;line-height:20pt;">大逃杀·除错模式</span>
</p>
<p style="text-align:center">
“有「竞争对手」在我们负责维护的「虚拟幻境」中恶意植入了病毒，它威胁到了幻境的运行。<br>
幻境是一个分布式、精确同步的自组织系统，难以停机维护。因此追查病毒的工作只能交给测试员，进行在线热排查。<br>
据技术部门分析，病毒使用了某种区块链技术，随机依附在幻境数以千计的道具上并自我复制传播。<br>
后台的工作人员会提供所需的道具信息，而我们需要测试员亲自登入幻境，<span class="yellow b">寻找并提交道具</span>来追寻病毒的蛛丝马迹。”<br>
“什么！我是来测试的，不是来送死的！”旁边那位测试员似乎异常害怕。<br>
你想起了某些说林氏集团在虚拟世界杀害玩家的坊间传言，也一阵惶恐。<br>
“不用担心，你们与「玩家」不一样，不会手无寸铁的。<br>
首先，所有测试员都拥有<span class="yellow b">「复活」</span>的权限，<span class="yellow b">只要你不作死</span>，在一般陷阱面前并无性命之忧。<br>
其次，只要你们努力寻找道具、完成任务，还能用<span class="yellow b">技能点</span>换取特殊的技能升级，让任务完成更有保障。<br>
注意：你们是来工作的，不是来杀戮的，测试员之间<span class="yellow b">无法互相直接攻击，而且除错状态的幻境也几乎没有NPC了</span>。<br>
你们都是测试员中的精英，这样简单的任务想必是难不倒你们的。<br>
那，就这样吧，祝你们好运。”<br>
<br>
登录程序强制开始了，看来是无法回头了。<br>
你瞟了一眼隔壁的人，他似乎已经恐惧地缩成了一团。<br>
有这么可怕吗？你心里似乎有了主意。<br>
既然还是有后台管理人员的，那么你最拿手的<span class="yellow b">贿赂拍马、阴谋陷害</span>的办公室哲学，就有用武之地啦。
</p>
<!--{elseif 19==$gametype}-->
<p style="text-align:center">
你感觉糟透了。<br>
浑身上下都说不清的难受。而且你还想不起来，究竟是怎么跑到这个奇怪的地方的。<br>
你向周围看去，身边也满是和你一样分不清状况的人们。你心里蹦出一个念头：他们也是“玩家”。
</p>
<p style="text-align:center">
突然，前方出现了一个大屏幕，确切地说，是个投影。投影画面里，几名一看就身手不凡的人面无表情地盯着你们。<br>
而背后的地点你似曾相识。“无月之影……”身边有人喃喃念道。<br>
</p>
<p style="text-align:center">
<span class="cyan b">“残次品们，”</span>伴随着来者不善的沙哑嗓音，一个蓝发白衣、头戴面具，长着巨大翅膀的家伙，出现在屏幕里，<span class="cyan b">“准备好发挥余热了吗？”</span><br>
</p>
<p align="center">
	<img border="0" src="./img/avatar_rek/rush_mode.png" style="width:374px;height:251px;">
</p>
<p style="text-align:center">
“我是『模因工厂』的总裁，<span class="cyan b" style="font-size:14pt"><ruby>狂 飙<rt style="font-size:9px">Rocket</rt></ruby></span>。我的任务，就是送你们上路。<br>
你们都是<span class="red b">『大逃杀』</span>的失败者，被虚拟幻境淘汰的残次品。<br>
按协议，我本来可以把你们直接化为我司『模因库』的一部分。然而林董事长‘慈悲为怀’，她要我给你们一次‘败者复活战’的机会。”<br>
</p>
<p style="text-align:center">
“所以，你们就好好角逐吧。<span class="yellow b">唯一的幸存者将获得我的特赦</span>，能够离开这个虚拟世界。而输掉的其他人，好好享受你们生命中最后的光彩吧。<br>
不过，我的耐心有限，给你们的<span class="yellow b">限制时间比原来少得多</span>。<br>
对了，林还给你们带了礼物。<span class="yellow b">别忘了使用你们的『空降』技能</span>。<br>
我不善言谈，所以废话就不说了。你们都经历过幻境的厮杀，知道该怎么做。”<br>
</p>
<p style="text-align:center">
狂飙消失了，画面里只剩下似曾相识的标志。<br><br>
■ LIFE GAME: RUSH MODE ■<br>
<span class="red b" style="font-weight:700;font-size:20pt;line-height:20pt;">大逃杀·极速模式</span>
</p>
<p style="text-align:center">
<span class="cyan b">“真无聊，”</span>在传送光圈套上你们的时候，狂飙的声音还隐约传来，<span class="cyan b">“要是有哪个残次品能带来点乐子就好了。”</span>
</p>
<!--{elseif 5==$gametype}-->
<p style="text-align:center">
可以点击视觉小说界面下方的进入战场按钮跳过剧情直接进入游戏。<br>
</p>
<p style="text-align:center">
<iframe src="http://nmforce.net/Special/dtsex1/" width="960" height="640"></iframe>
</p>
<!--{else}-->
<p align="center">
虚拟的会场挤满了各式各样打扮的人。<br>
各位网友一见如故，兴奋地互相攀谈着，等待着动漫祭的开幕。<br>
此次动漫祭的主办方已经易手，因此活动方式才出乎意料。<br>
虚拟现实技术的进步也让人大开眼界。<br>
据说这次活动主办方的董事长——林无月，是个一切资料皆不明的人。<br>
在人肉搜索易如反掌的当今网络世界，网友们却连这个人的性别都不知道，也实属罕见。<br>
不过，他/她马上就要现身在开幕式现场了。<br>
在众多混迹于网友中间的技术帝注视之下，他/她必然逃脱不了个人资料完全曝光的命运。
</p>
<p align="center">
突然，会场的灯光熄灭了。<br>
林无月并没有如期出现。<br>
走上主席台的，是另外的<span class="evergreen b">三个人</span>，在昏暗的会场里看不清面目。<br>
怎么回事？莫非出了状况，要结束动漫祭？<br>
远处，早早做好准备的技术帝叹了口气，关闭了入侵结界。<br>
“如果林无月不露面，原本的计划都落空了。”<br>
一旁的网友一边收拾东西，一边一脸厌恶地说道。<br>
大概许多人来这里并不是纯粹为了参加动漫祭吧。
</p>
<p align="center">
灯光重新亮起，面前的情景让我们惊讶……<br>
那三个人，不正是先前臭名昭彰的——<br>
<span class="cyan b">“电击使 御坂 美琴。”</span><br>
<span class="yellow b">“班主任 坂持 金发。”</span><br>
<span class="lime b">“四季花之主 风见 幽香。”</span><br>
在我们震惊的同时，三人自报了姓名。<br>
怎么会这样？如果是这三个人的话，这次动漫祭不就……
</p>
<p align="center">
但是三个人还没有说出一句话，就被突然冲进来的一个身影打断，<br>
“你们也该省省了！”<br>
随着这一声暴喝，冲进来的少年光刃一挥，将三个身影一刀两断。</p>
<p align="center">
	<img border="0" src="./img/story_3.jpg">
</p>
<p align="center">
但是，和大家想象中的情况不同，并没有鲜血飞溅的场景，三个身影只是消失在了大家面前。<br>
“哼，原来都是幻影么，这批胆小鬼……”少年将光刃收起。<br>
此时，执行官的声音还是在场馆中回荡。
</p>
<p align="center">
“相信各位也有所亲身体验，<br>
“当今网络，喷子横行，小白当道，恶俗至上，内涵式微。<br>
“想必各位也不愿意看到当年自己喜爱的网络会变成这样。<br>
“为了涤荡污浊之气，净化不正之风，我们主办方经过周密的考虑之后，<br>
“不得不痛下决心，采取一些非常手段。<br>
“将参加ACFUN动漫祭的资格发给在座各位，并不是没有原因的。<br>
“我们的调查显示，在座各位中，存在着扰乱网络秩序的元凶。<br>
“当然同时，在你们中间也有能够改变整个网络风气的人存在。<br>
“所以我们组织了这次特别活动。<br>
“相信各位能够从大局出发，理解我们主办方的良苦用心。<br>
“现在，我们宣布，第N次常磐动漫祭立刻结束！<br>
“即将开始的是——”
</p>
<div align="center">
■ ACFUN LIFE GAME ■<br>
<font color="#ff0000" face="黑体" size="7">
<span style="width:100%;filter:blur(add=1,direction=135,strength=9):glow(strength=5,color=gold); font-weight:700; text-decoration:underline">
ACFUN 大 逃 杀</span>
</font>
 </div>
<p align="center">
	“够了。”少年将刚刚收起的光刃向场馆的某个角落扔去，执行官们的声音戛然而止。<br>
	“我刚才已经将键刃墓场地区的NPC清理掉了，现在来给你们点物品，糊弄过这个系统后就救你们出去。”<br>
	少年不知道从哪里摸出一个PDA在点着。<br>
	“嗯，那件超强力的灵装还在，先把价格从65500调整到100……”少年的手指在屏幕上飞舞。
</p>
<p align="center">
	“呦呵，看来静观其变还是很有用的呢～”从少年冲进来的方向，飞进了另外两个身影。
	</p>
<p align="center">
	<img border="0" src="./img/story_4.jpg">
</p>

<p align="center">
	“但是你到这里就结束了！”其中一个身着红色盔甲的少女摸出了一把巨大的冲锋枪。<br>
	“用子弹就能打倒我时空特使先行者 GA-00林苍月么？！”少年立刻翻身躲开了子弹，顺便将光刃重新拿在手上。<br>
	“想擦弹么，该说你是愚不可及还是勇猛过度么……”红甲少女突然冲了过去，用枪管向少年的脸上砸下。<br>
	“嗯哼，两用武器么，反正我该做的都已经做完了，陪你玩玩也不是不可。”少年左手一挥，打开了一个隧道。<br>
	“你们可以走了。”他只是简单地那么说了一句，就转身一个飞扑向红甲少女展开了攻击。</p>
<p align="center">
	此时，另外一个蓝色盔甲的少女在林苍月丢下的PDA上忙碌着。<br>
	“很好，所有的伤害都已经挽回了，那个所谓的灵装也已经拿掉了。”<br>
	“我那个去忘了这茬！”少年的惊讶神情被红甲少女的冷笑打断。<br>
	“干的漂亮，蓝凝。现在你没有什么说法了吧，你想拯救的人们还是照样要躲禁区互相残杀哦。”<br>
	“你到底是谁？”少年格挡开第二串子弹。<br>
	“我么……我的名字是红暮，红杀将军 红暮，给我记好了。”<br>
	“那个……我没办法在这里重建键刃墓场的NPC……”被称作蓝凝的少女站了起来。<br>
	“哦……那么你亲自去吧……”红暮露出一个冷笑，“有个惊喜要给我们亲爱的游戏玩家们哦……”<br>
	“MISSION ACCEPTED。”随着一个公式化的语句，蓝色的少女消失在了空气当中。
</p>
<p align="center">
	“好吧，现在开启剩下的录音，玩家们听好了，我的名字是红暮……然后放完剩下的录音……”<br>
	三位执行官的声音在空气中再次回荡。</p>
<p align="center">
	“在这里暂时还不需要兵戎相向，因为这里的时空已经被锁死了。<br>
	“用通俗的话说，就是禁区。踏入禁区的人，将会被禁区防御系统抹杀。<br>
	“各位从这里出去以后，整个虚拟现实系统还会定时增加禁区。<br>
	“如果各位在十数个小时之内仍然无法决出最后的胜利者，那么所有人都会灰飞烟灭。<br>
	<span class="yellow b">“宁缺毋滥，这是林董事长的格言。</span><br>
	<span class="cyan b">“这个世界不需要平庸的凡人，只需要有力量的强者！</span><br>
	<span class="lime b">“那么，能够从这修罗地狱胜出的人，就必然是身心皆极端强悍的王中之王了！”</span>
</p>
<p align="center">
	“到此为止了么，我能做的都已经做了。”少年突然一个冲刺将红暮撞飞。<br>
	“你准备干什么？！”
</p>
<p align="center">
	“不知道么，三十六计走为上，反正我该做的都已经做完了。”林苍月露出一个狡诈的笑容。<br>
	“你还真是高看他们了。”红暮冷笑，但是林苍月早就跳出了虚拟现实。<br>
	“哼，锁定不管用么……”
</p>
<p align="center">
	随着录音播放告一段落，大屏幕和灯光一起熄灭了。会场的出口亮起了光芒，似乎通往外面的未知世界。<br>
	不过因为玩家都已经被林苍月放走了所以并没有人走出去。
</p>
<p align="center">
	“你们每个人都将得到一些物品。面包、矿泉水，这些是人人都有的。<br>
	“武器，和另外两个物品，则是随机的。<br>
	“这也是一种考验，毕竟不是每个人都能得到称手的武器。<br>
	“记住，装备不是最重要的，你的实力才是决定你命运的关键。<br>
	“注意时间，不要在禁区滞留……失去每一位可能的获胜者都是我们的损失。”
</p>
<p align="center">
	“无聊。”红暮在代表着董事长的座位上伸了个懒腰。<br>
	“祝你们好运，你们的实力我可是很感兴趣呢。”
</p>
<!--{/if}-->

<form method="post" action="valid.php">
	<input type="hidden" name="mode" value="tutorial">
	<input type="button" value="{lang enterbattlefield}" onclick="window.location.href='game.php'">
</form>

{template footer}