{template header}
<script type="text/javascript" src="include/javascript/replay.20231107.js"></script>
<!-- Replay Game Word Lib Load Start -->
<script type="text/javascript" src=<!--{echo '"gamedata/javascript/'.$repdatalib.'"';}-->></script>
<!-- Replay Game Word Lib Load End -->

<!-- 录像文件载入进度条支持 START -->
<style type="text/css">
#progressbar-border
{
	width:100%;
	height:15px;
	background-color: #000000;
	border:1px solid #ffffff;
	overflow:hidden;
}
#progressbar-inner
{
	width:0%;
	height:15px;
	background: #ff3333; 
}
#progressbar-text
{
	position:relative;
	left: 230px;
	color: #ffffff;
	top: -16px; 
}
#progressbar-inner2
{
	width:0%;
	height:15px;
	background: #3333ff; 
}
#progressbar-text2
{
	position:relative;
	left: 230px;
	color: #ffffff;
	top: -16px; 
}
.noselect 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>
<!-- 录像文件载入进度条支持 END -->

<!-- 回放控制板 START -->
<div class="b3" style="z-index:10000; margin:0 auto; width:1080px;">

<span class="noselect" style="height:7px; display:block;">&nbsp;</span>

<!-- 录像进度条 START -->
<div id="replay_bar" style="cursor:pointer; margin:0 auto; width:1030px; height:25px;" 
onmouseover="replay_bar_now_mouseon = 1; $('replay_bar').addEventListener('mousemove',replay_bar_mouse_move_handler); replay_bar_show_time_hint();" 
onmouseout="replay_bar_now_mouseon = 0; if (replay_cursor_drag_flag==0) { $('replay_bar').removeEventListener('mousemove',replay_bar_mouse_move_handler); replay_bar_hide_time_hint(); }" >

<div style="z-index:10000; width:1030px; height:10px;"></div>

<!-- 时间轴 START -->
<div style="z-index:10000; width:1000px; height:5px; left:15px">

<!-- 主轴 START -->
<div class="noselect" style="z-index:10000; width:1000px; height:5px;">
<img id="replay_bar_coreu2" style="width:1000px;z-index:10000;filter:alpha(opacity=40); opacity:0.4;"/>
<img id="replay_bar_coreu1" style="width:1000px;z-index:10000;filter:alpha(opacity=80); opacity:0.8;"/>
<img id="replay_bar_core" style="width:1000px;z-index:10000;"/>
<img id="replay_bar_cored1" style="width:1000px;z-index:10000;filter:alpha(opacity=80); opacity:0.8;"/>
<img id="replay_bar_cored2" style="width:1000px;z-index:10000;filter:alpha(opacity=40); opacity:0.4;"/>
</div>
<!-- 主轴 END -->

<!-- 当前光标 START -->
<div style="position:relative; left:-11px; top:-14px; text-align:left;">
<div id="replay_cursor" style="cursor:move;z-index:10010;position:relative;left:0px;height:30px;width:24px;background-image:url(img/replay_cursor.png); background-position: center top; background-repeat: no-repeat; background-size: 16px 25px;" ></div>
</div>
<!-- 当前光标 END -->
</div>
<!-- 时间轴 END -->

<div style="z-index:10000; width:1030px; height:10px;"></div>
</div>

<!-- 悬浮提示 START -->
<div id="replay_hint" class="b3" style="z-index:20020; position:fixed; left:0px; top:0px; display:none; text-align:left;">
<div class="noselect" style="filter:alpha(opacity=95); opacity:0.95; background-color:#000000">
<span style="height:5px; display:block;">&nbsp;</span>
<span id="replay_hint_inner" style="margin-left:5px; margin-right:5px;">
</span>
<span style="height:5px; display:block;">&nbsp;</span>
</div>
</div>
<!-- 悬浮提示 END -->

<script type="text/javascript">
$('replay_cursor').addEventListener('mousedown',replay_cursor_mouse_down_handler);
$('replay_cursor').addEventListener('mouseover',replay_cursor_mouse_over_handler);
$('replay_cursor').addEventListener('mouseout',replay_cursor_mouse_out_handler);
$('replay_bar').addEventListener('mousedown',replay_bar_mouse_down_handler);
</script>
<!-- 录像进度条 END -->

<span class="noselect" style="height:8px; display:block;">&nbsp;</span>

<!-- 录像操作界面 START -->
<div align="left">

<table>
	<tr>

		<td width="8px"></td>

		<!-- 播放按钮 START -->
		<td>
			<div class="noselect" id="replay_start_selector" style="cursor:pointer;border:1px #ffffff solid; height:30px;" onmousedown="replay_start_handler();">
			<span style="height:5px; display:block;">&nbsp;</span>
			<div style="text-align:center;z-index:10020; ">&nbsp;播放&nbsp;</div>
			<span style="height:5px; display:block;">&nbsp;</span>
			</div>
		</td>
		<!-- 播放按钮 END -->

		<td width="1px"></td>

		<!-- 暂停按钮 START -->
		<td>
			<div class="noselect" id="replay_pause_selector" style="cursor:pointer;border:1px #ffffff solid; height:30px;" onmousedown="replay_pause_handler();">
			<span style="height:5px; display:block;">&nbsp;</span>
			<div style="text-align:center;z-index:10020; ">&nbsp;暂停&nbsp;</div>
			<span style="height:5px; display:block;">&nbsp;</span>
			</div>
		</td>
		<!-- 暂停按钮 END -->

		<!-- 后退按钮 START -->
		<td>
			<div class="noselect" id="replay_bk_selector" style="cursor:pointer;border:1px #ffffff solid; height:30px;" onmousedown="replay_bk_handler();">
			<span style="height:5px; display:block;">&nbsp;</span>
			<div style="text-align:center;z-index:10020; ">&nbsp;后退1步&nbsp;</div>
			<span style="height:5px; display:block;">&nbsp;</span>
			</div>
		</td>
		<!-- 后退按钮 END -->

		<!-- 前进按钮 START -->
		<td>
			<div class="noselect" id="replay_fd_selector" style="cursor:pointer;border:1px #ffffff solid; height:30px;" onmousedown="replay_fd_handler();">
			<span style="height:5px; display:block;">&nbsp;</span>
			<div style="text-align:center;z-index:10020; ">&nbsp;前进1步&nbsp;</div>
			<span style="height:5px; display:block;">&nbsp;</span>
			</div>
		</td>
		<!-- 前进按钮 END -->

		<td width="15px"></td>

		<!-- 加速按钮 START -->
		<td>
			<div class="noselect" id="replay_speed_selector" style="cursor:pointer;border:1px #ffffff solid; font-size:16px; height:30px; width:31px;" onmousedown="replay_switch_speed();">
			<span style="height:5px; display:block;">&nbsp;</span>
			<div style="text-align:center; font-weight:bold;z-index:10020; ">3x</div>
			<span style="height:5px; display:block;">&nbsp;</span>
			</div>
		</td>
		<!-- 加速按钮 END -->

		<td width="15px"></td>

		<!-- 时间显示 START -->
		<td>
			<div class="noselect" style="z-index:10020;font-size:16px">时间&nbsp;<span id="replay_now_player_time"></span>&nbsp;/&nbsp;<span id="replay_tot_player_time"></span></div>
			<div class="noselect" style="z-index:10020;font-size:16px">时刻&nbsp;<span id="replay_now_global_sec"></span></div>
		</td>
		<!-- 时间显示 END -->

		<!-- 玩家显示 START -->
		<!--{if $replay_player_num_tot==6}-->
		<td width="1px"></td>
		<!--{else}-->
		<td width="15px"></td>
		<!--{/if}-->
		<td>
			<div class="noselect" style="z-index:10020;font-size:16px">&nbsp;视角&nbsp;&nbsp;</div>
		</td>
		<!--{eval if ($replay_player_num_tot>6) $rep_show_more_player = 1; else $rep_show_more_player = 0;}-->
		<!--{loop range(0,min(($rep_show_more_player==1?3:5),$replay_player_num_tot-1)) $i}-->
		<td <!--{if $replay_player_num_tot==6}-->width=95px<!--{else}-->width=110px<!--{/if}-->>
			<div style="z-index:10020;cursor:pointer;height:32px; <!--{if $replay_player_num_tot==6}-->width:87px;<!--{else}-->width:102px;<!--{/if}-->" <!--{eval echo 'onmouseover="$(\'replay_playerbutton_'.$i.'\').style.boxShadow=\'0px 0px 6px #'.$repindexdata[$i]['color'].'\';$(\'replay_playerbutton_'.$i.'\').style.MozBoxShadow=\'0px 0px 6px #'.$repindexdata[$i]['color'].'\';$(\'replay_playerbutton_'.$i.'\').style.WebkitBoxShadow=\'0px 0px 6px #'.$repindexdata[$i]['color'].'\';"'; echo ' onmouseout="$(\'replay_playerbutton_'.$i.'\').style.boxShadow=\'none\';$(\'replay_playerbutton_'.$i.'\').style.MozBoxShadow=\'none\';$(\'replay_playerbutton_'.$i.'\').style.WebkitBoxShadow=\'none\';"';}--> onmousedown="replay_switch_player($i);">
				<div <!--{eval echo 'id="replay_playerbutton_'.$i.'_background"';}--> style="height:30px; <!--{if $replay_player_num_tot==6}-->width:85px;<!--{else}-->width:100px;<!--{/if}--> filter:alpha(opacity=20); opacity:0.2; border:1px transparent; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;"></div>
					<div <!--{eval echo 'id="replay_playerbutton_'.$i.'"';}--> style="position:relative; top:-31px; left:-1px; height:30px; <!--{if $replay_player_num_tot==6}-->width:85px;<!--{else}-->width:100px;<!--{/if}--> border:1px #$repindexdata[$i]['color'] solid; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color:#$repindexdata[$i]['color']; text-align:center; line-height:30px; filter:alpha(opacity=75); opacity:0.75; ">
					<div class="noselect" style="margin-left:10px; margin-right:10px;overflow-x:hidden;overflow-y:hidden;white-space:nowrap;">$repindexdata[$i]['repname']</div>
				</div>
			</div>
		</td>
		<!--{/loop}-->
		<!--{if $rep_show_more_player}-->
		<td width=1px></td>
		<td id="replay_more_players_top_positioner" style="cursor:pointer;" onmouseover="$('replay_more_players').style.left=Number(jQuery('#replay_more_players_left_positioner').offset().left-jQuery(window).scrollLeft()+10).toString()+'px';
		$('replay_more_players').style.top=Number(jQuery('#replay_more_players_top_positioner').offset().top-jQuery(window).scrollTop()-4).toString()+'px';$('replay_more_players').style.display='block'; replay_more_player_mouse_on = 1;"
		onmouseout="replay_more_player_mouse_on = 0; if (!replay_more_player_mouse_on && !replay_more_player_submenu_mouse_on) $('replay_more_players').style.display='none';">
			<div class="noselect" style="z-index:10020; z-index:10020;font-size:16px; margin-right:12px;">更多玩家<span id="replay_more_players_left_positioner">&raquo;</span></div>
			<div id="replay_more_players" style="z-index:10020; position:fixed; display:none;" onmouseover="replay_more_player_submenu_mouse_on = 1;" onmouseout="replay_more_player_submenu_mouse_on = 0; if (!replay_more_player_mouse_on && !replay_more_player_submenu_mouse_on) $('replay_more_players').style.display='none';">
				<table CellSpacing=1 CellPadding=0>
					<!--{eval $rep_remain_player = $replay_player_num_tot-4; $repcol=((int)floor(($rep_remain_player-1)/10))+1;}-->
					<!--{loop range(4,$replay_player_num_tot-1) $i}-->
					<!--{if (($i-4)%$repcol==0)}-->
					<tr>
						<!--{/if}-->
						<td width=118px height=41px class="b3" valign=middle <!--{eval echo 'onmouseover="$(\'replay_playerbutton_'.$i.'\').style.boxShadow=\'0px 0px 6px #'.$repindexdata[$i]['color'].'\';$(\'replay_playerbutton_'.$i.'\').style.MozBoxShadow=\'0px 0px 6px #'.$repindexdata[$i]['color'].'\';$(\'replay_playerbutton_'.$i.'\').style.WebkitBoxShadow=\'0px 0px 6px #'.$repindexdata[$i]['color'].'\';"'; echo ' onmouseout="$(\'replay_playerbutton_'.$i.'\').style.boxShadow=\'none\';$(\'replay_playerbutton_'.$i.'\').style.MozBoxShadow=\'none\';$(\'replay_playerbutton_'.$i.'\').style.WebkitBoxShadow=\'none\';"';}-->  onmousedown="replay_switch_player($i);">
							<div style="height:100%; width:100%; filter:alpha(opacity=75); opacity:0.75; background-color:#000000">
							<span class="noselect" style="height:5px; display:block;">&nbsp;</span>
								<div style="margin-left:8px; z-index:10020;cursor:pointer;height:32px; width:102px;">
								<div <!--{eval echo 'id="replay_playerbutton_'.$i.'_background"';}--> style="height:30px; width:100px; filter:alpha(opacity=20); opacity:0.2; border:1px transparent; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;"></div>
									<div <!--{eval echo 'id="replay_playerbutton_'.$i.'"';}--> style="position:relative; top:-31px; left:-1px; height:30px; width:100px; border:1px #$repindexdata[$i]['color'] solid; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color:#$repindexdata[$i]['color']; text-align:center; line-height:30px; filter:alpha(opacity=75); opacity:0.75; ">
										<div class="noselect" style="margin-left:10px; margin-right:10px;overflow-x:hidden;overflow-y:hidden;white-space:nowrap;">$repindexdata[$i]['repname']</div>
									</div>
								</div>
							</div>
						</td>
						<!--{if (($i-4)%$repcol==$repcol-1 || $i==$replay_player_num_tot-1)}-->
					</tr>
					<!--{/if}-->
					<!--{/loop}-->
				</table>
			</div>
		</td>
		<!--{/if}-->
		<!-- 玩家显示 END -->
	</tr>
</table>

</div>
<!-- 录像操作界面 END -->

<span class="noselect" style="height:7px; display:block;">&nbsp;</span>

</div>
<!-- 回放控制板 END -->

<!-- 录像载入进度气泡框 START -->
<!--{eval bubblebox_start('id:replayhint;height:200;width:500;cancellable:0;margin-right:8px;');}-->
<table height=198px width=100%><tr><td align="left" valign="middle">
<span>少女祈祷中... </span>
<!--{if $replay_player_num_tot>1}-->
<span style="height:8px; display:block;">&nbsp;</span>
<div id="progressbar-border">
	<div id="progressbar-inner2"></div>
	<div id="progressbar-text2">0%</div>
</div>   
<span style="height:5px; display:block;">&nbsp;</span>
<table width=100%>
<tr><td>
正在载入第<span id="replay_loader_now_player_num">1</span>位玩家(共<span>$replay_player_num_tot</span>位)……
<div style="float:right;">录像文件总大小: <span>$rfullsz</span>KB</div>
</td></tr>
</table>
<span style="height:7px; display:block;">&nbsp;</span>
<!--{/if}-->
<span style="height:8px; display:block;">&nbsp;</span>
<div id="progressbar-border">
	<div id="progressbar-inner"></div>
	<div id="progressbar-text">0%</div>
</div>   
<span style="height:5px; display:block;">&nbsp;</span>
<table>
<tr><td width=200px>
玩家: <span id="replay_loader_now_player" class="lime b">$repindexdata[0]['repname']</span>
</td><td width=200px>
游戏局号: $repgnum
</td></tr>
<tr><td width=200px>
录像文件大小: <span id="replay_loader_now_repsz">$repindexdata[0]['repsz']</span>
</td><td width=200px>
操作总数: <span id="replay_loader_now_opcnt">$repindexdata[0]['repopcnt']</span>
</td></tr>
</table>

</td></tr></table>
<!--{eval bubblebox_end();}-->
<script type="text/javascript">bubblebox_show('replayhint');</script>
<!-- 录像载入进度气泡框 END -->

<!-- 播放结束气泡框 START -->
<!--{eval bubblebox_start('id:persistent-replay-endhint;height:200;width:500;cancellable:1;margin-right:8px;');}-->
<table height=198px width=100%><tr><td align="center" valign="middle">
<span><font size="50px">录像播放结束</font><br><br>
<a href="#" onclick="if (history.length>1) javascript:history.back(-1); else window.location.href='index.php';">点击这里返回录像选择界面</a>，或点击气泡框外任意位置重新观看本录像
</span>
</td></tr></table>
<!--{eval bubblebox_end();}-->
<!-- 播放结束气泡框 END -->

<!-- 载入录像 -->
<script type="text/javascript">
replay_player_num_tot = $replay_player_num_tot;
replay_game_starttime = $rgstime;
<!--{eval echo '___temp_s = new String(\''.$jrepindexdata.'\');'."\n";}-->
replay_data_full = JSON.parse(JXG.decompress(___temp_s));
delete ___temp_s;
replay_player_now_num = 0;
jQuery.cachedScript("gamedata/replays/$repindexdata[0]['repfileid'].replay.header.js");
</script>

{template game_interface}

{template footer}