<!--{if $roomdata['roomtype']==0}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=5px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=150px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=150px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=1;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
</tr>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==1}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==2}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#8cff00;">绿队</span>
	</td>
	<!--{loop range(10,14) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==3}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#8cff00;">绿队</span>
	</td>
	<!--{loop range(10,14) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ffc700;">黄队</span>
	</td>
	<!--{loop range(15,19) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==4}-->
<!--<div style="margin:10px">
	<ul class="roomteam-ul" style="list-style-type:none;">
		<li style="display:block;">
			<div style="float:left">
				
			</div>
		</li>
	</ul>
</div>-->
<table CellSpacing=0 CellPadding=0 width=100%>
	<!--{loop range(0,room_get_vars($roomdata,'pnum')-1) $i}-->
		<!--{eval $lp = room_get_vars($roomdata,'leader-position')[$i];$tcolor = room_get_vars($roomdata,'color')[$lp];$tname = room_get_vars($roomdata,'teamID')[$lp];}-->
		<!--{if $i % 5 == 0}-->
		<tr>
			<td class="b3" height=40px width=20px>
			</td>
			<td class="b3" height=40px width=40px>
				<span style="color:$tcolor;">$tname</span>
			</td>
		<!--{/if}-->
			<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
				{template roomslot_s}
			</td>
		<!--{if $i % 5 == 4}-->
		</tr>
		<!--{/if}-->
	<!--{/loop}-->
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==5}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" colspan=3 height=25px width=310px>
		<span style="color:#ff9933;">本模式可以熟悉游戏，也可以尝试在1禁前尽可能获取金钱</span>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=250>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3">
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==6}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=7>
		<span style="color:#ff9933;">本模式中可以完成解离相关成就 限制时间为4禁 注意2禁会进入连斗</span>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=65px>
	</td>
	<td class="b3" height=25px width=80px>
		<span style="color:#ff0022;">攻坚</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=80px>
		<span style="color:#5900ff;">副手</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=80px>
		<span style="color:#8cff00;">辅助</span>
	</td>
	<td class="b3" height=25px width=65px>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=65px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=80px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=1;}-->
	<td id="room-position-$i" class="b3" width=80px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=2;}-->
	<td id="room-position-$i" class="b3" width=80px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=65px>
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==8}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=310px colspan=3>
		<span style="color:#ff9933;">本模式允许其他玩家随时加入，NPC、地图道具与标准模式有区别。此外，本模式偶尔会测试新功能。</span>
	</td>

</tr>
<tr>
	<td class="b3" height=40px width=250px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px>
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==9}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=310px colspan=3>
		<span style="color:#ff9933;">本模式节奏大大快于其他模式！允许其他玩家随时加入。</span>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=250px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px>
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==11}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" colspan=3 height=90px width=310px>
		<span style="color:#ff9933;">本模式胜利条件为完成幻境解离结局，限时2禁，商店部分强化道具于0禁提前出售。</span><br><br>
		<span class="red b">注意：本模式供熟练玩家挑战自我，切糕奖励随难度增加<br>进阶16及以上难度不再有成就奖励，难度较高，需要小心应对</span>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=250>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3">
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->