<!--{eval bubblebox_start('id:persistent-rmeditbox;height:280;width:200;scroll-bar:0;');}-->
<div id="loading3"></div>
<div style="text-align:middle; margin-top:20px; margin-bottom:20px; margin-left:20px;">
	设置游戏模式：
	<!--{eval global $roomtypelist;}-->
	<!--{loop $roomtypelist $i $value}-->
		<!--{if check_room_available($value) && !$roomtypelist[$i]['without-ready']}-->
			<div>
			<!--{eval $bname=str_replace('"',"'",$value['name']);}-->
			<a class="b_button bc_black" onclick="
				$('loading3').style.display='block';
				$('command').value='rmsetmode';
				$('para1').value=$i; 
			postCmd('roomcmd','roomcmd.php'); 
			sleep(1000);
			bubblebox_show('persistent-roommain');
			$('loading3').style.display='none';
			" style="margin:3px;width:85px">$bname</a>
			</div>
		<!--{/if}-->
	<!--{/loop}-->
	<div>
		<a class="b_button bc_black" onclick="bubblebox_show('persistent-roommain');" style="margin:3px;width:85px">返回</a>
	</div>
</div>
<!--{eval bubblebox_end();}-->