<!--{eval bubblebox_start('id:persistent-roommain;height:460;width:740;scroll-bar:0;');}-->
<div id="roommain">
</div>
<div id="roomchatarea">
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td valign="top" style="text-align: left" height="1px" colspan=5>
		<div class="b3" style="margin-left:22px; margin-right:22px; text-align:left;">
			<span class="red b" style="line-height:20px; ">系统提示: PVP房间严禁挂机/多账号/假赛，违者一律封号一周处理。</span>
		</div>
		<div style="margin-left:22px; margin-right:22px; background-color:rgba(17,17,17,0.5); *BACKGROUND:rgb(17,17,17); *filter:alpha(opacity=50); BORDER: #000 0px none; color: #fff; text-align: center; border-right: #111 1px solid;font:10pt '微软雅黑' serif;">
			<div id="chatlist" class="chatlist" >
				<div class="scroll-pane-chat" style="width:100%; height:120px; max-height:120px; overflow:auto;">
					<p id="chatdata-text" style="margin:0 0 0 0; text-align:left; line-height:20px;">
					</p>
				</div>
			</div>
		</div> 
	</td>
</tr>
<tr>
	<td height="5" colspan=5>
		<div class="b3" style="margin-left:22px; margin-right:22px; height:5px;"></div>
	</td>
</tr>
<tr>
	<td height="35" colspan=5>
		<div class="b3" style="margin-left:22px; margin-right:22px;">
			<form type="post" id="sendchat" name="sendchat" action="chat.php" onsubmit="$('command').value='newchat';$('para1').value=$('chatmsg').value; $('chatmsg').value=''; postCmd('roomcmd','roomcmd.php');return false;" >
				<input type="text" id="chatmsg" name="chatmsg" maxlength="60" style="width:450px">
				<button type="button" onClick="$('command').value='newchat';$('para1').value=$('chatmsg').value; $('chatmsg').value=''; postCmd('roomcmd','roomcmd.php');return false;">发送</button>
			</form>
		</div>
	</td>
</tr>
<tr></tr>
</table>
<br>
<div style="float:right;text-align:right;">
<span class="grey b">房间编号:&nbsp;</span><span><span class="grey b">$room_prefix</span></span>&nbsp;&nbsp;
<span class="grey b">服务器连接状态:&nbsp;</span><span id="connect-status-text"><span class="grey b">正在连接..</span></span><br>
<br>
</div>
</div>
<form method="post" id="roomcmd" name="roomcmd" style="display:none;">
<input type="hidden" id="timestamp" name="timestamp" value="0"> 
<input type="hidden" id="command" name="command" value="">
<input type="hidden" id="para1" name="para1" value="">
<input type="hidden" id="para2" name="para2" value="">
<input type="hidden" id="para3" name="para3" value="">
</form>
<!--{eval bubblebox_end();}-->
{template room_setmode}

<img style="display:none;" type="hidden" src="img/blank.png" onload="bubblebox_show('persistent-roommain'); room_get_update(); jQuery(function() { jQuery('.scroll-pane-chat').jScrollPane(); }); ">
