<!--{if $upos==-1}-->
	<!--{if $roomdata['player'][$i]['forbidden']}-->
		<div id="pos$i" class="glow_buttons w115 h30 darkgrey forbidden">(已禁入)</div>
	<!--{else}-->
		<!--{if $roomdata['player'][$i]['name']!=''}-->
			<div id="pos$i" class="glow_buttons w115 h30 forbidden">$roomdata['player'][$i]['name']</div>
		<!--{else}-->
			<div id="pos$i" class="glow_buttons w115 h30 evergreen" onclick="$('command').value='pos_enter';$('para1').value=$i;postCmd('roomcmd','roomcmd.php');">
				<!--{if $i==0}-->
					成为房主
				<!--{else}-->
					<!--{if $roomtypelist[$roomdata['roomtype']]['leader-position'][$i]==$i && $roomtypelist[$roomdata['roomtype']]['show-team-leader']}-->
						成为队长
					<!--{else}-->
						进入位置
					<!--{/if}-->
				<!--{/if}-->
			</div>
		<!--{/if}-->
	<!--{/if}-->
<!--{else}-->
	<!--{if $roomdata['player'][$i]['forbidden']}-->
		<div id="pos$i" class="glow_buttons w115 h30 darkgrey forbidden">(已禁入)</div>
	<!--{else}-->
		<!--{if $roomdata['player'][$i]['name']==''}-->
			<div id="pos$i" class="glow_buttons w115 h30 grey" onclick="$('command').value='pos_enter';$('para1').value=$i;postCmd('roomcmd','roomcmd.php');">
				<!--{if $i==0}-->
					空房主位置
				<!--{else}-->
					<!--{if $roomtypelist[$roomdata['roomtype']]['leader-position'][$i]==$i && $roomtypelist[$roomdata['roomtype']]['show-team-leader']}-->
						空队长位置
					<!--{else}-->
						空位置
					<!--{/if}-->
				<!--{/if}-->
			</div>
		<!--{else}-->
			<!--{if $roomdata['readystat']==1 && $roomdata['player'][$i]['name']!='' && $roomdata['player'][$i]['ready']}-->
				<div id="pos$i" class="glow_buttons w115 h30 evergreen forbidden">$roomdata['player'][$i]['name']</div>
			<!--{else}-->
				<div id="pos$i" class="glow_buttons w115 h30 forbidden">$roomdata['player'][$i]['name']</div>
			<!--{/if}-->
		<!--{/if}-->
	<!--{/if}-->
<!--{/if}-->

<!--{if $i==0}-->
<div style="position:absolute;left:75px;top:19px;">
	<div id="action$i" class="glow_buttons w35 h15 lime forbidden">房主</div>
</div>
<!--{else}-->
	
	<!--{if ($upos == 0 || $upos == room_team_leader_check($roomdata,$i)) && $i!=$upos}-->
		<!--{if !$roomdata['player'][$i]['forbidden'] && $roomdata['player'][$i]['name']!=''}-->
			<div style="position:absolute;left:75px;top:19px;">
				<div id="action$i" class="glow_buttons w35 h15 red" onclick="$('command').value='pos_kick';$('para1').value=$i;postCmd('roomcmd','roomcmd.php');">
					踢出
				</div>
			</div>
		<!--{elseif !$roomdata['player'][$i]['forbidden']}-->
			<div style="position:absolute;left:75px;top:19px;">
				<div id="action$i" class="glow_buttons w35 h15 red" onclick="$('command').value='pos_disable';$('para1').value=$i;postCmd('roomcmd','roomcmd.php');">
					禁用
				</div>
			</div>
		<!--{else}-->
			<div style="position:absolute;left:75px;top:19px;">
				<div id="action$i" class="glow_buttons w35 h15 evergreen" onclick="$('command').value='pos_enable';$('para1').value=$i;postCmd('roomcmd','roomcmd.php');">
					启用
				</div>
			</div>
		<!--{/if}-->
	<!--{/if}-->

	<!--{if $upos != 0 && $i==room_team_leader_check($roomdata,$i) && $roomtypelist[$roomdata['roomtype']]['show-team-leader']}-->
		<div style="position:absolute;left:75px;top:19px;">
			<div id="action$i" class="glow_buttons w35 h15 lime forbidden">队长</div>
		</div>
	<!--{/if}-->
<!--{/if}-->