<!--{eval \bubblebox\bubblebox_set_style('id:persistent-newroombox;height:350;width:200;scroll-bar:0;cancellable:1;');}-->
{template MOD_BUBBLEBOX_START}
<div id="loading"></div>
<div style="text-align:middle; margin-top:20px; margin-bottom:20px; margin-left:20px;">
	设置游戏模式：
	<!--{eval global $roomtypelist;}-->
	<!--{loop $roomtypelist $i $value}-->
		<!--{if check_room_available($value)}-->
			<div>
			<!--{eval $bname=str_replace('"',"'",$value['name']);}-->
			<a class="b_button bc_black" onclick="
			window.location.href='roomcmd.php?command=newroom&para1='+$i;
			$('loading').style.display='block'" style="margin:3px;width:85px">$bname</a>
			</div>
		<!--{/if}-->
	<!--{/loop}-->
</div>
{template MOD_BUBBLEBOX_END} 
