<!--{if $roomdata['roomtype']==0}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=150px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=150px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=1;}-->
	<td id="room-position-$i" class="b3" width=150px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==1}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==2}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#8cff00;">绿队</span>
	</td>
	<!--{loop range(10,14) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==3}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#8cff00;">绿队</span>
	</td>
	<!--{loop range(10,14) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ffc700;">黄队</span>
	</td>
	<!--{loop range(15,19) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==4}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ff0022;">红队</span>
	</td>
	<!--{loop range(0,4) $i}-->
	<td class="b3" id="room-position-$i" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#5900ff;">蓝队</span>
	</td>
	<!--{loop range(5,9) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#8cff00;">绿队</span>
	</td>
	<!--{loop range(10,14) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#ffc700;">黄队</span>
	</td>
	<!--{loop range(15,19) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
<tr>
	<td class="b3" height=40px width=20px>
	</td>
	<td class="b3" height=40px width=40px>
		<span style="color:#fcfcfc;">白队</span>
	</td>
	<!--{loop range(20,24) $i}-->
	<td id="room-position-$i" class="b3" width=90px align=center style="position:relative;">
		{template roomslot_s}
	</td>
	<!--{/loop}-->
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==5}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=100px>
	</td>
	<td class="b3" height=25px width=310px>
		<span style="color:#ff9933;">挑战内容：在1禁前获得尽可能多的金钱</span>
	</td>
	<td class="b3" height=25px width=100px>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=100px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=310px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=100px>
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->
<!--{if $roomdata['roomtype']==6}-->
<table CellSpacing=0 CellPadding=0 width=100%>
<tr>
	<td class="b3" height=10px colspan=5>
		<span style="color:#ff9933;">本模式中可以完成解离相关成就 限制时间为2禁</span>
	</td>
</tr>
<tr>
	<td class="b3" height=25px width=65px>
	</td>
	<td class="b3" height=25px width=80px>
		<span style="color:#ff0022;">攻坚</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=80px>
		<span style="color:#5900ff;">副手</span>
	</td>
	<td class="b3" height=25px width=70px>
	</td>
	<td class="b3" height=25px width=80px>
		<span style="color:#8cff00;">辅助</span>
	</td>
	<td class="b3" height=25px width=65px>
	</td>
</tr>
<tr>
	<td class="b3" height=40px width=65px>
	</td>
	<!--{eval $i=0;}-->
	<td id="room-position-$i" class="b3" width=80px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=1;}-->
	<td id="room-position-$i" class="b3" width=80px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=70px>
	</td>
	<!--{eval $i=2;}-->
	<td id="room-position-$i" class="b3" width=80px align=center style="position:relative;">
		{template roomslot}
	</td>
	<td class="b3" height=40px width=65px>
	</td>
</tr>
<tr>
	<td class="b3" height=15px colspan=5>
	</td>
</tr>
</table>
<!--{/if}-->