<!--{eval \bubblebox\bubblebox_set_style('id:persistent-rmeditbox;height:200;width:200;scroll-bar:0;');}-->
{template MOD_BUBBLEBOX_START}
<table CellSpacing=0 CellPadding=0 width=200px height=200px>
<tr><td class="b3">
<div style="text-align:left; margin-top:20px; margin-bottom:20px; margin-left:20px;">
	设置游戏模式：<br>
	<!--{eval global $roomtypelist;}-->
	<!--{loop $roomtypelist $i $value}-->
	<input type="radio" name="rmmode" id="type$i" value="type$i" <!--{if $i==0}-->checked<!--{/if}-->>$value['name']<br>
	<!--{/loop}-->
	<span style="display:block; height:5px;">&nbsp;</span>
	<input type="button" class="cmdbutton" name="submit" value="提交" onclick="$('command').value='rmsetmode';
	<!--{loop $roomtypelist $i $value}-->
	if ($('type$i').checked) $('para1').value=$i; 
	<!--{/loop}-->
	postCmd('roomcmd','roomcmd.php'); 
	this.disabled=true; sleep(1000); this.disabled=false; bubblebox_show('persistent-roommain');">
	<input type="button" class="cmdbutton" name="submit" value="返回" onclick="bubblebox_show('persistent-roommain');">
</div>
</td></tr></table>
{template MOD_BUBBLEBOX_END} 
