{template header}
<br><br>
<div class="subtitle" align="center">道具展柜</div>
<center>
<br>
<div style="width:600px;text-align:center;font-size:13px;">你正在查看玩家<span class="yellow b">{$udata['username']}</span>的展柜。</div>
<br>

<div class="subtitle" align="center">卡片陈列</div>
<center>
	<!--{eval $showpack=1;}-->
	<ul style="width:750px;list-style-type:none;">
		<!--{loop $showcase_cardlist $i $cid}-->
		<li style="float:left;margin:5px;margin-bottom:10px">
			<!--{eval $k=$i+1; $nowcard=$cards[$cid]; $desc_skills=!empty($nowcard['desc_skills'])?$nowcard['desc_skills']:'';}-->
			<!--{eval $nowcard['blink']=!empty($card_data[$cid]['blink'])?$card_data[$cid]['blink']:0;}-->
			<div title="{$desc_skills}">
			{template MOD_CARDBASE_CARD_FRAME}
			</div>
		</li>
		<!--{/loop}-->
		<div style="clear:both;"></div>
	</ul>
</center>

<div class="subtitle" align="center">道具陈列</div>
<center>
	<!--{if $showcase_gameitemlist}-->
	<table style="width:600px;">
		<tr>
			<td class=b1 width="60"><span>道具类别</span></td>
			<td class=b1><span>名称</span></td>
			<td class=b1 width="150"><span>属性</span></td>
			<td class=b1 width="40"><span>效</span></td>
			<td class=b1 width="40"><span>耐</span></td>
		</td>
		<!--{loop $showcase_gameitemlist $gitm}-->
		<!--{if $gitm}-->
		<tr>
			<td class=b2 height="26"><span><!--{eval echo \itemmain\parse_itmk_words($gitm[1],1);}--></span></td>
			<td class=b3><span>$gitm[0]</span></td>
			<td class=b3><span><!--{eval echo \itemmain\parse_itmsk_words($gitm[4],1);}--></span></td>
			<td class=b3><span>$gitm[2]</td>
			<td class=b3><span>$gitm[3]</span></td>
		</tr>
		<!--{/if}-->
		<!--{/loop}-->
	</table>
	<!--{else}-->
	<div style="width:600px;text-align:center;font-size:14px;">这里什么也没有呢……</div>
	<!--{/if}-->
</center>

<div class="subtitle" align="center">装饰陈列</div>
<center>
	<!--{if $showcase_logitemlist}-->
	<table style="width:600px;">
		<tr style="text-align:center;font-size:18px;">
			<th>名称</th>
			<th>描述</th>
		</tr>
		<!--{loop $showcase_logitemlist $lid}-->
		<!--{if isset($logistics_shop_items[$lid])}-->
		<!--{eval $lsitem=$logistics_shop_items[$lid];}-->
		<tr>
			<td style="text-align:center;font-weight:bold;">{$lsitem[0]}</td>
			<td style="text-align:center;">$logistics_itemtype[$lsitem[1]]。{$lsitem[3]}</td>
		</tr>
		<!--{/if}-->
		<!--{/loop}-->
	</table>
	<!--{else}-->
	<div style="width:600px;text-align:center;font-size:14px;">这里什么也没有呢……</div>
	<!--{/if}-->
</center>

<br>
</center>

{template footer}