<p>以下是可能获得的同调结果的列表。</p>
<p><span class="yellow">通常同调合成表</span>：</p><table>
	<tr>
		<td class="b1" height=20px><span>同调产物</span></td>
		<td class="b1"><span>用途</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>正义盟军 灾亡虫 ★5</span></td>
		<td class='b3'><span>投掷兵器/50/40/带毒+爆炸</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>黑蔷薇龙 ★7</span></td>
		<td class='b3'><span>投掷兵器/150/70/火焰</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>机巧将军 无零 ★7 -仮</span></td>
		<td class='b3'><span>投掷兵器/250/∞/天然</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>星尘龙 ★8</span></td>
		<td class='b3'><span>投掷兵器/100/100/音波+陷阱探测+重击辅助</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>红莲魔龙 ★8 -仮</span></td>
		<td class='b3'><span>投掷兵器/65/∞/爆炸</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>红莲魔龙·右痕 ★8</span></td>
		<td class='b3'><span>投掷兵器/190/25/火焰</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>正义盟军 光明守望者 ★8 -仮</span></td>
		<td class='b3'><span>投掷兵器/101/∞/菁英</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>阿尔法大日 ★9</span></td>
		<td class='b3'><span>投掷兵器/109/19/电击+属性防御+连击+多重</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>超念力枪手 ★9</span></td>
		<td class='b3'><span>投掷兵器/180/∞/冲击+HP制御</span></td>
	</tr>	<tr>
		<td class='b3' height='20px'><span>流星龙 ★10 -仮</span></td>
		<td class='b3'><span>投掷兵器/120/∞/重击辅助</span></td>
	</tr></table>
<p>另外，上述只是一般情况。 有一些同调结果必须通过<span class="yellow">特定的同调道具</span>才能合成，这些合成将在下表中列出。</p>
<p><span class="lime">特殊同调合成表</span>：</p><table>
	<tr>
		<td class="b1" height=20px><span>同调素材一</span></td>
		<td class="b1"><span>同调素材二</span></td>
		<td class="b1"><span>同调素材三</span></td>
		<td class="b1"><span>同调素材四</span></td>
		<td class="b1"><span>同调素材五</span></td>
		<td class="b1"></td>
		<td class="b1"><span>同调产物</span></td>
		<td class="b1"><span>用途</span></td>
	</tr><tr><td class="b3"title='每禁于RF高校刷新15个<br>'><span>救世龙 ★1</span></td><td class="b3"title='通过同调合成获取<br>'><span>星尘龙 ★8</span></td><td class="b3"><span>-</span></td><td class="b3"><span>-</span></td><td class="b3"><span>-</span></td>		<td class='b3'>→</td>
		<td class='b3'><span>救世星龙 -仮</span></td>
		<td class='b3'><span>投掷兵器/100/∞/重击辅助+菁英</span></td>
	</tr><tr><td class="b3"title='每禁于RF高校刷新15个<br>'><span>救世龙 ★1</span></td><td class="b3"title='通过合成获取<br>'><span>红莲魔龙 ★8</span></td><td class="b3"><span>-</span></td><td class="b3"><span>-</span></td><td class="b3"><span>-</span></td>		<td class='b3'>→</td>
		<td class='b3'><span>救世魔龙 -仮</span></td>
		<td class='b3'><span>投掷兵器/100/∞/重击辅助+火焰</span></td>
	</tr></table>
<br>