{template header}
<br>
<div style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
<h2>更新日志</h2>
<h3>2017年5月11日</h3>
游戏功能更新：<br>
<ul>
	<li>修复了无人参加时，游戏结束时间不正确的问题。
	<li>尝试修复了高并发时偶尔导致游戏开局与游戏结束流程冲突的问题，看看究竟有没有效果。
	<li>修复了DN会导致杀人数+2的BUG。DN现在不能对死人生效了。
	<li>修复了FFF团圣火技能不生效的BUG
	<li>微调了地图下拉框显示。
</ul>
数据调整：<br>
<ul>
	<li>现在拿取视野内的物品会产生与探索相同的CD时间（原本不产生）。
	<li>微调了卡片罕贵度的显示。
	<li>现在富零代和GDS领导两张卡的等级是M，显示颜色为黑色，其他性质与C卡相同。
	<li>卡包Way of Life新增卡片：数体教挑战者，等级C，受到战斗和陷阱伤害时以百为单位进行四舍五入。
	<li>现在伤害制御的结算顺序调到了所有对伤害有影响的技能之后。
</ul>
开发相关：
<ul>
	<li>卡片数据和卡片介绍两个变量现在整合到一起了。上下翻一个一千多行的文件简直要命。
</ul>
<h3>5月8日</h3>
游戏功能更新：<br>
<ul>
	<li>现在组队模式中队长也可以踢队友了（本来只有房主可以踢人）
	<li>修正了一个导致自动反挂机失效的BUG。房间内反挂机间隔从20分钟下调至10分钟。
	<li>修复了footer.htm容易点到计数器的问题
</ul>
数据调整：<br>
<ul>
	<li>天佑技能踩陷阱的伤害阈值现在不会失效了，而且提高到35%；
	<li>唱戏挑战者效果修改，现在唱戏挑战者对歌魂小于30的玩家和NPC都能发挥效果（原本只能对玩家，且歌魂必须为0）。同时，现在部分NPC拥有超过0的歌魂了。
</ul>
开发相关：
<ul>
	<li>去掉了user表内已经废弃的nick和nicks字段
	<li>roomcmd和roommng.func大量代码用函数进行复用化
	<li>修复了踩陷阱时的一大堆notice
</ul>
<h3>5月5日</h3>
游戏功能更新：<br>
<ul>
	<li>关闭新游戏和新房间功能修改：如果GM关闭了新游戏，玩家在房间界面是无法进入准备状态的。
	<li>修正了adv1以上模式，当数据库里没有房间数据表时，开新房间会造成数据库错误的问题。
	<li>现在视野、装备和包裹里超过大约20个英文字母长度的道具名都会缩略显示。
	<li>现在特殊事件不再会导致超出HP上限的HP回复原状了。
</ul>
数据调整：<br>
<ul>
	<li>遇敌率大幅度修改：<br>
		①原遇敌率为乘算，现在改为加算。具体而言，原遇敌率计算是在探索方式遇敌率上乘以一个百分比，在同地图NPC数很少时，姿态策略对遇敌率的提升微乎其微（如10%-->11%）。现改为加算后，提升很明显（如10%-->20%）。<br>
		②NPC遭遇率基础值修改，原探索遇敌率是7%+同地图NPC数*3%，最高40%封顶，现改为20%+同地图NPC数*3%，最高50%封顶；原移动遇敌率是37%+同地图NPC数*3%，最高70%封顶，现改为40%+同地图NPC数*3%，最高70%封顶。<br>
		③现在无月之影和英灵殿的遇敌率额外+20%，SCP遇敌率额外+10%<br>
		④现在遇敌率任何时候都不会低于20%。<br>
	<li>卡包Way of Life新增3张卡片：<br>
		①悲运挑战者，S级，开局获得100效的全系熟练书，但是在使用后，战斗时命中、回避、反击率都-10%，受伤和异常状态概率+10%。<br>
		②唱戏挑战者，S级，开局获得600歌魂（最大歌魂是0），攻击歌魂为0的玩家时，最终伤害+30%（对NPC无效）。<br>
		③倔豆挑战者，A级，开局HP为4000（最大HP不变），但是面包替换为倔豆盘/手臂防具/25/10。<br>
	<li>星莲船挑战者卡的等级从A上升到S。
	<li>修正了电磁充能手套无法合成的问题。
	<li>调整了管理后台部分功能的权限要求。
</ul>
部署相关：
<ul>
	<li>由于某些文件用了5.5才支持的语句，游戏php版本最低限制从5.4改为5.5
</ul>
开发相关：
<ul>
	<li>modulemng.func.php里的大段字符串改用nowdoc。现在ADV2模式刷新缓存时不再会处理单行注释。
	<li>把各函数对玩家用户名和密码的验证统一了。
	<li>修复了卡片和技能界面一些参数缺失导致的warning
</ul>
<h3>4月28日</h3>
游戏功能更新：<br>
<ul>
	<li>现在反挂机系统执行的优先级稍微高了一点。
</ul>
数据调整：<br>
<ul>
	<li>现在开局天气只会是晴天 多云 小雨 暴雨 下雪之中的一种（注意没有大晴）。1禁以后可能变成的天气与原先一样。
	<li>再次迎战视野中的敌人时，先制攻击的减成从-30%上升到-40%
	<li>次元的暗面真好看！思念体-海马濑人的掉落更新。原混沌黑磨刀石改名传说的白磨刀石，效从40上升到45；新增掉落——次世代数据网络决斗盘，手臂防具/100/100/陷阱探测+HP制御
</ul>
开发相关：<br>
<ul>
	<li>现在游戏结束处理时会阻塞进程，避免多玩家反复提交造成脏数据或者重复处理。
	<li>现在开局前会自动清空临时文件夹，避免一些情况导致录像等临时文件没有删除
	<li>ADV3模板缓存不会再缓存一些直接访问的页面了
</ul>
<h3>4月26日</h3>
游戏功能更新：<br>
<ul>
	<li>修正了当以大小写与注册时不同的id登陆后会导致获胜和积分不被记录的问题。
	<li>修正了优胜页面有时跳转不正常的问题
</ul>
数据调整：<br>
<ul>
	<li>现在34个地图全部都有各自对道具发现率、人物发现率、攻击加成和防御加成的影响
	<li>录像储存条件修改，现在房间内就算是全部死亡或者金钱不满100000，只要最高伤害>400就能记录录像。
</ul>
开发相关：<br>
<ul>
	<li>视野功能在数据库里的储存形式现在是gencode()过的字符串（原来直接是序列化的字符串）
	<li>现在自动新建房间数据表的功能只在建房时执行，而不是每次玩家请求都执行。
</ul>
<h3>4月24日</h3>
游戏功能更新：<br>
<ul>
	<li>伐木模式改动：伐木模式的限制时间改为3禁，但玩家是否获得成就的判定数值是1禁时 / 1禁前游戏结束时身上曾经有过的【最大金钱数】。举例：老王在1禁前打到了16000，然后花了8000买了个垃圾装备，然后1禁了，然后2禁时阴沟里翻船死了，死时身上有27000，系统会认为他这局有效金钱是16000。<br>
	此外，伐木模式商店道具改为与标准模式相同，除了出售名为“伐木解除钥匙”的杂物。这个物品使用后强制结束游戏。<br>
	此外，伐木模式开局能选择所有可选称号。
	<li>现在能自由选择查看特定类型胜利或者特定玩家的优胜记录了。
	<li>修复了合成提示无法显示包裹全部道具一起合成的那个东西的BUG。合成反查现在不提示隐藏合成。
	<li>现在同调和超量合成表会自动更新了。
</ul>
<h3>4月20日</h3>
游戏功能更新：<br>
<ul>
	<li>将历史优胜页面改为按“上一页”“下一页”及“跳转”查看。
	<li>修正了部分超量素材转换出来时名字带空格的问题
	<li>现在视野系统在雾天将不会暴露存活的玩家信息，而且雾天视野格子数也会相应下降。周三除错活动局内视野不生效。
	<li>修复了商店购买无限耐道具不正常的BUG
	<li>房间区“优胜记录”不再能看到“挑战结束”胜利。（移至“所有记录”）
	<li>现在后台前三项系统参数控制在打开ADV模式时也会立即生效了（会覆盖ADV模式的对应文件）
	<li>修复了合成提示显示不正常的BUG
	<li>凸眼鱼现在会产生“XX地传来一阵强大的吸力”的提示。
</ul>
数据调整：
<ul>
	<li>移除了两个“通常”姿态和策略。作战姿态的攻防加成从50%/25%提升到60%/30%
	<li>商店六系武器、防具和女主武器的出现时间统一提前了1禁（原2禁变1禁，1禁变0禁）
	<li>在墓地追加了0禁刷新的少量调整卡（丝袜、兔子）、超量素材（一星到八星各1个）、无毒和剧毒补给
	<li>新增游戏王相关：3个四星素材可以超量CNo.39霍普雷了，同时No.39和CNo.39可以合成恶俗电光皇，一个有属性抹消的投系武器。
	<br>可以同调合成灾亡虫和红莲魔龙·红暮（误）了，190/25带火焰，目前应该都不是特别imba的东西
	<li>电磁发射装置不再需要某种电子零件当素材了，定向阔剑发射器素材增加某种电子零件。
	<li>欧系合成修改：念动冲拳系、火箭飞拳系武器改为无限耐久，且终端武器效果稍微上调（连击拳450-->500，火箭飞拳300-->400）
	<li>射系合成修改：删去加农鲨。新增 巨兽鲨+四星素材+四星素材=No.101，算稍微强化版的水枪
	<li>新增合成：探测器电池+原型武器A=电磁充能手套，本身没啥卵用除了合成，不过商店1禁出售红杀铁剑哦
	<li>常规房内的商店的最终战术+概念武装系武器变为无限耐。房间内的再说。
	<li>调低了教程房陷阱的伤害。
</ul>
部署相关：
<ul>
	<li>模块管理系统界面修改，现在可以直接在此系统上修改4个adv模式的开关。尝试修复了php7.1下模块检测不正常的问题。
</ul>
<h3>4月15日</h3>
游戏功能更新：<br>
<ul>
	<li>新增了【教程房】这一房间类型。教程房最多只能同时存在1间，玩家在教程房中会全程得到提示，完成一定操作即可教程胜利。
	<li>新增了【视野】系统，玩家丢弃的道具和逃跑的敌人现在会记录在面板上（合计最多5个），点击按钮可以回访那些探索结果（回访角色时，先制率会下降）。
	<li>新增了【合成提示】系统，玩家只要打开合成列表就能看到能够合成的配方，同时还可以根据道具名交叉反查任意配方。
	<li>管理后台前三项系统参数修改功能已经可以使用了。
	<li>歌魂系统修改，允许同时叠加多种buff
	<li>官方网站链接已更改为dts设定站
	<li>新增了dts的历史页面，并把捐助链接移入
</ul>
数据调整：
<ul>
	<li>现在GM在游戏中修改NPC数据也会生成一条进行状况。
	<li>追加了【驱寒颂歌】歌词卡片（0禁随机掉落3个，礼品盒也能开出），消耗120点歌魂，给自己和同一地图玩家增加10点HP上限、SP上限和金钱，并减少10点RP。
	<li>现在全恢复型药剂只能治疗头胸手足受伤之外的异常状态。
	<li>录像记录机制变更。现在只记录：激活数>1或者最高伤害>400的幸存胜利；任何解禁胜利；任何核爆胜利；任何解离胜利；任何组队或者SOLO胜利；周常活动；资金>100000并幸存的伐木模式
</ul>
部署相关：
<ul>
	<li>现在WIN下也可以使用daemon了，在把php.exe所在文件夹纳入环境变量的前提下，可以运行acdts-daemonctl.bat来代替相应.sh文件的功能，但需要3.0或以上的powershell支持。。
	<li>新增install_NEW.php，简化部署和重装的步骤，具体见readme文件
	<li>新增tools_db_alter.php，简化alter永续数据表的工作量。需先更新install/bra.install.sql内对应表的结构，然后以有权限的cookie访问。
</ul>
开发相关：
<ul>
	<li>把数据库错误的错误提示调回来了。
	<li>增加了db.mysqli.php，以支持php7
	<li>现在db.*.php、roommng.*.php、modulemng.*.php三类文件的位置更改为/include/下对应的文件夹；modules.*.php移动到/include/modules/文件夹目录下
	<li>/gamedata/cache文件夹重命名为config文件夹，对应调用代码已修改；删去了不适用的card_1.php
	<li>房间数据库结构大改，现在不存在全局room表和各game分表，所有单局游戏信息和房间信息统一储存在全局game表中；初始化房间时必然会重置游戏，而不是在某些时候继承之前的游戏数据。
	<li>新增了大量复用性函数，如gencode() gdecode() init_dbstuff() \sys\addchat() \lvlctl\calc_upexp() array_clone()
	<li>fetch_player系列函数机制修改，现在sys模块会初始化一个数据池，在一次脚本运行周期内，fetch_player系列函数会先去数据池找，找不到才会查询数据库
	<li>player_save机制修改，在写数据库之前跟数据池进行比对，有更改的列才会update，减少数据库负担
	<li>新增parse_news_prepare()处理遗言信息，parse_news()追加了一个参数exarr，现在不再试图对任何消息生成遗言。nparse_news()改名load_news()
	<li>修正了大量因参数未定义或不正确带来的notice和warning级别问题
	<li>socket_select()写法修改，现在不会在某些系统下导致socket卡死了
	<li>删去了sql里无用的字段，优化了字段顺序
	<li>删去了过时的compatible_json_encode()
	<li>game.*.js里shwData()函数里新增了给页面元素加闪烁效果的部分，虽然很简陋
</ul>
<hr>
<h3>2016年11月5日</h3>
数据调整：<br>
<ul>
<li>调整了周日活动【精工】技能的伤害系数
<li>修正了卡片母山岭巨人进行状况消息显示不正确的问题
</ul>
<h3>10月30日</h3>
数据调整：<br>
<ul>
<li>修正了触发贯穿时伤害系数丢失的问题
<li>修正了卡片r!o!t!k!技能文本不正确的问题
<li>修正了【掠夺】技能文本不正确的问题
<li>暂时删除了周五活动
<li>添加了周日20时至23时进行的神秘活动
</ul>
<h3>10月20日</h3>
数据调整：<br>
<ul>
<li>修正了怒气上限工作不正确的问题
<li>修正了战斗界面中【天威】技能说明显示不正确的问题
<li>守矢神社蛇发饰刷新数量变为2（从5下调）
<li>梦幻馆增加具有重击辅助属性的防具
</ul>
<h3>10月19日</h3>
数据调整：<br>
<ul>
<li>剑技『地流光』耐久变为2（从1上调）
<li>Azurewrath耐久变为122（从82上调）
<li>攻击时若装备具有重击辅助属性的装备，会获得1点怒气
<li>重击辅助怒气返还比例变为10%（从15~20%下调）
<li>添加/删除了部分物品的重击辅助属性（自己去看差分）
<li>眩晕状态下的角色不再受到额外伤害
<li>高速成长技能【神击】眩晕时间变为1.5秒（从4秒下调）
<li>锡安成员技能【科学】眩晕时间变为1秒（从4秒下调）
<li>锡安成员技能【EMP】眩晕时间变为2秒（从4秒下调）
<li>街头霸王技能【猛击】眩晕时间变为1/1/2秒（从2/3/4秒下调）
<li>现在直死触发时造成100000000点伤害
<li>卡片减肥挑战者【厌食】技能补给有效系数变为0.7（从0.5上调），但无法传染
<li>卡片减肥挑战者初始生命体力最大值+100
<li>卡片『红暮（Crimson）』技能【烈击】发动率变为90（从95下调），物理伤害系数变为1.75（从1.5上调）
<li>卡片『红暮（Crimson）』CD系数变为220（从180上调）
<li>卡片"Rimefire" CD系数变为50（从110下调）
<li>卡片华莱士初始全熟变为50（从20上调）
<li>卡片华莱士CD系数变为150（从100上调）
<li>卡片霸道总裁罕贵变为A，CD系数变为250，卡名变为霸道总裁喵
<li>卡片裂魂人CD系数变为130（从100上调）
<li>卡片大小姐CD系数变为130（从170下调）
<li>卡片rotk伤害系数变为2（从1.5上调）
<li>卡片CTY CD系数变为120（从100上调）
<li>卡片裂魂人CD系数变为130（从100上调）
<li>卡片肉山大魔王CD系数变为180（从100上调）
<li>卡片末日使者CD系数变为130（从90上调）
<li>卡片末日使者技能【父爱】将使目标烧伤中毒，并获得持续40秒的【衰弱】DEBUFF，期间无法包扎或解除异常状态
<li>卡片狂信徒效果修改
<li>卡片狂信徒CD系数变为100（从200下调）
<li>卡片蛋服挑战者效果修改
<li>卡片富一代效果修改
<li>物品埃克法-幻影价格变为10（从5上调），每禁刷新数量变为50（从30上调）
</ul>
<h3>8月31日</h3>
数据调整：<br>
<ul>
<li>新增了神秘的周五活动模式～
</ul>
<h3>8月30日</h3>
数据调整：<br>
<ul>
<li>削弱了铁拳无敌
<li>调整了一些卡片的描述
</ul>
<h3>8月28日</h3>
数据调整：<br>
<ul>
<li>为铁拳无敌称号增加了3个新技能【蓄力】【连打】【格斗】，且加强了【决战】
</ul>
<h3>8月26日</h3>
数据调整：<br>
<ul>
<li>添加了1张新卡片
<li>现在富家子弟称号的学习技能不再可以学习铁拳无敌的技能【仁义】
<li>添加了两本全图随机掉落的技能书
</ul>
<h3>8月23日</h3>
数据调整：<br>
<ul>
<li>添加了12张新卡片（1张S卡，3张A卡，6张B卡，2张C卡）
<li>再次削弱了卡片斧王的效果
<li>铁拳无敌称号有两个技能现在可以被学习
<li>修复了当使用效果不超过2的灵系武器时打出无限伤害的严重BUG
</ul>
<h3>8月15日</h3>
数据调整：<br>
<ul>
<li>【风神的神德】从每禁刷新变为1禁刷新
<li>常磐台中学的造雾设备刷新数调整为1（从2下调）
<li>射系的基础攻击力阈值变为270（从170上调）
<li>圣Gradius学园、FARGO前基地、冰封墓场物品刷新调整，现在更容易摸到起手武器
<li>减少了投系初期武器的耐久
<li>黑蔷薇龙效果调整为150（从170下调）
<li>星尘龙效果调整为100（从160下调）
<li>机甲忍者 刃心效果调整为130（从160下调）
<li>流星龙效果调整为580（从700下调）
<li>添加了一批1禁固定地点刷新的强力物品
<li>卡片大自然的搬运工不再能搬运出带有奇迹属性的物品
<li>添加了新（罕见）称号和对应的卡片
</ul>
<h3>8月13日</h3>
数据调整：<br>
<ul>
<li>奇迹雷现在造成999983点伤害，而非当前HP的伤害
<li>灵系的熟练加成从0.1上调至0.3
<li>部分NPC不再拥有队伍
<li>卡片方块挑战者技能【结晶】冷却时间变为180（从300下调），消耗技能点变为1（从2下调）
<li>部分技能名称修改
</ul>
<h3>8月10日</h3>
数据调整：<br>
<ul>
<li>食堂的盒饭每禁出售10个（从5个上调），补充怒气变为50（从30上调）
<li>地图刷新的食堂的盒饭补充怒气变为100（从50上调）
<li>卡片莱恩、斧王、祈求者效果削弱
<li>卡片枪毙的某神必中效果基础时间变为600秒（从480秒上调），且发动时每点投熟再延长4秒
<li>雪兔【复制品】效果变为270（从300下调）
<li>夜刀【月影】属性削弱
<li>碎龙系列斩系武器属性增强
<li>轰龙系列斩系武器合成简化，属性增强
<li>鬼火『超高密度燐祸术』合成不再需要西瓜
<li>风符『风神一扇』效果变为250（从230上调）
<li>『咲夜的世界』删除重击辅助属性，效果变为120（从150下调），合成不再需要银色方块
</ul>
<h3>8月6日</h3>
数据调整：<br>
<ul>
<li>商店不再出售基本法
<li>地图刷新的基本法数量变为2（从1上调）
<li>删除宛如疾风的天文技能
<li>天文技能解锁等级变为0（从8下调）
<li>宛如疾风天助的命中和隐蔽收益减少（20级从15下调至10）
<li>添加了两张A级卡片
<li>充能技能冷却时间变为600秒（从900秒下调）
</ul>
<h3>5月25日</h3>
游戏特性变更：<br>
<ul>
<li>新增特殊debuff“眩晕”，无法进行任何行动或战斗（包括反击），受到的伤害增加。死斗后眩晕时间为正常的1/3
<li>现在手持重型枪械类型武器时，不允许发动任何战斗技能
<li>为三女主增加了技能
</ul>

称号技能变更：<br>
<ul>
<li>宛如疾风称号实装
<li>铁拳无敌称号的【格挡】不再需要升级，【猛击】增加了眩晕效果，略微降低了【偷袭】的怒气消耗，删除了【应变】
<li>超能力者称号的【必杀】重击辅助返还怒气效果提高，【充能】现在可以免CD使用2次
<li>锡安成员称号的【力场】极大幅度加强，【科学】与【EMP】增加了眩晕效果
<li>高速成长称号的【神击】增加了眩晕效果
<li>数学大神称号的【对偶】升级代价略微增加，【洞察】效果略微削弱，【证伪】【归约】解锁等级增加，修复了【灵感】罕见情况下出现BUG的问题
</ul>

<hr>

<br>
更之前的请参见github commit history吧-_-||<br>
<br>

</span></div>
{template footer}