<!--
TODO LIST：
BUGs TO FIX：
1、
2、
3、

PROBLEMs TO FIX BUT NOT THAT URGENT：
1、
2、
3、

LARGE PROJECT TO ADD:
1、缅北模式：卡片五选三（荣耀房开局随机5张卡选3张，或者自选3张：总能量300，S卡3倍，A卡2倍，M卡退还100；如果其他卡都是C或者M卡则可以无视能量进一张S、A、B卡），剧情文案重构，新角色和新的剧情路线。
2、加入碎片合卡、保底、重开一次等骗氪功能
3、执行官改去版权化，剧情相应调整
4、多个减半防御可叠加，并且增加多段减半防御属性
5、乱斗房（不限人数，开局即连斗）
6、我有一个大胆的想法：战场地图页面改吃瓜围观区
7、基于logsave()的延时伤害模块
8、悬浮窗口模块改template实现，甚至js可随时修改。因为有非模块的调用，确实有需求了
9、重做随从机制
10、杂兵开局随机获得地图道具
11、游戏设置菜单（子面板？），可显示如自由切换是否自动合并道具、自定义快捷键、等功能
12、进程间通信多一条走文件而不是走http协议的方式，目前部署上似乎经常遇到http协议出问题的情况
13、空降包
14、录像记录进行状况（不记录聊天）
15、对php文件里的字符串也进行js编码


FEATUREs TO ADD：
1、所有非必要import('input')的地方都逐渐用get_var_in_module()改掉，强化安全性。注意$command和$mode是在sys模块里的
2、
3、连斗机制修改，可以在荣耀房先测试
4、铁拳高速肌肉进常规
5、表情包
6、自媒体卡使用手机时用效果值代替耐久
7、弹药简化：实体弹药 能量弹药 重装弹药
8、地图道具在代码里改成按地图整理，或者做一个能提取指定地图的道具的函数，便于重载和只刷新指定地图
9、随机NPC但是有固定搭配，这个要思考一下数据结构怎么做
10、竞速挑战类成就都增加排行榜
11、
12、头像不再只分数字，而按系列来整理。DN选头像方式对应修改
13、伐木记录搜索金钱数、试炼模式记录等级
14、所有用到fetch_playerdata()以及fetch_playerdata_by_pid()的地方都要进行排查，看是否是在进程执行中第二次取当前玩家，这可能造成一些问题
15、诡雷属性
16、更新时拒绝一切指令的页面，免得有人更新时抽卡抽出问题
17、瞭望（根据经过的时间给视野里加入道具）
18、
19、使用skill_onload_event()的技能（除受伤异常等简单的）应该逐步转移到post_load_profile_event()。现在就差随从类没转了
20、解禁改一个地图一个地图解，增加提升成功率的小游戏
21、硬核药物模式：使用补给和异常状态药剂时，先进入一个持续数秒的药物debuff，debuff结束后才产生回复效果
22、配合上面那条，可以加一个即时属性，有即时属性的药物的debuff时间极短
23、写一下技能系统和成就系统的文档，新旧差别太大了
24、增加特殊规则如允许尸体重新遭遇的选项
25、队伍定型文、发送NPC位置给队友
26、极速模式改成1分钟禁1个，顺带把狂飙的技能和地图、商店刷新给改了
27、
28、battle_get_qiegao()一系列战斗里获得切糕的功能从cardbase里拆出来
29、import sys和input会导致adv文件里冒出重复的eval import input
30、检查一下是否支持端口号映射
31、学会10首歌以后追加一首特殊的歌
32、
33、天气数值平衡调整
34、
35、学习界面性能优化（静态化），收益大概只有0.05-0.1秒，有空再做
36、init_battle()烂代码整理
37、parse_news()的一大堆if在继承的情况下可能严重影响性能，用数组和替换的方式改造吧。收益可能非常小，真闲的时候再改
38、
-->
<h3>1月2日(v2.0.3)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）优胜列表增加了按试炼模式选择的选项。</li>
	<li>（△）现在教程房不会因为玩家提前击杀人偶拿走金钱而无法继续游戏了。现在人偶将在指定的步骤之后才会携带足够的金钱。</li>
	<li>（△）现在只有在标准、随机、卡片、PVE、伐木和荣耀模式下，三女主身上会携带【纸条AC】了。也就是说现在支持给会二阶段变身的NPC根据不同游戏模式来搭配不同的道具。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）荣耀模式商店【远程兵器】类别添加了技能书《旋转引导扇区》，使用后能获得射系武器弹夹翻倍且战斗后会自动从包裹中装填弹药的技能，售价600元。除此之外，消音器降价为450元，且售卖数量增加为2个。此项更新目前仅在荣耀模式进行测试。</li>
	<li>（△）卡片【最后密传】的效果写成了击杀30个敌人发动，实际是15个，现在这一笔误已经修复。</li>
	<li>（△）红暮和蓝凝的两个DUMMY现在有死亡台词了……算有吗？</li>
	<li>（△）试炼模式使用的隐藏卡片替换了，与卡池中实际存在的卡以示区别，效果则与原来相同。</li>
	<li>（△）试炼模式成就图标更新了。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了试炼模式本应20层连斗，实际18层就进入连斗的问题。</li>
	<li>（△）修复了被其他人下毒的补给毒死后不显示凶手的问题。另外现在中自己下的毒时不会再次读取自己的数据，避免丢失临时变量。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）模块系统新增了自动检测新增模块的功能，现在不用手敲目录名了。</li>
	<li>（△）把游戏模式相关的一些设定从system.config.php拆分出来形成gamemode.config.php。</li>
	<li>（△）调整了管理后台的一些显示。</li>
	<li>（△）调整了【权限狗的ID卡】生成的权限套装的强度，现在开局就能把HP升到2000以上，并且携带一个装有大堆测试道具的背包，方便进行测试。</li>
</ul>

<div id="show2023">
	<p>以上是2024年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2023">
		<input type="hidden" id="y2023" name="y" value="2023">
		<input type="button" onclick="$('show2023').style.display='none';$('cont2023').style.display='block';postCmd('updatelist2023','updatelist.php');$('y2023').name='y2023';" value="查看2023年的更新日志">
	</form>
</div>
<div id="cont2023" style="display:none">
</div>