<!--
TODO LIST：
BUGs TO FIX：
1、加入房间的过程中退出账号会导致异常的问题
2、
3、

PROBLEMs TO FIX BUT NOT THAT URGENT：
1、
2、
3、

LARGE PROJECT TO ADD:
1、缅北模式：卡片五选三（荣耀房开局随机5张卡选3张，或者自选3张：总能量300，S卡3倍，A卡2倍，M卡退还100；如果其他卡都是C或者M卡则可以无视能量进一张S、A、B卡），剧情文案重构，新角色和新的剧情路线。
2、加入碎片合卡、保底、重开一次等骗氪功能
3、执行官改去版权化，剧情相应调整
4、多个减半防御可叠加，并且增加多段减半防御属性。物穿和属穿改成随机穿层数。
5、乱斗房（不限人数，开局即连斗）
6、首页可以看到房间的进行状况，甚至在地图上标注进行状况，可以有首页聊天室方便蹲站聊天，可以有切糕赌博或者切糕送道具的功能，甚至首页进去就能有一个假的游戏界面让玩家乱动
7、
8、悬浮窗口模块改template实现，甚至js可随时修改。因为有非模块的调用，确实有需求了
9、
10、杂兵开局随机获得地图道具
11、游戏设置菜单（子面板？），可显示如自由切换是否自动合并道具、自定义快捷键、等功能
12、进程间通信多一条走文件而不是走http协议的方式，目前部署上似乎经常遇到http协议出问题的情况
13、空降包
14、录像记录进行状况（不记录聊天）
15、对php文件里的字符串也进行js编码
16、地图和禁区机制底层（数据结构）修改


FEATUREs TO ADD：
1、地图道具在代码里改成按地图整理，或者做一个能提取指定地图的道具的函数，便于重载和只刷新指定地图
2、随机NPC但是有固定搭配，这个要思考一下数据结构怎么做
3、头像不再只分数字，而按系列来整理。DN选头像方式对应修改
4、伐木记录搜索金钱数、试炼模式记录等级
5、所有用到fetch_playerdata()以及fetch_playerdata_by_pid()的地方都要进行排查，看是否是在进程执行中第二次取当前玩家，这可能造成一些问题
6、诡雷属性
7、更新时拒绝一切指令的页面，免得有人更新时抽卡抽出问题
8、瞭望（根据经过的时间给视野里加入道具）
9、
10、解禁改一个地图一个地图解，增加提升成功率的小游戏
11、硬核药物模式：使用补给和异常状态药剂时，先进入一个持续数秒的药物debuff，debuff结束后才产生回复效果
12、配合上面那条，可以加一个即时属性，有即时属性的药物的debuff时间极短
13、写一下技能系统和成就系统的文档，新旧差别太大了
14、检查一下是否支持端口号映射
15、单选圆圈过于复古，全部改掉
16、天气数值平衡调整
17、连斗机制修改成与$gamestate相互独立的，意义可能不太大，有空再做
18、学习界面性能优化（静态化），收益大概只有0.05-0.1秒，有空再做
19、init_battle()烂代码整理
20、parse_news()的一大堆if在继承的情况下可能严重影响性能，用数组和替换的方式改造吧。收益可能非常小，真闲的时候再改
21、竞速挑战类成就都增加排行榜。意义好像不是很大
22、增加发现道具的技能做成概率式的
23、延时伤害模块，玩家发出攻击指令之后，对方玩家可以有一个非常短的时间窗口进行互动。和2D地图可能是互斥的，看情况了。
24、rs_game(16+32)的关系
-->
<h3>1月19日(v2.0.6)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）聊天框增加了发送表情包和定型文的功能，请勿恶用……</li>
	<li>（+）现在用电池可以给手机和笔记本电脑充电了。至于意义……另外，现在卡片【自媒体】在念写时将消耗手机的电力（效果值）而非耐久。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了玩家合成过『C.H.A.O.S』但是幸存或者解禁胜利的结局剧情差分。</li>
	<li>（+）增加了新内定称号【偶像歌姬】，称号特色是歌唱、临时增益、音波属性与属伤增幅，具体技能请到帮助页面查看。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>野指针：卡包为Event Bonus，是一张BUG奖励卡，B卡，效果是可以进入禁区并在禁区正常行动，但增加禁区时并不会免疫死亡。</li>
			<li>程序员老公：卡包为Event Bonus，是一张BUG奖励卡，C卡，效果是开局携带苹果并且视野里能看到5个红薯。</li>
			<li>菌菌子：卡包为Top Players，A卡，效果是获得高速成长特性【高速】和技能【神功】并且开局装备表情包。</li>
			<li>俏佳人：卡包为Way of Life，C卡，效果是可以用笔记本电脑打电动。</li>
			<li>吉吉国民：卡包为Standard Pack，A卡，效果是称号固定为偶像歌姬。</li>
		</ul>
	</li>
	<li>（△）日常成就“听我唱歌吧”现在会额外赠送一张【吉吉国民】卡片，切糕奖励不变。</li>
	<li>（△）荣耀模式弹药类型简化：原本需要用手枪子弹或机枪子弹的枪械统一改用【实体子弹】，原本需要枪械电池或压缩气罐的枪械统一改用【能量弹药】。地图道具和商店出售的弹药类型相应修改，此外商店的实体子弹现在只有原本机枪子弹的数量，且耐久从20下降为10（相当于售价翻倍）；能量弹药现在只有原本压缩气罐的数量。</li>
	<li>（△）修正了部分成就的文字描述细节。</li>
	<li>（△）荣耀模式不同地图的先制率调整：原本是按“地图热闹程度”判定玩家先制率高低，现在逻辑明确一点：无月之影、指挥中心、梦幻馆、常磐台中学的玩家先制率-5%，SCP和英灵殿则是-10%。因为对难度有影响，先测试一下。</li>
	<li>（△）荣耀模式不同地图的攻击力、防御力修正取消：非常没有存在感的两个数据，先全部取消试试。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）之前忘了把开局和升级增加歌魂的机制推广到其他所有模式，现在这个问题已经解决了。现在标准、卡片、随机、PVE、伐木、SOLO、组队、试炼、荣耀和极速模式在开局都会增加额外50点歌魂和歌魂上限，并且升级时也会增加歌魂上限和恢复少量歌魂。另外，添加了走路萌物升级时不会增加歌魂上限和恢复歌魂的判定。</li>
	<li>（△）尝试修正了随机卡片模式无法完成某个隐藏成就的问题。</li>
	<li>（△）修正了卡片【大自然的搬运工】搬出来的某些带复合属性的道具数据错误的问题。</li>
	<li>（△）修正了卡片【复读机】代码运行时的一系列问题。</li>
	<li>（△）修复了卡片【创世神2009】的【保安】技能查看保安列表无法完全显示的问题。猜猜看这个BUG是怎么出现的。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）调整了【权限狗的ID卡】开局的位置，现在权限狗们将从脚底（屁股？）掏出ID卡开始权限。</li>
	<li>（△）大幅度修改了map模块和其他大量涉及禁区的底层判定，对游戏体验没有影响，但或许有助于新功能的搭建。</li>
</ul>

<h3>1月13日(v2.0.5)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在在一局游戏中学会第10首歌时，会额外学会一首特殊的歌曲。是什么呢……？</li>
	<li>（△）现在PVE解离模式和伐木模式增加了【尸体拾取设置】选项，允许玩家自定义是否允许尸体拾取后继续留在视野中。此外，组队模式增加了同SOLO模式一样的开局是否连斗的选项。</li>
	<li>（△）现在商店出售的技能书有悬浮使用提示了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增两个日常成就：
		<ul>
			<li>听我唱歌吧：把最大歌魂提升到233点以上。</li>
			<li>扫黑除恶：击杀一次红暮（试炼模式的红暮DUMMY也算）。</li>
		</ul>
	</li>
	<li>（△）游戏结算时的切糕奖励整体上调，基本上是翻倍甚至以上：幸存从40上调至120，解禁从60上调至233，解离从150上调至514（包含了先前因为代码错误而多给的“试炼模式奖励”100），其他胜利方式从40上调至100。</li>
	<li>（△）荣耀模式的部分功能以及商店道具、地图道具和NPC掉落三类数据覆盖到大房间、极速模式、解离模式和伐木模式，主要包含以下内容：。
		<ul>
			<li>荣耀模式第二轮修改过的大量地图道具。</li>
			<li>商店和NPC掉落的【外甲】装备。</li>
			<li>商店的防具改造类装备【R.M.霜铸炎甲】和【自动叠甲装置】。</li>
			<li>带【碎刃】、【碎甲】属性的一系列商店和地图道具（没什么存在感）。</li>
			<li>带【变化】属性的一系列地图道具，主要是一些可以套头的内裤、可以吃的丝袜这样的杂物。另外【变化】属性现在改名叫【多态】（虽然游戏里都看不到）</li>
			<li>带【余物】属性的一系列商店和地图道具。</li>
			<li>带【储物】属性的商店道具【劲爆小包】和少数地图道具。</li>
			<li>带【激奏】、【变奏】的商店和地图道具，以及升级增加歌魂上限功能。</li>
			<li>商店出售的新游戏王卡包。</li>
			<li>商店出售、地图上少量掉落的配方。</li>
			<li>商店出售的新版扫雷设备。</li>
			<li>商店出售、地图上少量掉落的状态药物。</li>
		</ul>
		原本解离、伐木、极速模式的部分特有道具依然保留。后续会逐步完善帮助页面的对应内容。
	</li>

	<li>荣耀模式的《旋转引导扇区》改放到【书籍】页面。</li>
	<li>墓地的诅咒道具【机关傀儡 梦魇】的效耐从10/100调整至500/2。喂玩家吃答辩是不文明行为。如果不得不喂，也请慷慨赴屎，不要少吃多餐。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了任意模式获得解离胜利都会收到【试炼模式胜利】的100切糕奖励邮件的问题。这100切糕现在直接补在解离奖励里了（切糕奖励整体上调）。</li>
	<li>（△）修复了帮助页面称号技能的天赋称号学习技能页面（好绕）里查看技能【神启】时错误显示怒气消耗的问题。</li>
	<li>（△）修复了自动叠甲装置在选择返回时会提示该道具不存在的显示问题，虽然区别不是很大。</li>
	<li>（△）卡片【试雪汉】现在不再纳入终生成就判定了。</li>
	<li>（△）修复了某些情况下战斗后升级时会触发两次增加歌魂的问题。</li>
	<li>（△）修复了教程模式可以提前把NPC打死并拿走武器，让NPC再次出现时无法正常攻击的问题。现在拿走NPC的道具时，NPC的武器会被设置成拳头。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）现在开局道具和配方合成也支持复合属性自动编码了。</li>
</ul>
<h3>1月5日(v2.0.4)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在卡片【圣殿的紫色隐士】的技能【神隐】在玩家死亡后将会释放被捕获的NPC。另外被神隐的NPC现在不再会行动了。</li>
	<li>（△）优化了NPC行动的逻辑，减少了NPC死亡后反复判定导致的资源消耗。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（△）称号【铁拳无敌】的负面技能【尊严】的效果改为：徒手攻击或者使用名字带“拳”字的武器攻击时没有伤害惩罚，使用其他钝器或者锐器攻击则伤害<span class="red b">减少50%</span>，使用其他系武器攻击则是<span class="red b">减少90%</span>。</li>
	<li>（△）仅在荣耀模式测试：称号【高速成长】、【肌肉兄贵】和【铁拳无敌】的类别改为普通技能，会在称号选择列表的前两行而不是后两行出现。此外，荣耀模式铁拳的出现概率从其他称号的40%上调到与其他称号相同。</li>
	<li>（+）称号【高速成长】添加了新的战斗技【神启】：本次攻击附加<span class="yellow b">40</span>点最终伤害，且额外触发称号特性“<span class="yellow b">高速</span>”<span class="yellow b">1</span>次，若击杀敌人则再触发<span class="yellow b">2</span>次，消耗<span class="yellow b">25</span>点怒气，<span class="yellow b">3</span>级时解锁。</li>
	<li>（△）称号【富家子弟】的称号技能【佣兵】的效果修改：现在雇主可以与被解雇的佣兵正常进战斗，较弱的佣兵被解雇时会随机移动到一个地点（原先为留在原地），较强的佣兵被解雇时会真正地离开战场（原先为将该佣兵的位置改为999……呃啊）。</li>
	<li>（△）现在葡萄和脸也可以被水果刀削皮了。另外，现在荣耀模式的水果刀可以当做具有【碎甲】属性的锐器使用了。</li>
	<li>（△）微调了卡片【最后密传】技能【炼狱】的描述（实际效果不变）。</li>
	<li>（△）卡片【八意制药】制造的【国士无双之药】在使用时增加了效果描述。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）现在无法在装备着非防具道具的部位上套外甲了。</li>
	<li>（△）修复了装备着无属性投掷武器作为箭矢的弓、套有无属性外甲的防具可以进行菁英强化的问题。</li>
	<li>（△）现在试炼模式的负面技能【蚀骨】减少生命值上限时不再会将升血带来的多余生命值清空了。</li>
	<li>（△）修复了玩家最新一局游戏的记录错误（仅影响后台查看）。</li>
	<li>（△）修复了查看2018年和2017年更新记录的按钮功能错误的问题。</li>
	<li>（△）修复了PVP组队模式玩家同时死亡时不会因为全灭而游戏结束的问题。</li>
</ul>
<p>
<p>底层和开发相关：</p>
<ul>
	<li>（+）把战斗中获得切糕拆分成单独模块，并且修改了部分模块错误的依赖。</li>
	<li>（△）现在复合属性自动编码支持嵌套了。</li>
</ul>

<h3>1月2日(v2.0.3)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）优胜列表增加了按试炼模式选择的选项。</li>
	<li>（△）现在教程房不会因为玩家提前击杀人偶拿走金钱而无法继续游戏了。现在人偶将在指定的步骤之后才会携带足够的金钱。</li>
	<li>（△）现在只有在标准、随机、卡片、PVE、伐木和荣耀模式下，三女主身上会携带【纸条AC】了。也就是说现在支持给会二阶段变身的NPC根据不同游戏模式来搭配不同的道具。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）荣耀模式商店【远程兵器】类别添加了技能书《旋转引导扇区》，使用后能获得射系武器弹夹翻倍且战斗后会自动从包裹中装填弹药的技能，售价600元。除此之外，消音器降价为450元，且售卖数量增加为2个。此项更新目前仅在荣耀模式进行测试。</li>
	<li>（△）卡片【最后密传】的效果写成了击杀30个敌人发动，实际是15个，现在这一笔误已经修复。</li>
	<li>（△）红暮和蓝凝的两个DUMMY现在有死亡台词了……算有吗？</li>
	<li>（△）试炼模式使用的隐藏卡片替换了，与卡池中实际存在的卡以示区别，效果则与原来相同。</li>
	<li>（△）试炼模式成就图标更新了。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了试炼模式本应20层连斗，实际18层就进入连斗的问题。</li>
	<li>（△）修复了被其他人下毒的补给毒死后不显示凶手的问题。另外现在中自己下的毒时不会再次读取自己的数据，避免丢失临时变量。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）模块系统新增了自动检测新增模块的功能，现在不用手敲目录名了。</li>
	<li>（△）把游戏模式相关的一些设定从system.config.php拆分出来形成gamemode.config.php。</li>
	<li>（△）调整了管理后台的一些显示。</li>
	<li>（△）调整了【权限狗的ID卡】生成的权限套装的强度，现在开局就能把HP升到2000以上，并且携带一个装有大堆测试道具的背包，方便进行测试。</li>
</ul>

<div id="show2023">
	<p>以上是2024年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2023">
		<input type="hidden" id="y2023" name="y" value="2023">
		<input type="button" onclick="$('show2023').style.display='none';$('cont2023').style.display='block';postCmd('updatelist2023','updatelist.php');$('y2023').name='y2023';" value="查看2023年的更新日志">
	</form>
</div>
<div id="cont2023" style="display:none">
</div>