<h2>更新日志</h2>
<span>以下更新中，（+）指新增内容，（-）指移除内容，（△）指改变/修复的内容</span>
<h3>8月7日 (v1.13.4)</h3>

<p>功能更新：</p>
<ul>
	<li>（+）新增【随机卡片模式】代替原本的标准模式，大房间改为随机卡片与自选卡片两种模式切换，获胜后能选择的也改为这两种模式。随机卡片模式强制使用卡片【肉鸽来客】，效果则是从卡池里随机挑选1张并使用，成就也按那张卡来判定。</li>
	<li>（△）现在参加标准局游戏不会再改动当前使用卡片了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）卡包【Event Bonus】新增2张卡:
		<ul>
			<li>【超魔理沙】：S级卡片，开局称号为超能力者，但技能为肌肉兄贵技能「活化」「金刚」「破巧」和根性兄贵技能「毅重」「代偿」「不屈」和「浴血」。这张卡是成就【肉弹战车/走向妖怪之路/直到生命将恐惧消灭】完成后的奖励。</li>
			<li>【ycNaN】：A级卡片，如果在游戏中遭遇了错误，可以获得经验值和熟练度并且给管理员发一封站内信。这张卡将作为帮忙发现BUG的奖励。</li>
		</ul>
	</li>
	<li>（+）卡包【Way of Life】新增3张卡：
		<ul>
			<li>【孤魂挑战者】：C级卡片，开局全身装备都是埃克法-孤魂；</li>
			<li>【除错挑战者】：B级卡片，开局从除错模式特殊技能【整备】、【阴谋】和【谨慎】中随机获得一项；</li>
			<li>【费马】：C级卡片，开局获得最强大脑技能【证伪】。</li>
		</ul>
	</li>
	<li>（+）卡包【Crimson Swear】新增2张卡：
		<ul>
			<li>【G.D.S 女秘书】：C级卡片，开局装备带热恋属性的防具；</li>
			<li>【G.D.S 社员】：C级卡片，开局携带名字与【社员专用的ID卡】类似的1张ID卡。</li>
		</ul>
	</li>
	<li>（+）新增一个成就：【肉弹战车/走向妖怪之路/直到生命将恐惧消灭】，完成条件分别是在获胜时的最大生命达到2000/4000/8000点，其中最后一项成就将奖励卡片【超魔理沙】</li>
</ul>
<p>数据调整：</p>
<ul>
	<li>（△）现在标准、卡片和随机卡片的NPC也采用了荣耀模式的数据（即全息幻象采用熵魔法传人那一批）</li>
	<li>（△）修正了卡片【熵魔法传人 Howling】描述中的错误（该卡片初始复活概率实际是50%而不是30%）</li>
	<li>（△）蓝凝很可爱，所以对蓝凝进行强化。现在蓝凝卡会多获得【抗性】技能，并且蓝凝的【心火】改为【解离】：你的最终伤害x2，在此基础上如果你的HP小于一半则再x2，以此类推，最高倍数1024倍。另外蓝凝卡的能量需求由90下降到60。</li>
	<li>（△）红杀特工一系列的卡开局增加的单系熟练增加到50点（红杀特工A是20点）</li>
	<li>（△）现在篝火挑战者也能随机到Event Bonus和Balefire Rekindle两个卡集的卡。</li>
	<li>（△）现在灌篮高手的【附魔】技能用弓的时候也可以发动了。</li>
	<li>（△）削弱115第二阶段的技能：【奇袭】现在从投系射程开始才有先制率加成，最高的爆系的效果是20%，重枪是16%，普通枪械12%，投系是4%；【妄击】会额外让115i自己的直死概率大幅度降低（乘以妄击的数值）</li>
	
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）调整了newsinfo表的字段长度，尝试修复组队房开局信息显示不全的问题。</li>
	<li>（△）修复了除错模式遭遇同伴后返回也会显示拒绝的问题。</li>
	<li>（△）修复了游戏获胜时通过F12开发者模式，能把下一局游戏调为任意模式的问题。</li>
	<li>（△）修复了在荣耀模式地图道具移植到标准模式后，搬运技能可能搬出空道具的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）重写了整个valid.func.php和小半个command_valid.php，把卡片和技能对应的部分都放到模块里去了，现在兼容性和代码复用性都好了不少。</li>
	<li>（+）增加了根据卡片数据和模块的修改而自动更新抽卡卡池的功能，现在不用手动去改卡池了。</li>
	<li>（△）消除了帮助页面一些在8.0下会导致大量warning的判定。</li>
	<li>（△）移除了git对game.config.php的追踪，在安装时复制game.config.sample.php来建立该文件，而不追踪其具体的修改。</li>
</ul>
<h3>8月2日 (v1.13.3)</h3>
<p>游戏功能更新：</p>
<ul>
	<li>修复了碎甲属性武器在宝石骑士附加新属性后工作不正常的问题。</li>
	<li>修复了视野和记忆系统让右侧菜单栏变长以后会导致聊天窗格跳动的问题。</li>
	<li>修复了火狐浏览器下视野和记忆按钮无法正常使用的问题。</li>
</ul>
<p>数据调整：</p>
<ul>
	<li>红杀铁剑太强了！修改了红杀铁剑的合成方式，现在需要摸到电子马克笔才能合成了。</li>
	<li>【冰精灵之镜】耐久调整为∞，毕竟现在∞耐久防具可以正常使用了</li>
</ul>
<h3>8月1日 (v1.13.2)</h3>
<p>游戏功能更新：</p>
<ul>
	<li>视野（探索记忆）模块大改。现在玩家除了5个视野格子之外，还可以保留其他25个“记忆”格子。只要玩家处于【探物姿态】，不会在探索时遭遇记忆里的道具或者角色。此外，可以重新访问记忆里的道具或者角色，但是需要先执行一次探索流程（可能会捡到其他道具或者遇到敌人），然后会把该记忆道具重新加入视野。</li>
	<li>修改了历史优胜局数的翻页方式，现在带条件搜索时的上一页和下一页会从符合条件的局数开始了。</li>
	<li>现在不能直接打开刚捡到的礼品盒了，避免发生道具相互覆盖的问题。</li>
	<li>现在除错模式技能【谨慎】可以拒绝其他玩家递过来的道具了，等级越高则拒绝的概率越高。</li>
	<li>现在周天的15点到17点也会开启除错模式（最多3局）</li>
</ul>
<p>数据调整：</p>
<ul>
	<li>现在大房间以及极速以外的模式都采用了荣耀模式的地图道具了（补充了2禁的2个雷瓦丁）。</li>
	<li>绝冲大剑的灼焰属性换成了控伤属性。</li>
	<li>控伤的一些旧描述调整。</li>
	<li>现在称号【最强大脑】拥有称号特性了：探索记忆的格子数是正常的2倍。</li>
	<li>见敌必斩称号的技能【舞钢】现在改名为【断钢】，效果增加：对敌人装备耐久的损耗变成原本的两倍。</li>
	<li>各游戏模式的商店都增加了【红杀铁剑】，但数据略有下调。此外，合成产物【红杀铁剑?雷击】的物穿属性改为碎甲属性。</li>
	<li>调整了一批卡片的描述。现在某些介绍文字难以名状的卡会在鼠标悬浮框里列出详细的效果。</li>
	<li>卡片【残留的思念】效果调整为：开局获得大约能升到11级的经验药。卡片【变态】现在更为变态了。卡片【海外挑战者】的技能名变更为【修仙】。</li>
	<li>卡包Top Players增加2张卡片：【清理大师】开局携带赤木茂全套装备。【歌神 mtkkk】开局携带随机1张歌词卡片。</li>
	<li>卡包Way of Life增加1张卡片：【锁血挑战者】开局HP为1点并携带1份游戏王卡包。</li>
	<li>增加两首新歌：《Baba yetu》消耗88点歌魂增加12点经验值；《Clear Morning》消耗100点歌魂回复1000点生命（可以超过上限）。前者0禁全图随机4个，后者嘛……</li>
</ul>
<p>管理相关：</p>
<ul>
	<li>现在在管理后台可以手动设置下一局的游戏类型了。只有主房间能设置，并且能设置的类型只有标准、卡片、除错、荣耀、极速5种。</li>
</ul>
<p>开发相关：</p>
<ul>
	<li>修复了视野系统在PHP 8.0版本下、adv模式开启时将导致游戏无法正常结束的恶性BUG。</li>
</ul>
<h3>7月27日 (v1.13.1)</h3>
<p>沉寂许久之后的更新。</p>
<p>游戏功能更新：</p>
<ul>
	<li>增加了一个属性：【碎甲】。拥有这个属性并对敌方防具耐久造成减损时，会额外减扣相当于武器效果值的平方根加上防具耐久值的10%的数值。</li>
	<li>针线包判定修改：现在物抹属性的防具有极大概率不能被针线包强化；带有【菁英】属性的防具能被针线包强化但是会失去菁英属性。</li>
	<li>现在可以直接使用或者装备刚拾取到的道具了。部分操作流程因此有微小的调整。</li>
	<li>商店页面现在用按钮而非列表的形式。</li>
	<li>耐久为“∞”的防具现在被削减耐久值时会减扣效果值，而非直接损坏。这样的防具在效果值减为0时才会毁坏。</li>
	<li>现在如果刚拾取的道具还未处理，是不接受无关的指令的，避免手里的道具被误操作覆盖。</li>
	<li>现在弓系伤害会正常被防投属性削减了，此外现在不能直接用刚捡到的箭给弓使用（防止卸下的箭覆盖itm0）。</li>
</ul>
<p>数据调整：</p>
<ul>
	<li>给部分装备增加了碎甲属性，涉及以下装备：奥义『冰华⑨咲』、奥义『超⑨武神霸斩』、绝冲剑全系列、鸡尾酒爆炸物全系列、★BIUBIUBIU★</li>
	<li>绝冲大剑最后一步合成的素材从蝎尾改为剑海，从吼剑【地咬】开始的合成产物强化。</li>
	<li>卡片【世界制御猫】的技能带来的【巨大灯泡】现在有双控属性了。</li>
	<li>【钦定】技能现在可以从雾天获得额外的视野。</li>
	<li>【德古拉的斗篷】的效果值降为20——因为无穷耐防具的判定变了。</li>
	<li>通过唱动物朋友ED获得的技能【决然】的无敌时间从90s提高到110s</li>
	<li>【控血】属性现在改名【控伤】。</li>
</ul>
<p>开发相关：</p>
<ul>
	<li>install_NEW.php以及模块系统都对php8.0做了适配。</li>
</ul>

<div id="show2018">
	<p>以上是2023年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2023">
		<input type="hidden" id="y2018" name="y" value="2018">
		<input type="button" onclick="$('show2018').style.display='none';$('cont2018').style.display='block';postCmd('updatelist2023','updatelist.php');$('y2018').name='y2018';" value="查看2018年之前的更新日志">
	</form>
</div>
<div id="cont2018" style="display:none">
</div>