<h2>更新日志</h2>
<h3>7月27日 (v1.13)</h3>
<p>沉寂许久之后的更新。</p>
<p>游戏功能更新：</p>
<ul>
	<li>增加了一个属性：【碎甲】。拥有这个属性并对敌方防具耐久造成减损时，会额外减扣相当于武器效果值的平方根加上防具耐久值的10%的数值。</li>
	<li>针线包判定修改：现在物抹属性的防具有极大概率不能被针线包强化；带有【菁英】属性的防具能被针线包强化但是会失去菁英属性。</li>
	<li>现在可以直接使用或者装备刚拾取到的道具了。部分操作流程因此有微小的调整。</li>
	<li>商店页面现在用按钮而非列表的形式。</li>
	<li>耐久为“∞”的防具现在被削减耐久值时会减扣效果值，而非直接损坏。这样的防具在效果值减为0时才会毁坏。</li>
	<li>现在如果刚拾取的道具还未处理，是不接受
	<li>现在弓系伤害会正常被防投属性削减了，此外现在不能直接用刚捡到的箭给弓使用（防止卸下的箭覆盖itm0）。</li>
</ul>
<p>数据调整：</p>
<ul>
	<li>给部分装备增加了碎甲属性，涉及以下装备：奥义『冰华⑨咲』、奥义『超⑨武神霸斩』、绝冲剑全系列、鸡尾酒爆炸物全系列、★BIUBIUBIU★</li>
	<li>绝冲大剑最后一步合成的素材从蝎尾改为剑海，从吼剑【地咬】开始的合成产物强化。</li>
	<li>卡片【世界制御猫】的技能带来的【巨大灯泡】现在有双控属性了。</li>
	<li>【钦定】技能现在可以从雾天获得额外的视野。</li>
	<li>【德古拉的斗篷】的效果值降为20——因为无穷耐防具的判定变了。</li>
	<li>通过唱动物朋友ED获得的技能【决然】的无敌时间从90s提高到110s</li>
</ul>
<p>开发相关：</p>
<ul>
	<li>install_NEW.php以及模块系统都对php8.0做了适配。</li>
</ul>

<div id="show2018">
	<p>以上是2023年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2023">
		<input type="hidden" id="y2018" name="y" value="2018">
		<input type="button" onclick="$('show2018').style.display='none';$('cont2018').style.display='block';postCmd('updatelist2023','updatelist.php');$('y2018').name='y2018';" value="查看2018年之前的更新日志">
	</form>
</div>
<div id="cont2018" style="display:none">
</div>