<!--
TODO LIST：
BUGs TO FIX：
1、加入房间的过程中退出账号会导致异常的问题
2、
3、

LARGE PROJECTS TO ADD:
1、公路模式的剧情、敌人、地图和道具的整体模组式策划。
2、执行官改去版权化或者删除，女主和杏仁豆腐去版权化，英灵殿移出主线，剧情和游戏路线相应调整
3、地图显示的改造，改为支持随机生成的地图结构
4、事件系统的整体重构，以及添加专门的选项界面显示
5、
6、首页可以看到房间的进行状况，甚至在地图上标注进行状况，可以有首页聊天室方便蹲站聊天，可以有切糕赌博或者切糕送道具的功能，甚至首页进去就能有一个假的游戏界面让玩家乱动
7、悬浮窗口模块改template实现，甚至js可随时修改。因为有非模块的调用，确实有需求了
8、对php文件里的字符串也进行js编码
9、本地机curl_post()多一条走文件而不是走http协议的方式，目前部署上似乎经常遇到http协议出问题的情况……真的有用吗？
10、
11、录像记录进行状况和聊天。聊天可以自由开关是否记录
12、增加地图锁定的设定，被锁定的地图不会出现在地图列表中……？具体是什么数据结构还得再思考一下
13、自定义快捷键功能。
14、不太急：帮助界面现代化改造，包括左右分栏、内容展开、搜索功能、提示内容数据库化（更新履历、提示、帮助等共用一套用词等）模拟游戏界面和提示、资源类帮助特有界面等
15、不太急：缅北模式：卡片五选三（荣耀房开局随机5张卡选3张，或者自选3张：总能量300，S卡3倍，A卡2倍，M卡退还100；如果其他卡都是C或者M卡则可以无视能量进一张S、A、B卡），剧情文案重构，新角色和新的剧情路线。
16、不太急：加入碎片合卡、保底、重开一次等骗氪功能
17、不太急：乱斗类房间，不组队，不限人数，开局即连斗


FEATURES TO ADD：
1、荣耀模式测试：坚盾属性可抵扣穿透属性，物穿和属穿改成可以叠加穿透层数（类似连击的算法）。抹消和减半各算1层
2、荣耀模式测试：多个减半防御可叠加，并且增加多段减半防御属性。
3、头像不再只分数字，而按系列来整理。DN选头像方式对应修改
4、隐藏成就的图标
5、modulemng增加自动分析代码和报告的功能，包括：提示base模块依赖extra模块、提示模块没有正确设置参数和返回值
6、诡雷属性
7、
8、瞭望（根据经过的时间给视野里加入道具）
9、某些模式的杂兵开局随机获得地图道具
10、解禁改一个地图一个地图解，增加提升成功率的小游戏
11、硬核药物模式：使用补给和异常状态药剂时，先进入一个持续数秒的药物debuff，debuff结束后才产生回复效果
12、配合上面那条，可以加一个即时属性，有即时属性的药物的debuff时间极短
13、写一下技能系统和成就系统的文档，新旧差别太大了
14、伐木记录搜索金钱数、试炼模式记录等级
15、单选圆圈过于复古，全部改掉
16、天气数值平衡调整
17、复合属性自动生成部分修改：数据里全部直接写逗号，在载入mapitem的时候替换成组合符号，在生成属性之前再换回成逗号
18、一键整理包裹功能
19、init_battle()烂代码整理
20、延时伤害模块，玩家发出攻击指令之后，对方玩家可以有一个非常短的时间窗口进行互动。和2D地图可能是互斥的，看情况了。
21、动漫婆罗门卡资源完善
22、给夜雀歌谱加首歌
23、buff的一些机制单独拉出来做一个模块
24、SOLO和组队房增加一个选卡页面
25、注册验证码功能
26、更为精确的倒计时（每次倒计时或者每10秒之类的记录一下系统时间）
27、

FEATURES TO ADD BUT NOT THAT IMPORTANT：
-不太急：竞速挑战类成就都增加排行榜。意义好像不是很大
-不太急：连斗机制修改成与$gamestate相互独立的，意义可能不太大，有空再做
-不太急：parse_news()的一大堆if在继承的情况下可能严重影响性能，用数组和替换的方式改造吧。收益可能非常小，真闲的时候再改
-不太急：赛季机制，也就是定期把积分情况改存到荣誉等级。等玩家数多了再弄也行
-不太急：学习界面性能优化（静态化），收益大概只有0.05-0.1秒，有空再做
-不太急：录像存档专用服。
-->

<h3>2月13日(v2.2.2)</h3>
<p>资源更新：</p>
<ul>
	<li>（△）对内定称号【深渊学者】进行了以下调整：
		<ul>
			<li>技能【博闻】的发动消耗改为花费1点技能点，并有60%概率额外花费1点理智值。</li>
			<li>技能【通才】的解锁等级下调到5级。</li>
		</ul>
	</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了深渊学者技能【入梦】实际解锁等级为0的问题。</li>
	<li>（△）修复了【余物】属性在余物物品为无限耐补给且作为余物物品使用的时候工作不正常的问题。</li>
	<li>（△）修复了卡片商店无法购买平卡的问题。</li>
</ul>

<h3>2月12日(v2.2.1)</h3>
<p>功能更新：</p>
<ul>
	
	<li>（+）添加了新的游戏页面【后勤商店】。除了原有的功能抽卡以外，该页面提供以下功能：
		<ul>
			<li>卡片商店：可以用切糕交换卡片，每天会刷新随机8张卡片，其中必定包括S、A、B卡各一张，以及一张闪烁卡，并且可能出现镜碎卡。可交换的卡片列表每天0点更新。</li>
			<li>道具商店：可以用切糕交换一些非游戏中使用的道具，例如消耗切糕使卡片变为闪烁或镜碎，以及为卡片充能的道具；或一些仅有观赏用处（但暂时并没有插图以后也不确定会不会有）的装饰品。</li>
			<li>道具仓库：可以查看或使用拥有的道具和装饰品。装饰品使用后可摆放到展柜中。</li>
			<li>道具展柜：可以展示拥有的卡片、游戏道具或装饰品。游戏道具需要在游戏中使用商店【电子装备】类别中购买的【记录用投影底座】保存到展柜中。</li>
		</ul>
	</li>
	<li>（+）在查看其他玩家的用户资料页面时，可通过新增的【查看他的展柜】按钮，查看该玩家的展柜。</li>
	<li>（△）地图事件模块大改：
		<ul>
			<li>地图事件现在会明确提示造成什么部位受伤、受到什么异常状态、遭到多少伤害和获得了多少金钱等。</li>
			<li>RF高校、雪之镇、清水池、守矢神社、常磐森林、圣G事件调整：现在回避负面影响的概率会随着等级、血量等数值的提升而提升，部分地图的收益也有修改。</li>
			<li>雏菊之丘事件调整：增加了一部分正面结果，被瞪等负面结果的概率有所削减，部分负面结果取消。</li>
			<li>对天使作战用本部、夏之镇、秋之镇这三处纯负面事件删除。</li>
		</ul>
	</li>
	<li>（+）用户资料页面新增一项功能：【游戏设置】，可以调整一些跟游戏内容有关的设置。目前支持调整的设置有以下几项：
		<ul>
			<li>跳过开局剧情：开启后进入任何游戏模式都不再显示开局剧情。</li>
			<li>获得补给时自动合并：开启后获得补给时，如果包裹里有同名补给，就会自动合并而不会提示。对合成补给很有用，但也会自动合并带毒补给，需要注意。</li>
		</ul>
	</li>
	<li>（+）现在极速模式在与敌人交战后仍会保留对敌人的视野，且能在拾取尸体之后保留对尸体的视野了。</li>
	<li>（+）为帮助中合成表中的部分合成添加了额外的悬浮提示，包括禁忌「Four of a Bread」、妖刀【飞叶】和『曾经的荣光-诺基亚』。</li>
	<li>（△）现在所有模式在重访在记忆中但不在视野中的敌人时，有50%概率会无法遭遇（视为敌人已经移动过了）。</li>
	
	<li>（△）角色金钱上限从1600万扩展至42亿。</li>
	<li>（△）微调了用户资料修改页面的排版布局。</li>
	<li>（△）现在进入游戏时，如果“当前卡片暂时不可用”，会显示被锁定的当前卡片，而不是空白。此外卡册界面未解锁的卡片显示也有小幅修改。</li>
	<li>（△）将卡片能量显示改为向下取整，现在卡片能量很接近满的时候也不会显示类似于100/100这样有点奇怪的数值了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了新内定称号【深渊学者】，称号特色是升级获得全系熟练、学习随机技能，具体技能请到帮助页面查看。</li>
	
	<li>（+）新增以下卡片：
		<ul>
			<li>幻境调查员：卡包为Standard Pack，A卡，效果是称号固定为深渊学者。</li>
			<li>谷泽龙二：卡包为Standard Pack，B卡，效果是只要你入场，所有玩家在正常选择称号时只能选到一般称号。</li>
			<li>随面：卡包为Ranmen，C卡，效果是开局获得一些随机的泡面食材，也可能有一些别的东西。</li>
			<li>增殖挑战者：卡包为Way of Life，A卡，效果是击杀和销毁尸体的角色名字在进行状况中显示为与你相同。</li>
			<li>暗影卫队：卡包为Best DOTO，A卡，效果是攻击造成伤害、击杀角色和销毁尸体不会显示在进行状况中。</li>
			<li>skip党：卡包为Standard Pack，C卡，效果是开局全系熟练度+8，但会跳过开局剧情和地点事件的显示。</li>
			<li>老千：卡包为Ranmen，A卡，效果是连击属性更容易命中较多次。</li>
			<li>首席雕花官：卡包为Event Bonus，是一张BUG奖励卡，B卡，效果是可以将补给品道具变为黄色雏菊/歌魂增加/120/1/天然，但使用效果不变。</li>
		</ul>
	</li>
	<li>（+）大部分模式的商店【电子装备】类别添加了道具【记录用投影底座】，使用后可以选择一个包裹中的道具，将它的投影记录到展柜中。</li>
	<li>（+）荣耀模式商店【书籍】类别添加了技能书《蓄势 ~GEAR UP~》，使用后获得用歌魂交换空歌魂上限的技能，售价20元，以及技能书《变速齿轮》，使用后获得可以选择减少移动和探索体力消耗，或增加移动和探索体力消耗并减少冷却时间的技能，售价1200元。</li>
	
	
	<li>（△）合成表进行了以下调整：
		<ul>
			<li>加强了合成：松茸御饭、咖喱面包、珍珠奶茶、仰望星空派、西瓜刀、霊符「夢想封印」、恋符「极限火花」、土&水符『Noachian Deluge』；</li>
			<li>妖刀【飞叶】和『宝石光束炮-试作型』不再是隐藏合成；</li>
			<li>冰封的『Oathkeeper』或冰封的『Oblivion』与火把的合成变为隐藏合成；</li>
			<li>☆金色闪光☆的合成改回三种不同的高性能激光合成；</li>
			<li>安雅人体冰雕与火把的合成产物变为与武器改造晶体·绯金相同。</li>
		</ul>
	</li>
	<li>（△）卡片【霸道总裁喵】、【麻烦妖精 Sophia】和【大自然的搬运工】的CD下调至150。</li>
	<li>（△）荣耀模式的真职人NPC【便当盒】和【黑色夺魂曲】不再掉落提示纸条，作为代替，【便当盒】的饰品添加了【储物】属性，装着一个使用后获得临时技能【钢化】的状态药物，【黑色夺魂曲】掉落一个有额外概率获得卡片【"KHIBIKI《黑曲》"】的卡牌包。</li>
	<li>（△）开局歌魂增加量调整为30/100，即开局获得30点歌魂和100点歌魂上限。</li>
	<li>（△）对内定称号【偶像歌姬】进行了以下调整：
		<ul>
			<li>技能【激唱】改为每1技能点交换3点歌魂上限了。</li>
			<li>技能【夺目】的附加技能【倾心】改为了负面状态，因此不会对有【镇定】或【免疫】的NPC生效了。</li>
		</ul>
	</li>
	<li>（△）现在黑衣组织【淬毒】和边缘行者【感电】为武器增加属性时，不再有属性数上限了。</li>
	<li>（△）荣耀模式开局道具调整，增加了包括技能书、能力药在内的一系列新道具。</li>
	<li>（△）重新访问视野中的尸体的冷却时间从3秒下调至1.5秒。</li>
	<li>（△）略微调整了【淡定红茶】的属性，现在全部耗尽才会获得杯子，而非原本每次消耗耐久都会获得杯子。（原本是什么变出杯子的魔法吗）</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了黑衣组织技能【渗透】在非自己触发的战斗中未正常生效的问题。</li>
	<li>（△）修复了偶像歌姬技能【夺目】会导致在查看技能表时玩家位置改变的问题。</li>
	<li>（△）修复了肌肉兄贵技能【神速】和【恃勇】通过【幻林】（卡片【阿林百人众】技能）等方式获得时无法被正常解锁的问题。</li>
	<li>（△）修复了卡片【阿林百人众】技能后会复制到一些不合理技能，以及少数复制到的技能会导致技能表页面出错的问题。</li>
	<li>（△）修改了部分NPC技能在玩家使用时的不合理文字提示。</li>
	<li>（△）之前连击信息进行了错误的修正，现在改掉了。</li>
	<li>（△）修复了重设房间模式之后，创建者名字会丢失的问题。</li>
	<li>（△）修复了【余物】属性在多层嵌套时使用效果可能不正常的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）合成、npc、卡片等用数组和字符串来记录itmsk的文件里的复合属性自动编码分隔符从半角句点.改回半角逗号,（不会影响判定）。</li>
</ul>


<h3>2月3日(v2.1.2)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在除错模式进场后，【除错】按钮在完成第一次除错前会有发光提示。</li>
	<li>（△）降低了除错模式选到不适合的任务道具的概率。可能会导致难度上升，有待观察。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）荣耀模式增加一首歌曲《勇者》，获得方法是商店购买歌词卡片【赠送的芙蓉王】习得，每次演唱需要消耗50歌魂，效果是灵熟+30，其他系熟练都+5。</li>
	<li>（+）对应荣耀模式子弹类型的修改，给【☆简易火箭飞拳☆】的合成增加了一个备选方案（☆金属拳套☆+能量弹药→☆简易火箭飞拳☆）。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>麦块挑战者：卡包为Ranmen，B卡，效果是开局获得一个特殊的方块。</li>
			<li>梅尔菲的魔术师：卡包为Ranmen，B卡，效果是开局装备一个礼帽，放入储物装备的道具会变成随机的小动物。</li>
			<li>韭菜：卡包为Ranmen，B卡，效果是可以在『欺货市场』买卖特定道具，但这些道具的价格会随机涨跌。（这是一张非常上瘾的看盘神卡）</li>
			<li>春化精：卡包为東埔寨protoject，B卡，效果是进场后直到下一次禁区，所有角色视为随机拥有热恋或同志属性。</li>
			<li>水管工：卡包为Event Bonus，是一张BUG奖励卡，M卡，效果是开局获得三根漏水的水管，修好水管可以获得经验，但某一根水管修理之后会发生意外。</li>
		</ul>
	</li>
	<li>（△）微调了【睿智机器人】等部分卡片的文字描述，实际效果不变。</li>
	<li>（△）卡片【噬魂者】的效果增加：开局携带的面包和矿泉水变为灵魂碎片但效耐降低。</li>
	<li>（△）卡片【姬械匠神】的稀有度由S级下降至A级。</li>
	<li>（△）宝石骑士的【虹光】技能的解锁条件由吸收15个属性下调至12个属性。</li>
	<li>（△）为荣耀模式的全息幻象【幻影斗将神 S.A.S】的掉落物进行了加强，斩神镰·噬日添加了【冻气】属性，并且额外装备一件具有【储物】属性的身体外甲。</li>
	<li>（△）试炼模式的【全息幻象 银白愿天使 Annabelle】身上的卡牌包也改为新版游戏王卡牌包了。</li>
	<li>（△）卡片【肉鸽来客】对应的卡包调整至【Ranmen】，不过本身依然是特殊隐藏卡，并不能真在该卡包抽出。</li>
	<li>（△）调整了选卡界面的排版以支持更多的卡片。</li>
	<li>（△）修正了具有连击属性的武器如果因为各种原因只攻击了1次时的信息显示问题。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了卡片【手办控】的开局道具可能不正常的问题。</li>
	<li>（△）修复了歌姬技能【倾心】的一处显示问题。</li>
	<li>（△）修复了定向8连抽页面的一个排版问题。</li>
	<li>（△）修复了通过【roll点挑战者】以及部分其他方式获得【无垠】技能的初始复活概率不正确的问题。</li>
	<li>（△）修复了技能列表中显示的【圣光】技能解锁等级不正确的问题。</li>
	<li>（△）修复了一一五 i（二阶段）的行动方针实际上是随机追一个玩家的问题，现在她会正常追杀头名了。</li>
	<li>（△）修复了移动以后发送定型文时，发送的地点还是原地点，必须刷新页面才会改变的问题。</li>
	<li>（△）修复了禁区死和挂机死时的遗言会显示重复的地点的问题。</li>
	<li>（△）修复了卡片【拷贝猫】在某些情况下会导致游戏卡死的问题。</li>
	<li>（△）修复了技能【蓄力】的一个记录问题，虽然对游戏本身几乎没有影响。</li>
</ul>

<h3>1月27日(v2.1.1)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在妙手天成技能【沉心】和【铸血】发动后，【道具合成】按钮会有发光提示。</li>
	<li>（△）【道具合成】的快捷键修改为C（由于显示长度问题，整个按钮名叫【[C]合成】）；【商店】的快捷键修改为【T】。此外，现在获得道具并提示是否需要合并时，如果包裹里只有一个可以合并的目标，那么快捷键会固定为【A】。</li>
	<li>（△）卡片【沙罗曼蛇的战乙女】的【时停】技能现在不会对同样拥有时间能力的角色生效了。以后可能会追加部分属于时间能力的技能。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）现在X方块或Y方块可与其他方块合成，以获得另两种方块中的一种。具体规律可自行探索。</li>
	<li>（+）现在在荣耀模式击杀NPC时，有小概率召唤出一个运载机器人，击破后会得到一些可能较有价值的道具。</li>
	<li>（+）添加并调整了荣耀模式的地图掉落，现在在RF高校、光坂高校和常磐台中学0禁会刷新1个容量为3的书包，类型为身体外甲，墓地会刷新1个容量为1的魔术礼帽，另外初始之树的带翅膀的书包也加上了容量为2的【储物】属性。</li>
	<li>（+）添加了以随机性为特色的新卡集【Ranmen】，并将部分原有卡片移动到了该卡集中。涉及卡片有：初动、方块挑战者、篝火挑战者、纸条挑战者 林苍月、随机数眷顾者、锁血挑战者、随便、随机数挑战者、俏家人、随机数大神、硬币。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>大统领：卡包为Standard Pack，S卡，效果是称号固定为铁拳无敌且获得妙手天成技能「魂兵」，但是只能嵌入斩系武器。</li>
			<li>噬魂者：卡包为Way of Life，B卡，效果是销毁尸体时会得到名为灵魂碎片的补给品，但食用其他补给品效果-70%。</li>
			<li>回坑挑战者：卡包为Way of Life，B卡，效果是开局为30级，并获得8点技能点（但是初始经验值不增加）。</li>
			<li>姬械匠神：卡包为東埔寨Protoject，S卡，效果是开局称号为偶像歌姬，但技能为偶像歌姬特性「歌姬」、技能「安魂」「夺目」「回响」和妙手天成特性「妙手」、技能「精工」「沉心」「铸血」。</li>
			
			<li>roll点挑战者：卡包为Ranmen，S卡，效果是开局获得一个只有自己能使用的骰子，使用后可以将自己的所有技能替换为随机技能（少数技能除外）。</li>
			<li>睿智机器人：卡包为Ranmen，A卡，效果是获得宝石骑士技能「晶环」和战斗技「整理」（本次攻击最终伤害+10%，「晶环」生效概率永久+5%。消耗50怒气）。</li>
			<li>阿林百人众：卡包为Ranmen，A卡，效果是开局随机复制并获取场上存活NPC的一项技能（包括称号技能）。</li>
			<li>卡片男：卡包为Ranmen，B卡，效果是开局携带一份随机的卡牌包。</li>
			<li>网络爬虫：卡包为Ranmen，B卡，效果是开局随机复制并获取场上存活NPC包裹中的一件道具。</li>
			<li>拷贝猫：卡包为Ranmen，B卡，效果是开局随机复制并获取场上存活玩家的一项技能（包括称号技能）。</li>
			<li>钓鱼吧老哥：卡包为Ranmen，C卡，效果是开局装备钓鱼杆并携带随机一项渔获。</li>
			<li>手办控：卡包为Ranmen，A卡，效果是开局获得一个能开出特殊饰品的盲盒。</li>
			<li>斯洛蒂的盒子：卡包为Ranmen，B卡，效果是获得一个盒子，投入金钱后有一半概率翻倍，也有一半概率消失。</li>
			<li>甜圈挑战者：卡包为Ranmen，B卡，效果是开局获得一个增加生命上限的甜甜圈，但也可能是别的奇怪的东西。</li>
		</ul>
	</li>
	<li>（+）对应荣耀模式子弹类型的修改，给【诺基亚】的合成增加了一个备选方案（实体子弹+手机=诺基亚）。</li>
	<li>（△）对内定称号【宝石骑士】进行了技能组调整，使【宝石骑士】能够通过技能产出方块和吸收方块强化自身，部分原有技能的等级与数值也有变动，具体请到帮助页面查看。相应地调整了卡片【夏之岛住民】和【梦魇瑞尔提】的技能以保持一致。
	<li>（△）为卡片【初动】、【随机数眷顾者】、道具【四面骰】的随机技能池添加了【偶像歌姬】和【妙手天成】的称号技能以及其他原有内定称号的新增技能。</li>
	
	<li>（△）卡片【宇宙神触】（开局高速成长称号）和【大小姐】（开局铁拳无敌称号）的等级从A卡降为B卡，且前者的能量从80改为100点，后者的能量从130改为150点。</li>
	<li>（△）降低了偶像歌姬技能【安魂】使用歌魂发动时的消耗（现在为10点）。</li>
	<li>（△）调整了偶像歌姬技能【夺目】的文字说明（现在会显示上一次唱歌的地点），实际效果不变。</li>
	<li>（△）富家子弟技能【家教】现在每次更换所学技能都会导致下一次花费金钱翻倍。</li>
	<li>（△）现在妙手天成技能【铸血】不再会提高特殊类别、电子设备和改造道具的效果和耐久值了。</li>
	<li>（△）现在卡片【山里灵活の狗】的技能【一览】（以及极速模式的同名技能）不再是必定发现3个额外道具，而是按当前发现率概率发现0~3个额外道具。</li>
	<li>（△）调整了卡集封面的显示效果。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了【天籁】技能的自定义歌曲对同地图的其他玩家无法生效的问题。</li>
	<li>（△）修复了升级时会失去超出上限的体力的问题。</li>
	<li>（△）修复了御神签会导致正常存活死亡的问题，现在使用御神签不会致死了，至少会保留1点生命值与生命上限。</li>
	<li>（△）修复了全息幻象召唤真身的技能【幻象】在帮助页面与战斗页面不显示的问题。</li>
	<li>（△）修复了拆弹专家技能【谨慎】的增加陷阱回避率效果一直没有生效过的问题。</li>
	<li>（△）修复了临时视野按钮的内阴影效果对火狐浏览器不生效的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）新增了一个功能，开发者进行更新时可以关闭整个游戏，只留下登陆和管理两个页面可以进入。此外给错误提示页面加了图标，看起来能好看一点。</li>
	<li>（△）稍微重构了一下js里快捷键的写法，现在新增快捷键只需要修改id，不需要调整js了。</li>
	<li>（△）现在可以从login.php进入一个登陆页面，用于在首页无法登陆（更新）的时候使用。</li>
</ul>

<h3>1月21日(v2.0.7)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在【变奏】属性的效果可通过基础姿态进行开关，只有在作战或偷袭姿态时才会生效。</li>
	<li>（△）现在聊天窗口的表情显示高度降到原来的一半，但是鼠标悬浮时会显示完整的表情。此外现在同一次发送表情也遵循不超过60字符的限制（也就是最多12个表情）了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了新内定称号【妙手天成】，称号特色是合成获得经验值和熟练度、合成（包括配方合成）产物强化、利用多把武器，具体技能请到帮助页面查看。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>铁兽战线·姬特：卡包为Standard Pack，A卡，效果是称号固定为妙手天成。</li>
		</ul>
	</li>
	<li>（△）对内定称号【偶像歌姬】进行了以下调整：
		<ul>
			<li>上调了称号特性升级时的歌魂回复量。</li>
			<li>现在【激唱】技能改为用技能点交换歌魂上限了。</li>
			<li>现在【强音】技能不要求装备武器才能生效了。</li>
			<li>上调了【天籁】技能的增益效果时间。</li>
		</ul>
	</li>

	<li>（△）日常成就“小制作”现在会额外赠送一张【铁兽战线·姬特】卡片，切糕奖励不变。</li>

	<li>（+）卡册和抽卡界面会展示的卡包增加了图标，方便辨认。</li>

	<li>（+）帮助页面添加了属性【纯粹】、【储物】、【激奏】、【变奏】的介绍。</li>
	<li>（△）调整了试炼模式三个诅咒道具的名字和位置。</li>
	<li>（△）稍微加快了卡片碎闪特效的显示速度。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了【安可】会改变记录的上一次唱的歌名的问题，现在触发【安可】时，复唱记录的依旧是上一次选择的歌曲。</li>
	<li>（△）修复了因为聊天机制修改导致教程模式里杂兵死亡地点提示异常的问题。</li>
	<li>（△）修复了【小苹果】等可能不造成任何增益减益的歌会生成一条空白提示的问题。</li>
</ul>

<h3>1月19日(v2.0.6)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）聊天框增加了发送表情包和定型文的功能，请勿恶用……</li>
	<li>（+）现在用电池可以给手机和笔记本电脑充电了。至于意义……另外，现在卡片【自媒体】在念写时将消耗手机的电力（效果值）而非耐久。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了玩家合成过『C.H.A.O.S』但是幸存或者解禁胜利的结局剧情差分。</li>
	<li>（+）增加了新内定称号【偶像歌姬】，称号特色是歌唱、临时增益、音波属性与属伤增幅，具体技能请到帮助页面查看。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>野指针：卡包为Event Bonus，是一张BUG奖励卡，B卡，效果是可以进入禁区并在禁区正常行动，但增加禁区时并不会免疫死亡。</li>
			<li>程序员老公：卡包为Event Bonus，是一张BUG奖励卡，C卡，效果是开局携带苹果并且视野里能看到5个红薯。</li>
			<li>菌菌子：卡包为Top Players，A卡，效果是获得高速成长特性【高速】和技能【神功】并且开局装备表情包。</li>
			<li>俏佳人：卡包为Way of Life，C卡，效果是可以用笔记本电脑打电动。</li>
			<li>吉吉国民：卡包为Standard Pack，A卡，效果是称号固定为偶像歌姬。</li>
		</ul>
	</li>
	<li>（△）日常成就“听我唱歌吧”现在会额外赠送一张【吉吉国民】卡片，切糕奖励不变。</li>
	<li>（△）荣耀模式弹药类型简化：原本需要用手枪子弹或机枪子弹的枪械统一改用【实体子弹】，原本需要枪械电池或压缩气罐的枪械统一改用【能量弹药】。地图道具和商店出售的弹药类型相应修改，此外商店的实体子弹现在只有原本机枪子弹的数量，且耐久从20下降为10（相当于售价翻倍）；能量弹药现在只有原本压缩气罐的数量。</li>
	<li>（△）修正了部分成就的文字描述细节。</li>
	<li>（△）荣耀模式不同地图的先制率调整：原本是按“地图热闹程度”判定玩家先制率高低，现在逻辑明确一点：无月之影、指挥中心、梦幻馆、常磐台中学的玩家先制率-5%，SCP和英灵殿则是-10%。因为对难度有影响，先测试一下。</li>
	<li>（△）荣耀模式不同地图的攻击力、防御力修正取消：非常没有存在感的两个数据，先全部取消试试。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）之前忘了把开局和升级增加歌魂的机制推广到其他所有模式，现在这个问题已经解决了。现在标准、卡片、随机、PVE、伐木、SOLO、组队、试炼、荣耀和极速模式在开局都会增加额外50点歌魂和歌魂上限，并且升级时也会增加歌魂上限和恢复少量歌魂。另外，添加了走路萌物升级时不会增加歌魂上限和恢复歌魂的判定。</li>
	<li>（△）尝试修正了随机卡片模式无法完成某个隐藏成就的问题。</li>
	<li>（△）修正了卡片【大自然的搬运工】搬出来的某些带复合属性的道具数据错误的问题。</li>
	<li>（△）修正了卡片【复读机】代码运行时的一系列问题。</li>
	<li>（△）修复了卡片【创世神2009】的【保安】技能查看保安列表无法完全显示的问题。猜猜看这个BUG是怎么出现的。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）调整了【权限狗的ID卡】开局的位置，现在权限狗们将从脚底（屁股？）掏出ID卡开始权限。</li>
	<li>（△）大幅度修改了map模块和其他大量涉及禁区的底层判定，对游戏体验没有影响，但或许有助于新功能的搭建。</li>
</ul>

<h3>1月13日(v2.0.5)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在在一局游戏中学会第10首歌时，会额外学会一首特殊的歌曲。是什么呢……？</li>
	<li>（△）现在PVE解离模式和伐木模式增加了【尸体拾取设置】选项，允许玩家自定义是否允许尸体拾取后继续留在视野中。此外，组队模式增加了同SOLO模式一样的开局是否连斗的选项。</li>
	<li>（△）现在商店出售的技能书有悬浮使用提示了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增两个日常成就：
		<ul>
			<li>听我唱歌吧：把最大歌魂提升到233点以上。</li>
			<li>扫黑除恶：击杀一次红暮（试炼模式的红暮DUMMY也算）。</li>
		</ul>
	</li>
	<li>（△）游戏结算时的切糕奖励整体上调，基本上是翻倍甚至以上：幸存从40上调至120，解禁从60上调至233，解离从150上调至514（包含了先前因为代码错误而多给的“试炼模式奖励”100），其他胜利方式从40上调至100。</li>
	<li>（△）荣耀模式的部分功能以及商店道具、地图道具和NPC掉落三类数据覆盖到大房间、极速模式、解离模式和伐木模式，主要包含以下内容：。
		<ul>
			<li>荣耀模式第二轮修改过的大量地图道具。</li>
			<li>商店和NPC掉落的【外甲】装备。</li>
			<li>商店的防具改造类装备【R.M.霜铸炎甲】和【自动叠甲装置】。</li>
			<li>带【碎刃】、【碎甲】属性的一系列商店和地图道具（没什么存在感）。</li>
			<li>带【变化】属性的一系列地图道具，主要是一些可以套头的内裤、可以吃的丝袜这样的杂物。另外【变化】属性现在改名叫【多态】（虽然游戏里都看不到）</li>
			<li>带【余物】属性的一系列商店和地图道具。</li>
			<li>带【储物】属性的商店道具【劲爆小包】和少数地图道具。</li>
			<li>带【激奏】、【变奏】的商店和地图道具，以及升级增加歌魂上限功能。</li>
			<li>商店出售的新游戏王卡包。</li>
			<li>商店出售、地图上少量掉落的配方。</li>
			<li>商店出售的新版扫雷设备。</li>
			<li>商店出售、地图上少量掉落的状态药物。</li>
		</ul>
		原本解离、伐木、极速模式的部分特有道具依然保留。后续会逐步完善帮助页面的对应内容。
	</li>

	<li>荣耀模式的《旋转引导扇区》改放到【书籍】页面。</li>
	<li>墓地的诅咒道具【机关傀儡 梦魇】的效耐从10/100调整至500/2。喂玩家吃答辩是不文明行为。如果不得不喂，也请慷慨赴屎，不要少吃多餐。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了任意模式获得解离胜利都会收到【试炼模式胜利】的100切糕奖励邮件的问题。这100切糕现在直接补在解离奖励里了（切糕奖励整体上调）。</li>
	<li>（△）修复了帮助页面称号技能的天赋称号学习技能页面（好绕）里查看技能【神启】时错误显示怒气消耗的问题。</li>
	<li>（△）修复了自动叠甲装置在选择返回时会提示该道具不存在的显示问题，虽然区别不是很大。</li>
	<li>（△）卡片【试雪汉】现在不再纳入终生成就判定了。</li>
	<li>（△）修复了某些情况下战斗后升级时会触发两次增加歌魂的问题。</li>
	<li>（△）修复了教程模式可以提前把NPC打死并拿走武器，让NPC再次出现时无法正常攻击的问题。现在拿走NPC的道具时，NPC的武器会被设置成拳头。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）现在开局道具和配方合成也支持复合属性自动编码了。</li>
</ul>
<h3>1月5日(v2.0.4)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在卡片【圣殿的紫色隐士】的技能【神隐】在玩家死亡后将会释放被捕获的NPC。另外被神隐的NPC现在不再会行动了。</li>
	<li>（△）优化了NPC行动的逻辑，减少了NPC死亡后反复判定导致的资源消耗。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（△）称号【铁拳无敌】的负面技能【尊严】的效果改为：徒手攻击或者使用名字带“拳”字的武器攻击时没有伤害惩罚，使用其他钝器或者锐器攻击则伤害<span class="red b">减少50%</span>，使用其他系武器攻击则是<span class="red b">减少90%</span>。</li>
	<li>（△）仅在荣耀模式测试：称号【高速成长】、【肌肉兄贵】和【铁拳无敌】的类别改为普通技能，会在称号选择列表的前两行而不是后两行出现。此外，荣耀模式铁拳的出现概率从其他称号的40%上调到与其他称号相同。</li>
	<li>（+）称号【高速成长】添加了新的战斗技【神启】：本次攻击附加<span class="yellow b">40</span>点最终伤害，且额外触发称号特性“<span class="yellow b">高速</span>”<span class="yellow b">1</span>次，若击杀敌人则再触发<span class="yellow b">2</span>次，消耗<span class="yellow b">25</span>点怒气，<span class="yellow b">3</span>级时解锁。</li>
	<li>（△）称号【富家子弟】的称号技能【佣兵】的效果修改：现在雇主可以与被解雇的佣兵正常进战斗，较弱的佣兵被解雇时会随机移动到一个地点（原先为留在原地），较强的佣兵被解雇时会真正地离开战场（原先为将该佣兵的位置改为999……呃啊）。</li>
	<li>（△）现在葡萄和脸也可以被水果刀削皮了。另外，现在荣耀模式的水果刀可以当做具有【碎甲】属性的锐器使用了。</li>
	<li>（△）微调了卡片【最后密传】技能【炼狱】的描述（实际效果不变）。</li>
	<li>（△）卡片【八意制药】制造的【国士无双之药】在使用时增加了效果描述。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）现在无法在装备着非防具道具的部位上套外甲了。</li>
	<li>（△）修复了装备着无属性投掷武器作为箭矢的弓、套有无属性外甲的防具可以进行菁英强化的问题。</li>
	<li>（△）现在试炼模式的负面技能【蚀骨】减少生命值上限时不再会将升血带来的多余生命值清空了。</li>
	<li>（△）修复了玩家最新一局游戏的记录错误（仅影响后台查看）。</li>
	<li>（△）修复了查看2018年和2017年更新记录的按钮功能错误的问题。</li>
	<li>（△）修复了PVP组队模式玩家同时死亡时不会因为全灭而游戏结束的问题。</li>
</ul>
<p>
<p>底层和开发相关：</p>
<ul>
	<li>（+）把战斗中获得切糕拆分成单独模块，并且修改了部分模块错误的依赖。</li>
	<li>（△）现在复合属性自动编码支持嵌套了。</li>
</ul>

<h3>1月2日(v2.0.3)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）优胜列表增加了按试炼模式选择的选项。</li>
	<li>（△）现在教程房不会因为玩家提前击杀人偶拿走金钱而无法继续游戏了。现在人偶将在指定的步骤之后才会携带足够的金钱。</li>
	<li>（△）现在只有在标准、随机、卡片、PVE、伐木和荣耀模式下，三女主身上会携带【纸条AC】了。也就是说现在支持给会二阶段变身的NPC根据不同游戏模式来搭配不同的道具。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）荣耀模式商店【远程兵器】类别添加了技能书《旋转引导扇区》，使用后能获得射系武器弹夹翻倍且战斗后会自动从包裹中装填弹药的技能，售价600元。除此之外，消音器降价为450元，且售卖数量增加为2个。此项更新目前仅在荣耀模式进行测试。</li>
	<li>（△）卡片【最后密传】的效果写成了击杀30个敌人发动，实际是15个，现在这一笔误已经修复。</li>
	<li>（△）红暮和蓝凝的两个DUMMY现在有死亡台词了……算有吗？</li>
	<li>（△）试炼模式使用的隐藏卡片替换了，与卡池中实际存在的卡以示区别，效果则与原来相同。</li>
	<li>（△）试炼模式成就图标更新了。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了试炼模式本应20层连斗，实际18层就进入连斗的问题。</li>
	<li>（△）修复了被其他人下毒的补给毒死后不显示凶手的问题。另外现在中自己下的毒时不会再次读取自己的数据，避免丢失临时变量。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）模块系统新增了自动检测新增模块的功能，现在不用手敲目录名了。</li>
	<li>（△）把游戏模式相关的一些设定从system.config.php拆分出来形成gamemode.config.php。</li>
	<li>（△）调整了管理后台的一些显示。</li>
	<li>（△）调整了【权限狗的ID卡】生成的权限套装的强度，现在开局就能把HP升到2000以上，并且携带一个装有大堆测试道具的背包，方便进行测试。</li>
</ul>

<div id="show2023">
	<p>以上是2024年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2023">
		<input type="hidden" id="y2023" name="y" value="2023">
		<input type="button" onclick="$('show2023').style.display='none';$('cont2023').style.display='block';postCmd('updatelist2023','updatelist.php');$('y2023').name='y2023';" value="查看2023年的更新日志">
	</form>
</div>
<div id="cont2023" style="display:none">
</div>