{template header}
<br>

<div style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
<h2>更新日志</h2>
<h3>8月10日</h3>
数据调整：<br>
<ul>
<li>食堂的盒饭每禁出售10个（从5个上调），补充怒气变为50（从30上调）
<li>地图刷新的食堂的盒饭补充怒气变为100（从50上调）
<li>卡片莱恩、斧王、祈求者效果削弱
<li>卡片枪毙的某神必中效果基础时间变为600秒（从480秒上调），且发动时每点投熟再延长4秒
<li>雪兔【复制品】效果变为270（从300下调）
<li>夜刀【月影】属性削弱
<li>碎龙系列斩系武器属性增强
<li>轰龙系列斩系武器合成简化，属性增强
<li>鬼火『超高密度燐祸术』合成不再需要西瓜
<li>风符『风神一扇』效果变为250（从230上调）
<li>『咲夜的世界』删除重击辅助属性，效果变为120（从150下调），合成不再需要银色方块
</ul>
<h3>8月6日</h3>
数据调整：<br>
<ul>
<li>商店不再出售基本法
<li>地图刷新的基本法数量变为2（从1上调）
<li>删除宛如疾风的天文技能
<li>天文技能解锁等级变为0（从8下调）
<li>宛如疾风天助的命中和隐蔽收益减少（20级从15下调至10）
<li>添加了两张A级卡片
<li>充能技能冷却时间变为600秒（从900秒下调）
</ul>
<h3>5月25日</h3>
游戏特性变更：<br>
<ul>
<li>新增特殊debuff“眩晕”，无法进行任何行动或战斗（包括反击），受到的伤害增加。死斗后眩晕时间为正常的1/3
<li>现在手持重型枪械类型武器时，不允许发动任何战斗技能
<li>为三女主增加了技能
</ul>

称号技能变更：<br>
<ul>
<li>宛如疾风称号实装
<li>铁拳无敌称号的【格挡】不再需要升级，【猛击】增加了眩晕效果，略微降低了【偷袭】的怒气消耗，删除了【应变】
<li>超能力者称号的【必杀】重击辅助返还怒气效果提高，【充能】现在可以免CD使用2次
<li>锡安成员称号的【力场】极大幅度加强，【科学】与【EMP】增加了眩晕效果
<li>高速成长称号的【神击】增加了眩晕效果
<li>数学大神称号的【对偶】升级代价略微增加，【洞察】效果略微削弱，【证伪】【归约】解锁等级增加，修复了【灵感】罕见情况下出现BUG的问题
</ul>

<hr>

<br>
更之前的请参见github commit history吧-_-||<br>
<br>

</span></div>
{template footer}