<table>
	<tr>
		<td>{lang gender}</td>
		<td>
			<input type="radio" id="male" name="gender" onclick="userIconMover()" value="m" <!--{if $gender != "f"}-->checked<!--{/if}--> ><a onclick="$('male').click()">$sexinfo['m']</a>&nbsp;&nbsp;&nbsp;
			<input type="radio" id="female" name="gender" onclick="userIconMover()" value="f" <!--{if $gender == "f"}-->checked<!--{/if}-->><a onclick="$('female').click()">$sexinfo['f']</a>
		</td>
	</tr>
	<tr>
		<td>{lang icon}<br>&nbsp;</td>
		<td>
			<div>
				<select id="icon" name="icon" style="width:80px" onchange="userIconMover()">
					<!--{loop $iconarray $icon}-->
						$icon
					<!--{/loop}-->
				</select>
			</div>
			<div id="userIconImg" class="iconImg">
				<img src="img/<!--{if $gender != 'f'}-->m<!--{else}-->f<!--{/if}-->_{$select_icon}.gif" alt="$select_icon">
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span>修改从下一局游戏起生效。</span>
		</td>
	</tr>
</table>