<table>
	<tr>
		<td>{lang gender}</td>
		<td>
			<!--{loop Array('female','male') $gn}-->
            	<!--{eval $g = $gn[0];$go = 'f' == $g ? 'm' : 'f';}-->
				<input type="radio" id="$gn" class="radio_comb" name="gender" onclick="if(!$('sel_{$g}').checked) $('sel_{$g}').click();userIconMover();" value="{$g}" <!--{if $gender == "{$g}"}-->checked<!--{/if}--> />
				<a onclick="$('$gn').click();">$sexinfo[$g]</a>
				&nbsp;&nbsp;&nbsp;
			<!--{/loop}-->
		</td>
	</tr>
	<tr>
		<td>{lang icon}<br>&nbsp;</td>
		<td>
			<div>
				<span class="cyan b">点击头像可展开选择页面</span>
			</div>
			
			<div id="userIconImg" class="iconImg" onclick="bubblebox_show('pc_icon_selecting');">
				<img src="img/<!--{eval echo \player\icon_parser(0, $gender, $icon)[0];}-->" />
			</div>
			<input type="hidden" id="icon_selected" name="icon" value="$icon" />
		</td>
	</tr>
</table>

<!--{eval bubblebox_start('id:pc_icon_selecting;height:510;width:716;cancellable:1;z-index-base:35;');}-->
{template pc_icon_selecting}
<!--{eval bubblebox_end();}-->