<table align="center">
	<tr>
		<td>{lang motto}</td>
		<td><input size="30" type="text" name="motto" maxlength="30" value="{$motto}" placeholder="{lang motto_comment}"></td>
	</tr>
	<tr>
		<td>{lang killmsg}</td>
		<td><input size="30" type="text" name="killmsg" maxlength="30" value="{$killmsg}" placeholder="{lang killmsg_comment}"></td>
	</tr>
	<tr>
		<td>{lang lastword}</td>
		<td><input size="30" type="text" name="lastword" maxlength="30" value="{$lastword}" placeholder="{lang lastword_comment}"></td>
	</tr>
</table>