<table align="center" CellSpacing=0 CellPadding=1 width="250" height="260">
	<tr height="40">
		<td class=b2 width="40" height="40">卡名</td>
		<td id="cname" class=b3 width="210" height="40">$cards[$cardChosen]['name']</td>
	</tr>
	<tr height="40">
		<td class=b2 width="40" height="40">罕贵</td>
		<td id="crare" class=b3 width="210" height="40"><span class="{$card_rarecolor[$cards[$cardChosen]['rare']]}">$cards[$cardChosen]['rare']</span></td>
	</tr>
	<tr height="40">
		<td class=b2 width="40" height="40">系列</td>
		<td id="cpack" class=b3 width="210" height="40">$cards[$cardChosen]['pack']</td>
	</tr>
	<tr height="70">
		<td class=b2 width="40" height="70">介绍</td>
		<td id="cdesc" class=b3 width="210" height="70">$cards[$cardChosen]['desc']</td>
	</tr>
	<tr height="70">
		<td class=b2 width="40" height="70">效果</td>
		<td id="ceffect" class=b3 width="210" height="70">$cards[$cardChosen]['effect']</td>
	</tr>
</table>