{template header}
<div class="subtitle" align="center">{lang user}</div>
<center>
	<table style="text-align: center;" CellSpacing=0 CellPadding=0>
	<tr>
		<td>
			<table>
			<tr>
				<td>{lang username}</td>
				<td width=55px>&nbsp;</td>
				<td>$username</td>
			</tr>
			<tr>
				<td>{lang validgames}</td>
				<td width=55px>&nbsp;</td>
				<td>$validgames</td>
			</tr>
			<tr>
				<td>{lang wingames}</td>
				<td width=55px>&nbsp;</td>
				<td>$wingames</td>
			</tr>
			<tr>
				<td>{lang winrate}</td>
				<td width=55px>&nbsp;</td>
				<td>$winning_rate</td>
			</tr>
			<!--{if defined('MOD_ELORATING')}-->
			<tr style="cursor:pointer;" title="点击查看天梯积分详细信息" onclick="bubblebox_show('elodata');">
				<td>天梯积分</td>
				<td width=55px>&nbsp;</td>
				<td><!--{if $elo_history==''}-->1500<!--{else}--><span style="color:<!--{eval echo \elorating\elorating_get_color($elo_rating);}-->"><span style="font-weight:bold;">$elo_rating</span></span><!--{/if}--></td>
			</tr>
			<!--{/if}-->
			<tr>
				<td>{lang credits}</td>
				<td width=55px>&nbsp;</td>
				<td>$credits</td>
			</tr>
			<tr>
				<td>切糕</td>
				<td width=55px>&nbsp;</td>
				<td>$gold</td>
			</tr>
			<!--{if $gold2}-->
			<tr>
				<td><span class="cyan b">因果</span></td>
				<td width=55px>&nbsp;</td>
				<td><span class="cyan b">$gold2</span></td>
			</tr>
			<!--{/if}-->
			<tr style="cursor:pointer;" title="点击查看身份卡详细信息" onclick="bubblebox_show('carddata');">
				<td>身份卡</td>
				<td width=55px>&nbsp;</td>
				<td><span class="{$rarecolor}">$cr $carr['name']</span></td>
			</tr>
			</table>
		</td>
		<td width=60px>&nbsp;</td>
		<td>
			<table>
			<tr><td>
				<div id="userIconImg" class="iconImg" >
					<img src="img/<!--{if $gender != 'f'}-->m<!--{else}-->f<!--{/if}-->_{$select_icon}.gif" alt="$select_icon">
				</div>	
			</td></tr>
			<tr><td>
				<!--{if ($curuser) }--><button type="button" class="b_button bc_white" style="width:140px;padding:0.5em;" onclick="window.location.href='user.php'">编辑我的账户资料</button><!--{/if}-->
			</td></tr>
			<tr><td>
				<!--{if ($curuser) }--><button type="button" class="b_button bc_white" style="width:140px;padding:0.5em;" onclick="window.location.href='kujilist.php'">我要抽卡</button><!--{/if}-->
			</td></tr>
			<tr><td>
				<!--{if ($curuser) }-->
					<button type="button" class="b_button bc_white" style="width:140px;padding:0.5em;" onclick="window.location.href='cardbook.php?packName=Standard Pack'">查看我的卡册</button>
				<!--{else}-->
					<button type="button" class="b_button bc_white" style="width:140px;padding:0.5em;" onclick="window.location.href='cardbook.php?playerID={$uname}&packName=Standard Pack'">查看他的卡册</button>
					<br><button type="button" class="b_button bc_white" style="width:140px;padding:0.5em;" onclick="window.location.href='showcase.php?playerID={$uname}'">查看他的展柜</button>
				<!--{/if}-->
			</td></tr>
			</table>
		</td>
	</tr>
	</table>
	<div style="width:600px;text-align:center;"><span class="cyan b">点击天梯积分和身份卡可以查看详细信息</span></div>
	<!--{if defined('MOD_ACHIEVEMENT_BASE')}-->
		{template achievements}
	<!--{/if}-->
	<br><br>
</center>

<!--{if defined('MOD_ELORATING')}-->
<!--{eval bubblebox_start('id:elodata;height:450;width:650;cancellable:1;');}-->
<!--{eval \elorating\elorating_show();}-->
<input class="cmdbutton" onclick="bubblebox_hide_all();" value="关闭窗口" type="button">
<!--{eval bubblebox_end();}-->
<!--{/if}-->

<!--{eval bubblebox_start('id:carddata;height:370;width:250;cancellable:1;');}-->
<div style="text-align:center;">
	<div style="margin:2px">以下是该身份卡的数据。</div>
	<!--{eval $nowcard=$carr;}-->	
	{template MOD_CARDBASE_CARD_FRAME}
	<div style="margin:2px"><input class="cmdbutton" onclick="bubblebox_hide_all();" value="关闭窗口" type="button"></div>
</div>
<!--{eval bubblebox_end();}-->
{template footer}