{template header}
<script type="text/javascript" src="include/javascript/replay.20231107.js"></script>
<span class="subtitle">历史优胜者
	<!--{if room_check_subroom($room_prefix)}-->
		<!--{if room_prefix_kind($room_prefix)=='n'}-->&nbsp;-&nbsp;新手区
		<!--{elseif room_prefix_kind($room_prefix)=='s'}-->&nbsp;-&nbsp;房间区
		<!--{/if}-->
	<!--{else}-->&nbsp;-&nbsp;标准区<!--{/if}-->
</span>
<div style="position:relative">
	<div id="loading"></div>
	<!--{if $command == 'info'}-->
		{template winnerinfo}
	<!--{elseif $command == 'news'}-->
		<form method="post" name="info" action="winner.php">
		<input type="submit" value="返回优胜列表">
		<div align="left">
		$hnewsinfo
		</div>
		<input type="submit" value="返回优胜列表">
		</form>
	<!--{else}-->
		{template winnerlist}
	<!--{/if}-->
</div>
{template footer}
