<br>

<form method="post" name="info" onsubmit="winner.php">
<input type="hidden" id="user_prefix" name="user_prefix" value="$user_prefix">
<input type="hidden" id="show_all" name="show_all" value="$show_all">
<input type="hidden" id="command" name="command" value="info">
<input type="hidden" id="start" name="start" value="$gamenum">
<input type="hidden" id="gnum" name="gnum" value="">
<center>
	<br>
	<input type="button" value="查看标准区历史优胜" onclick="$('user_prefix').value='';$('show_all').value='1';$('command').value='list';$('start').value='0';document.info.submit();">
	<input type="button" value="查看房间区优胜记录" onclick="$('user_prefix').value='s';$('show_all').value='0';$('command').value='list';$('start').value='0';document.info.submit();">
	<input type="button" value="查看房间区所有记录" onclick="$('user_prefix').value='s';$('show_all').value='1';$('command').value='list';$('start').value='0';document.info.submit();">
	<br>
	<br>
	<!--{if isset($markarr)}-->
		<!--{if $larger_mark}--><input style="width: 80px;" type="button" value="上一页" onclick="document['list']['start'].value = '$larger_mark';document['list'].submit();"><!--{/if}-->
		<!--{if $start != $largest_mark}--><a onclick="document['list']['start'].value = '$largest_mark';document['list'].submit();">第{$largest_mark}回</a>...<!--{/if}-->
		<!--{eval rsort($markarr);}-->
		<!--{loop $markarr $minfo}-->
			&nbsp;
			<!--{if $minfo == $start}-->
				<span class="evergreen">第{$minfo}回</span>
			<!--{else}-->
				<a onclick="document['list']['start'].value = '$minfo';document['list'].submit();">第{$minfo}回</a>
			<!--{/if}-->
			&nbsp;
		<!--{/loop}-->
		<!--{if $start != $smallest_mark}-->...<a onclick="document['list']['start'].value = '$smallest_mark';document['list'].submit();">第{$smallest_mark}回</a><!--{/if}-->
		<!--{if $smaller_mark}--><input style="width: 80px;" type="button" value="下一页" onclick="document['list']['start'].value = '$smaller_mark';document['list'].submit();"><!--{/if}-->
		&nbsp;&nbsp;&nbsp;<input id="winnermark" style="width: 60px;" type="text" value="$start">
		&nbsp;<input style="width: 80px" type="button" value="跳转" onclick="document['list']['start'].value = $('winnermark').value;document['list'].submit();">
	<!--{/if}-->
	<br>
	<br>
	<TABLE border="1" cellspacing="0" cellpadding="0">
		<TR height="20">
			<TD class="b1"><span>回</span></TD>
			<TD class="b1"><span>游戏模式</span></TD>
			<TD class="b1"><span>胜利方式</span></TD>
			<TD class="b1"><span>优胜者名</span></TD>
			<TD class="b1"><span>头像</span></TD>
			<TD class="b1"><span>游戏结束时间</span></TD>
			<TD class="b1"><span>胜利者留言</span></TD>
			<TD class="b1"><span>使用武器</span></TD>
			<TD class="b1"><span>最高伤害</span></TD>
			<TD class="b1"><span>杀人最多</span></TD>
			<TD class="b1" colspan=2><span>查看信息</span></TD>
		</TR>
		<!--{loop $winfo $gid $info}-->
		<TR height="40">
			<TD class="b2"><span>$gid</span></TD>
			<TD class="b3"><span>$gtinfo[$info['gametype']]</span></TD>
			<TD class="b3"><span><!--{if $info['winnum']>1}-->团队幸存<!--{else}-->$gwin[$info['wmode']]<!--{/if}--></span></TD>
			<!--{if $info['winnum']>1}-->
			<TD class="b3" colspan><span class="yellow">$info['teamID']</span></TD>
			<TD class="b3"><span><img src="img/n_0.gif" style="width:70;height:40;"></span></TD>
			<!--{else}-->
			<!--{eval $info['urlname']=htmlentities(urlencode($info['name']));}-->
			<TD class="b3" style="white-space: nowrap;"><!--{if $info['name']}--><a style="cursor:pointer;" href="user_profile.php?playerID=$info['urlname']"><span class="evergreen">$info['name']</span></a><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<TD class="b3"><span><img src="img/$info['iconImg']" style="width:70;height:40;"></span></TD>
			<!--{/if}-->
			<TD class="b3"><span>$info['date']</span><br><span>$info['time']</span></TD>
			<!--{if $info['winnum']>1}-->
			<!--{eval $t=explode(',',$info['namelist']);}-->
			<!--{eval $x='';}-->
			<!--{loop $t $key}-->
			<!--{if $key!=''}-->
			<!--{eval $x.='<a style="cursor:pointer;" href="user_profile.php?playerID='.htmlentities(urlencode($key)).'"><span>'.$key.'</span></a>,';}-->
			<!--{/if}-->
			<!--{/loop}-->
			<TD class="b3" colspan=2>队伍成员: <!--{eval echo substr($x,0,-1)}--></TD>
			<!--{else}-->
			<TD class="b3"><!--{if $info['motto']}--><span class="white">$info['motto']</span><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['wep']}--><span class="white">$info['wep']</span><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<!--{/if}-->
			<!--{eval $info['urlhdp']=htmlentities(urlencode($info['hdp']));}-->
			<!--{eval $info['urlhkp']=htmlentities(urlencode($info['hkp']));}-->
			<TD class="b3"><!--{if $info['hdmg']}--><a style="cursor:pointer;" href="user_profile.php?playerID=$info['urlhdp']"><span>$info['hdp']</span></a><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['hkill']}--><a style="cursor:pointer;" href="user_profile.php?playerID=$info['urlhkp']"><span>$info['hkp']</span></a><!--{else}--><span class="grey">无</span><!--{/if}--></TD>
			<!--{if defined('MOD_REPLAY')}-->
			<TD class="b3">
				<span>
					<input type="button" style="width:80px;height:40px;-webkit-appearance:default-button;" value="录像回放" <!--{if $info['wmode'] && $info['wmode'] !=4 }-->onclick="$('start').value = '$start'; $('command').value='replay';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
				</span>
			</TD>
			<!--{else}-->
			<td></td>
			<!--{/if}-->
			<TD class="b3" width=60px>
				<span>
					<input type="button" style="width:80px;height:20px;" value="角色信息" <!--{if $info['wmode'] && $info['wmode'] != 1 && $info['wmode'] !=4 && $info['wmode'] != 6 && $info['winnum']<=1}-->onclick="$('command').value='info';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
					<input type="button" style="width:80px;height:20px;" value="该局状况" <!--{if $info['wmode'] && $info['wmode'] !=4}-->onclick="$('command').value='news';$('gnum').value='$gid';document.info.submit();"<!--{else}-->disabled<!--{/if}-->>
				</span>
			</TD>
		</TR>
		<!--{/loop}-->
	</TABLE>
</center>
</form>

<form method="post" name="list" action="winner.php">
<input type="hidden" id="user_prefix" name="user_prefix" value="$user_prefix">
<input type="hidden" name="command" value="list">
<input type="hidden" name="start" value="$gamenum">
<br>
</form>

<!--{if $command=='replay' && defined('MOD_REPLAY')}-->
<!--{eval \replay\get_replay_by_gnum($gnum,$rep_winmode);}-->
<!--{/if}-->
