<br>

<form method="post" name="list" onsubmit="winner.php">
<input type="hidden" id="user_prefix" name="user_prefix" value="$user_prefix">
<input type="hidden" id="command" name="command" value="list">
<input type="hidden" id="start" name="start" value="$gamenum">
<input type="hidden" id="gnum" name="gnum" value="">
<center>
	<p>
		<input type="button" value="查看 / 搜索 标准区" onclick="document.list.user_prefix.value='';document.list.command.value='list';document.list.start.value='0';document.list.submit();">
		<input type="button" value="查看 / 搜索 房间区" onclick="document.list.user_prefix.value='s';document.list.command.value='list';document.list.start.value='0';document.list.submit();">
	</p>
	<p>
		<input type="checkbox" id="winner_show_gtype_0" name="winner_show_gtype_0" <!--{if $winner_show_gtype_0}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_0').click();">$gtinfo[0]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_6" name="winner_show_gtype_6" <!--{if $winner_show_gtype_6}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_6').click();">$gtinfo[6]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_4" name="winner_show_gtype_4" <!--{if $winner_show_gtype_4}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_4').click();">$gtinfo[4]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_1" name="winner_show_gtype_1" <!--{if $winner_show_gtype_1}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_1').click();">$gtinfo[1]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_10" name="winner_show_gtype_10" <!--{if $winner_show_gtype_10}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_10').click();">$gtinfo[10]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_14" name="winner_show_gtype_14" <!--{if $winner_show_gtype_14}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_14').click();">$gtinfo[14]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_15" name="winner_show_gtype_15" <!--{if $winner_show_gtype_15}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_15').click();">$gtinfo[15]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_16" name="winner_show_gtype_16" <!--{if $winner_show_gtype_16}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_16').click();">$gtinfo[16]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_18" name="winner_show_gtype_18" <!--{if $winner_show_gtype_18}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_18').click();">$gtinfo[18]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_19" name="winner_show_gtype_19" <!--{if $winner_show_gtype_19}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_19').click();">$gtinfo[19]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_gtype_13" name="winner_show_gtype_13" <!--{if $winner_show_gtype_13}-->checked<!--{/if}-->><a onclick="$('winner_show_gtype_13').click();">$gtinfo[13]</a>&nbsp;&nbsp;
	</p>
	<p>
		<input type="checkbox" id="winner_show_wmode_2" name="winner_show_wmode_2" <!--{if $winner_show_wmode_2}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_2').click();">$gwin[2]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_3" name="winner_show_wmode_3" <!--{if $winner_show_wmode_3}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_3').click();">$gwin[3]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_5" name="winner_show_wmode_5" <!--{if $winner_show_wmode_5}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_5').click();">$gwin[5]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_7" name="winner_show_wmode_7" <!--{if $winner_show_wmode_7}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_7').click();">$gwin[7]</a>&nbsp;&nbsp;
		<input type="checkbox" id="winner_show_wmode_8" name="winner_show_wmode_8" <!--{if $winner_show_wmode_8}-->checked<!--{/if}-->><a onclick="$('winner_show_wmode_8').click();">$gwin[8]</a>&nbsp;&nbsp;
		搜索玩家：<input id="winner_show_winner" name="winner_show_winner" style="width: 120px;" type="text" value="$winner_show_winner">
		<input type="button" class="cmdbutton" value="搜索" onclick="document.list.command.value='list';document.list.submit();">
	</p>
	<p>
	<!--{if $result_num > $winlimit}-->
		
		<!--{if $start != $largest_mark}--><a onclick="document.list.start.value = '$largest_mark';document.list.command.value='list';document.list.submit();">第{$largest_mark}回</a>&nbsp;&nbsp;...&nbsp;&nbsp;<!--{/if}-->
		<!--{if $larger_mark && $larger_mark < $largest_mark}--><a onclick="document.list.start.value = '$larger_mark';document.list.command.value='list';document.list.submit();">第{$larger_mark}回</a>&nbsp;&nbsp;<!--{/if}-->
		<span class="evergreen b">第{$start}回</span>&nbsp;&nbsp;
		<!--{if $smaller_mark && $smaller_mark > $smallest_mark}--><a onclick="document.list.start.value = '$smaller_mark';document.list.command.value='list';document.list.submit();">第{$smaller_mark}回</a>&nbsp;&nbsp;<!--{/if}-->
		<!--{if $start != $smallest_mark}-->...&nbsp;&nbsp;<a onclick="document.list.start.value = '$smallest_mark';document.list.command.value='list';document.list.submit();">第{$smallest_mark}回</a><!--{/if}-->
		&nbsp;&nbsp;&nbsp;<input id="winnermark" style="width: 60px;" type="text" value="$start">
		&nbsp;<input style="width: 80px" type="button" value="跳转" onclick="document.list.start.value = $('winnermark').value;document.list.command.value='list';document.list.submit();">
	<!--{/if}-->
	</p>
	<br>
	<TABLE border="1" cellspacing="0" cellpadding="3">
		<TR height="20">
			<TD class="b1"><span>回</span></TD>
			<TD class="b1"><span>游戏模式</span></TD>
			<TD class="b1"><span>胜利方式</span></TD>
			<TD class="b1"><span>游戏结束时间</span></TD>
			<TD class="b1"><span>参与者数</span></TD>
			<TD class="b1"><span>优胜者名</span></TD>
			<TD class="b1"><span>卡片</span></TD>
			<TD class="b1"><span>头像</span></TD>
			<TD class="b1"><span>胜利者留言</span></TD>
			<TD class="b1"><span>使用武器</span></TD>
			<TD class="b1"><span>VAPM/APM</span></TD>
			<TD class="b1"><span>最高伤害</span></TD>
			<TD class="b1"><span>杀人最多</span></TD>
			<TD class="b1" colspan=2><span>查看信息</span></TD>
		</TR>
		<!--{loop $winfo $gid $info}-->
		<TR height="40">
			<TD class="b2"><span>$gid</span></TD>
			<TD class="b3">
				<span>
					<!--{if strpos($gameurl,'dianbo')!==false && $gid <= 41956 && $gid >= 26398 && !$info['gametype']}-->
						$gtinfo[4]
					<!--{else}-->
						$gtinfo[$info['gametype']]
					<!--{/if}-->
				</span>
			</TD>
			<TD class="b3"><span><!--{if $info['winnernum']>1}-->团队幸存<!--{else}-->$gwin[$info['wmode']]<!--{/if}--></span></TD>
			<TD class="b3"><span>$info['date']</span><br><span>$info['time']</span></TD>
			<TD class="b3"><span>$info['vnum']</span></TD>
			<!--{if $info['winnernum']>1}-->
			<TD class="b3" colspan><span class="yellow b">$info['winnerteamID']</span></TD>
			<TD class="b3"><span></span></TD>
			<TD class="b3"><span><img src="img/n_0.gif" style="width:70;height:40;"></span></TD>
			<!--{else}-->
			<!--{eval $info['urlname']=htmlentities(urlencode($info['winner']));}-->
			<TD class="b3" style="white-space: nowrap;"><!--{if $info['winner']}--><a style="cursor:pointer;" href="user_profile.php?playerID=$info['urlname']"><span class="evergreen b">$info['winner']</span></a><!--{else}--><span class="grey b">无</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['winner']}--><!--{if isset($info['card'])}--><span class="{$card_rarecolor[$cards[$info['card']]['rare']]}">$cards[$info['card']]['name']</span><!--{else}--><span></span>$info['cardname']</span><!--{/if}--><!--{else}--><span class="grey b">-</span><!--{/if}--></TD>
			<TD class="b3"><span><img src="img/$info['iconImg']" style="width:70;height:40;"></span></TD>
			
			<!--{/if}-->
			
			<!--{if $info['winnernum']>1}-->
			
			<!--{eval $t=explode(',',$info['winnerlist']);}-->
			<!--{eval $x='';}-->
			<!--{loop $t $key}-->
			<!--{if $key!=''}-->
			<!--{eval $x.='<a style="cursor:pointer;" href="user_profile.php?playerID='.htmlentities(urlencode($key)).'"><span>'.$key.'</span></a>,';}-->
			<!--{/if}-->
			<!--{/loop}-->
			<TD class="b3" colspan=2>队伍成员: <!--{eval echo substr($x,0,-1)}--></TD>
			<!--{else}-->
			<TD class="b3" style="max-width:250px;"><!--{if $info['motto']}--><span class="white b">$info['motto']</span><!--{else}--><span class="grey b">无</span><!--{/if}--></TD>
			<TD class="b3" style="max-width:250px;"><!--{if $info['wep']}--><span class="white b">$info['wep']</span><!--{else}--><span class="grey b">无</span><!--{/if}--></TD>
			<!--{/if}-->
			<TD class="b3"><span>$info['apm_words']</span></TD>
			<!--{eval $info['urlhdp']=htmlentities(urlencode($info['hdp']));}-->
			<!--{eval $info['urlhkp']=htmlentities(urlencode($info['hkp']));}-->
			<TD class="b3"><!--{if $info['hdmg']}--><a style="cursor:pointer;" href="user_profile.php?playerID=$info['urlhdp']"><span>$info['hdp']</span></a><!--{else}--><span class="grey b">无</span><!--{/if}--></TD>
			<TD class="b3"><!--{if $info['hkill']}--><a style="cursor:pointer;" href="user_profile.php?playerID=$info['urlhkp']"><span>$info['hkp']</span></a><!--{else}--><span class="grey b">无</span><!--{/if}--></TD>
			<!--{if defined('MOD_REPLAY')}-->
			<TD class="b3">
				<span>
					<input type="button" style="width:80px;height:40px;-webkit-appearance:default-button;" value="录像回放" <!--{if $info['wmode'] && $info['wmode'] !=4 }-->onclick="document.list.start.value = '$start'; document.list.command.value='replay';document.list.gnum.value='$gid';document.list.submit();$('loading').style.display = 'block';"<!--{else}-->disabled<!--{/if}-->>
				</span>
			</TD>
			<!--{else}-->
			<td></td>
			<!--{/if}-->
			<TD class="b3" width=60px>
				<span>
					<input type="button" style="width:80px;height:20px;" value="角色信息" <!--{if $info['wmode'] && $info['wmode'] != 1 && $info['wmode'] !=4 && $info['wmode'] != 6 && $info['winnernum']<=1}-->onclick="document.list.command.value='info';document.list.gnum.value='$gid';document.list.submit();$('loading').style.display = 'block';"<!--{else}-->disabled<!--{/if}-->>
					<input type="button" style="width:80px;height:20px;" value="该局状况" <!--{if $info['wmode'] && $info['wmode'] !=4}-->onclick="document.list.command.value='news';document.list.gnum.value='$gid';document.list.submit();$('loading').style.display = 'block';"<!--{else}-->disabled<!--{/if}-->>
				</span>
			</TD>
		</TR>
		<!--{/loop}-->
	</TABLE>
</center>
</form>
<br>
</form>

<!--{if $command=='replay' && defined('MOD_REPLAY')}-->
<!--{eval \replay\get_replay_by_gnum($gnum,$rep_winmode);}-->
<!--{/if}-->
