div.ach_box
{
	background-color:rgba(20,22,24,0.5); *BACKGROUND: rgb(20,22,24); *filter:alpha(opacity=50); 
	display:Inline-block;
	width:320px; min-height:110px;text-align:left; vertical-align:top;
	margin:5px;	border:1px solid #666;	border-radius:7px;
}

div.ach_box div
{
	position:relative;filter:alpha(opacity=100); opacity:1;
}

div.ach_box img
{
	border-radius:5px; margin-right:5px;
}

div.ach_box .ach_cont
{
	text-align:left; vertical-align:middle;
}

div.ach_box_empty
{
	display:Inline-block;
	width:300px; text-align:left; vertical-align:top;
	margin:5px;	border:0px;	
}

span.ach_title{font-weight:bold;font-size:12pt;line-height:14pt;}